# Configuration file for building this project with Travis CI
language: python
python: 
  - "2.7"
install: pip install -r REQUIREMENTS --use-mirrors
script: python manage.py test storybase_story --settings=settings.travis
postgres:
  adapter: postgresql
  database: atlas_test
  username: postgres
before_install:
  - "sudo apt-get install gdal-bin libproj-dev postgis postgresql-8.4-postgis"
  - "sudo bash ./scripts/create_template_postgis-debian.sh"
branches:
  only:
    - master
    - develop
