-e git+https://github.com/fusionbox/fusionbox-fabric-helpers.git#egg=fusionbox-fabric-helpers
beautifulsoup
bleach
cmsplugin-filer
cssselect
dj-database-url
django-backupdb>=0.6.0
django-categories
django-cms>=3.0,<3.1
django-compressor
django-dag
django-dotenv
django-email-bandit
django-haystack
django-localflavor
django-model-utils
django-notification
django-passwords
django-registration
django-reversion==1.8.5
django-social-auth
django-taggit
django-tastypie
django-threadedcomments
django-tinymce
django-uuidfield
django==1.6
djangocms-text-ckeditor
geopy
lxml
micawber
mimeparse
oauth2
pillow
psycopg2
pysolr
python-memcached
pytz
raven==5.1
shortuuid
