-e git+https://github.com/elpaso/django-dag@74165d7298202818a6b9cb099a322213b2079740#egg=django-dag
-e git+https://github.com/macropin/django-uuidfield.git@9bd27e96ede8cf770df60808f2c772c48ec73e74#egg=django-uuidfield
# https://github.com/django-haystack/django-haystack/issues/1212
-e git+https://github.com/django-haystack/django-haystack@f27e4695eecc84538217bcc2691cbb220074cc47#egg=django-haystack
# https://github.com/divio/django-cms/issues/5447
-e git+https://github.com/fusionbox/django-cms@a2742d1a8dbc82ace37ce78ed9fe6bb84e514736#egg=django-cms
-e git://github.com/fusionbox/django-fusionbox.git#egg=django_fusionbox
beautifulsoup
bleach
cmsplugin-filer==1.0.1
cssselect
dj-database-url
django-backupdb>=0.6.0
django-categories==1.4
django-compressor
django-compressor-autoprefixer
django-debug-toolbar
django-dotenv
django-email-bandit
django-extensions
django-localflavor
django-model-utils
django-passwords
django-registration-redux
django-reversion==1.8.5
django-taggit
django-tastypie
django-threadedcomments
django-tinymce
django>=1.8,<1.9
djangocms-text-ckeditor>=2.9,<3.0
geopy
lxml
micawber
mimeparse
pillow
pinax-notifications
psycopg2
pysolr
python-memcached
python-social-auth
pytz
raven==5.1
shortuuid
