-e git+https://github.com/elpaso/django-dag@74165d7298202818a6b9cb099a322213b2079740#egg=django-dag
-e git+https://github.com/macropin/django-uuidfield.git@9bd27e96ede8cf770df60808f2c772c48ec73e74#egg=django-uuidfield
beautifulsoup
bleach
cmsplugin-filer
cssselect
dj-database-url
django-backupdb>=0.6.0
django-categories==1.3b8
django-cms>=3.1
django-compressor
django-compressor-autoprefixer
django-debug-toolbar
django-dotenv
django-email-bandit
django-extensions
django-haystack
django-localflavor
django-model-utils
django-notification
django-passwords
django-registration-redux
django-reversion==1.8.5
django-taggit
django-tastypie
django-threadedcomments
django-tinymce
django>=1.8
djangocms-text-ckeditor
geopy
lxml
micawber
mimeparse
pillow
psycopg2
pysolr
python-memcached
python-social-auth
pytz
raven==5.1
shortuuid
