{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Account activation" %}{% endblock %}

{% block base_content %}{% url "auth_login" as auth_login_url %}
<div class="content-page generic container_12">
  <div class="grid_12 content-block">
    <h1><span>{% trans "Account activation" %}</span></h1>

    <h2>{% trans "Oops, something unexpected happened with your account activation" %}</h2>

    <p>{% trans "Try these steps to get started" %}:</p>

    <ul>
        <li>{% blocktrans %}Try <a href="{{ auth_login_url }}" title="Log In">logging in</a> with your email address and password. You may have already activated your account.{% endblocktrans %}</li>
        <li>{% trans "Carefully copy and paste the activation link from the email into your browser instead of clicking on it." %}</li>
        <li>{% blocktrans %}Still stuck? Email us at <a href="mailto:{{ storybase_contact_email }}">{{storybase_contact_email}}</a> and we'll get you sorted out.{% endblocktrans %}</li>
     </ul>
  </div>
</div>
{% endblock %}
