{% extends "base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body_class %}accounts login{% endblock %}

{% block base_content %}
<h1><span>{% trans "Sign In" %}</span></h1>

<p><a href="{% url registration_register %}">{% trans "Don't have an account? Join now." %}</a></p>

{% if social_auth %}
<h2><span>{% trans "Sign in using your favorite social media account" %}</span></h2>
<ul>
  {% for name, value in social_auth.items %}
  <li><a href="{% url socialauth_begin name %}" class="{{ name }}">{% trans "Sign in with" %} {{ name|capfirst }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2><span>{% blocktrans %}Or, sign in with your {{ storybase_site_name }} account{% endblocktrans %}</span></h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans "Sign In" %}" />
</form>

<ul>
    <li><a href="{%url password_reset %}">{% trans "Forgot password?" %}</a></li>
</ul>

{% endblock %}
