{% extends "base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block base_content %}
<h1><span>{% trans "Enter your email address to reset your password" %}</span></h1>

<p>{% trans "We will send an email to the address on your account with instructions on how to change your password" %}.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email' %}</label> {{ form.email }}</p>
<p><input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>
{% endblock %}
