{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans with user_first_name=user.first_name %}
Hi {{ user_first_name }},

You requested to reset the passsword for the {{ storybase_site_name }} account associated with this email address.{% endblocktrans %}

{% trans "Please go to the following page to reset your password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktrans %}If you need further help, please contact us at {{ storybase_contact_email }}.{% endblocktrans %}

{% blocktrans %}The {{ storybase_site_name }} Team{% endblocktrans %}

{% endautoescape %}
