{% extends "base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block base_content %}
<h1><span>{% trans "Sign Up" %}</span></h1>

<p>{% trans "Already have an account?" %} <a href="{% url auth_login %}">{% trans "Sign in here" %}</a>.</p>

{% if social_auth %}
<h2><span>{% blocktrans %}Join {{ storybase_site_name }} using your favorite social media account{% endblocktrans %}<span></h2>
<ul>
  {% for name, value in social_auth.items %}
  <li><a href="{% url socialauth_begin name %}" class="{{ name }}">{% trans "Sign up with" %} {{ name|capfirst }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2><span>{% blocktrans %}Or, create an account directly with {{ storybase_site_name }}{% endblocktrans %}</span></h2>

<form method="post" {%if form.errors %}class="errors"{% endif %}>{% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
  <p class="{{ field.css_classes }}">
    {{ field.errors }}
    <label for="{{field.html_name}}">{% if field.name == "tos"%}{% trans "I agree to the "%}<a href="{% page_url "tos" %}" class="toggle-tos">{% trans "terms of service" %}</a>{% else %}{{ field.label }}{% endif %}:</label>
    {{ field }}
  </p>
  {% endfor %}
  {% include "registration/terms_of_service.html" %}
  <input type="submit" value="{% trans "Sign Up" %}" />
</form>
{% endblock %}

{% block extrajs %}
{% include "registration/terms_of_service_js.html" %}
{% endblock %}
