{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Thanks for signing up" %}{% endblock %}


{% block base_content %}
<h1><span>{% trans "Thanks for signing up" %}</span></h1>

<p>{% trans "There’s one last step before you can begin creating stories on Floodlight. We’ve sent you a confirmation email. Click the link in that email to verify your account and log in." %}</p>

<p>{% trans "If for some reason you don’t receive an email (make sure you check your spam filter), contact us at help@floodlightproject.org." %}</p>
{% endblock %}
