{% extends "base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block base_content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% trans "Already have an account?" %} <a href="{% url auth_login %}">{% trans "Sign in here" %}</a>.</p>

{% if social_auth %}
<h2><span>{% blocktrans %}Join {{ storybase_site_name }} using your favorite social media account{% endblocktrans %}<span></h2>
<ul>
  {% for name, value in social_auth.items %}
  <li><a href="{% url socialauth_begin name %}" class="{{ name }}">{% trans "Sign up with" %} {{ name|capfirst }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2><span>{% blocktrans %}Or, create an account directly with {{ storybase_site_name }}{% endblocktrans %}</span></h2>

<form method="post" {%if form.errors %}class="errors"{% endif %}>{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans "Sign Up" %}" />
</form>
{% endblock %}
