// based on being included inside a body.base-template block.
// not awesome have that hidden dependency, but ...
&.accounts.login,
&.accounts.register {

  h2 {
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;
  }

  #main {
    text-align: center;
  }

  #main form {
    text-align: center;
    margin: auto;
    width: 75%;

    input[type=text],
    input[type=password] {
      width: 55%;
    }

    input[type="submit"] {
      margin-bottom: 20px;
    }
  }

  a.twitter,
  a.facebook {
    min-width: 220px;
    margin-bottom:1em;
    padding-right:0.5em;

    &:before {
      font-family: "FontAwesome";
      font-size: 1.5em;
      margin-right: 1em;
      position: relative;
    }
  }

  a.twitter {
    .gradient-button(rgb(64, 146, 204));

    &:before {
      content: "\f099";
    }
  }

  a.facebook {
    .gradient-button(rgb(59, 89, 152));
    &:before {
      content: "\f09a";
      top: 0.15em;
    }
  }
}

&.account-stories .table-wrapper.responsive {
  .responsive-table-wrapper(@screen-sm-max);
}

table.account-stories {
  td.last-edited {
    white-space: nowrap;
  }

  td.action {
    text-align: center;
  }
}

