
/* Subnavigation */

#subnav .navroot {
  list-style-type: none;
  border-top: 4px solid #666666;
  border-bottom: 4px solid #666666;
}	

#subnav li {
  background-color: #eee;
  border-bottom: 1px solid #d3dbe3;
}

#subnav .navroot > .selected,
#subnav .navroot > .ancestor {
  background-color: #4B7CAF;
}

#subnav .navroot > li > a {
  font-weight: bold;
}

#subnav .navroot > .selected > a,
#subnav .navroot > .ancestor > a {
  color: #fff;
}	

#subnav .navroot > .selected li,
#subnav .navroot > .ancestor li {
  background-color: #AED6FE;
}

#subnav li a {
  color: #000;
  display: block;
  padding: 2%;
  text-decoration: none;
}

#subnav li:hover {
  background-color: #4B7CAF !important;
}

#subnav li:hover > a {
  color: #fff;
  text-decoration: underline;
}
  
#subnav .navroot ul li {
  padding-left: 4%;
}

#subnav .navroot ul li.selected a {
  font-weight: bold;
}
