@import "variables.less";

/* Common Styles */

.btn {
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
  line-height: 18px;
  padding: 4px 10px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: #E6E6E6 #E6E6E6 #B3B3B3;
  display: inline-block;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
}

.btn.disabled {
  cursor: default;
  opacity: 0.65;
}

.btn-container {
  padding: 2em 0;
}

.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

.introduction {
  margin-top: 1em;
}

.centered {
  text-align: center;
}

.editable {
  border: solid 1px #20C6FD;
  padding: 0.5%;
}

.editable-important {
  border: solid 1px #20C6FD !important;
  padding: 0.5% !important;
}

.editable:hover {
  border-color: #FE9703;
}

.editable-important-hover {
  border-color: #FE9703 !important;
}

.error input {
  // TODO: User global error input styles
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

/* Help Modal */

#simplemodal-container {
  background-color: #fff;
  width: 66%;
  height: 66%;
}

#simplemodal-wrap {
  overflow-x: hidden;
  overflow-y: scroll;
}

#simplemodal-data {
  padding: 10px;
}

.help .close {
  position: absolute;
  display: block;
  right: 20px;
}

.help .continue {
  position: absolute;
  display: block;
  top: 0px;
  right: 20px;
  margin-top: -10px;
}

.help-modal-controls {
  position: relative;
  margin-top: 10px;
}

/* Rich Text Editor */

.wysihtml5-toolbar {
  position: relative;
  padding: 0 0 20px 0;
}

[~"data-wysihtml5-dialog"] {
  position: absolute;
  top: 20px;
  width: 100%;
}

[~"data-wysihtml5-dialog-action"] {
  cursor: pointer;
}

/* Navigation Bar */

.navbar {
  background-color: #000;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.navbar .row {
  position: relative;
}

.navbar .title {
  float: left;
  font-size: 20px;
  padding: 8px 0 12px 0;
  line-height: 1;
}

.navbar .nav {
  position: relative;
  display: block;
  float: left;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}

.navbar .nav > li {
  display: block;
  float: left;
  line-height: 18px;
}

.navbar .nav > li > a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.tools {
  position: absolute !important;
  right: 0;
}

.workflow-step .selected {
  background-color: #fff;
}

.workflow-step .selected a {
  color: #000 !important;
  font-style: italic;
}

/* Main Application Container */

#builder .navbar {
  position: fixed;
  z-index: 999;
}

#builder .alerts {
  /* Make sure alerts are shown below the navbar */
  top: 40px;
  position: fixed;
  width: 100%;
  z-index: 1001;
}

#builder .alert {
  padding: 1%;
  text-align: center;
}

#app {
  height: 100%;
  /* Make space for the navbar */
  padding-top: 40px;
}

/* Story Template List */

.story-templates {
  list-style: none
}

.story-templates li {
  display: block;
  float: left;
  width: 30%;
  padding: 1%;
}

// Story Builder View

// Mixins

.vertical-space {
  margin-top: 0.5%;
}

.vertical-space-important {
  margin-top: 0.5% !important;
}

.full-width {
  width: 100%;
}


.builder {
  position: relative;
  height: 100%;
}

.section-controls, .last-saved {
  position: absolute;
  top: 0;
  padding: 1% 0;
  min-width: 755px;
  max-width: 1140px;
}

.section-controls {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
}

.last-saved {
  position: absolute;
  top: 0;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

/* Unused Assets List */

.unused-assets {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding: 0 2%;
  background-color: #000;
  color: #fff;
  z-index: 9999;
}

.unused-assets a {
  color: #fff;
  font-weight: bold;
}

.unused-assets ul {
  list-style: none;
  padding: 0;
}

.unused-asset {
  cursor: pointer;
  padding: 2px 0;
}

.unused-asset.ui-draggable-dragging {
  color: #000;
}

.unused-asset .thumbnail {
  margin: 2px;
  width: 32px;
  height: 32px;
}

/* Story information editor */

.story-title {
  .full-width;
  .vertical-space;
}

.byline {
  .vertical-space;
  .full-width;
}

.byline input {
  width: 98% !important;
}

.summary {
  .full-width;
  min-height: 400px;
}

.edit-story-info {
  .wysihtml5-sandbox {
    .editable-important;
    .vertical-space-important;
  }

  .wysihtml5-sandbox:hover {
    .editable-important-hover;
  }
}

// Call to action editor

.edit-call-to-action {
  .wysihtml5-sandbox {
    .editable-important;
    .vertical-space-important;
  }

  .wysihtml5-sandbox:hover {
    .editable-important-hover;
  }
}

.call-to-action {
  width: 100%;
  height: 250px;
}

.connected-prompt {
  width: 100%;
  height: 300px;
}

/* Section Editor */


.edit-section {
  position: relative;
  width: @section-width;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  padding: 2%;

  .section-title {
    margin-top: 15px;
    width: 930px;
  }
}

.section-edit-layout {
  position: relative;
  height: 90%;
  .vertical-space;
  padding-bottom: 2%;

  .wysihtml5-sandbox {
    border: none !important;
  }
}

#builder .section-layout {
  // In builder, make overflow visible so help can be positioned to the
  // left or right of the block
  overflow: visible;
}

.storybase-container-placeholder {
  position: relative;

  .wrapper {
    border: solid 1px #c8c8c8;
    overflow: hidden;
    height: 94%;
    min-height: 400px;
  }
}

.storybase-container-placeholder.select {
  .wrapper {
    padding: 2%;
  }
}

.storybase-container-placeholder.display {
  height: auto;
  min-height: 40px;
}

.storybase-container-placeholder#top,
.storybase-container-placeholder#middle
{
  margin-bottom: 10px;
}

.storybase-container-placeholder .help {
  display: block;
  position: absolute;
  left: -38px;
}

.storybase-container-placeholder#right .help {
  left: auto;
  right: -38px;
}

.asset-help-container {
  background-color: #fff;
  max-width: 450px;
}

.storybase-container-placeholder [name=body] {
  /* TODO: Figure out a better way to set height */
  height: 150px;
}

.section-asset-controls {
  display: none;
  top: 0;
  right: 0;
  position: absolute;
  margin: 0;
  padding: 10px 10px 0 0;
  text-align: right;
  list-style: none outside none;
  background-color: #fff;
  z-index: 999;
}

.storybase-container-placeholder:hover .section-asset-controls {
  display: block;
}

.section-asset-controls li {
  display: inline-block;
}

.bbf-form ul {
  margin: 0;
  padding: 0;
}

.field-body .bbf-editor {
  margin-left: 0;
  width: 100%;
}

.bbf-field .bbf-editor {
  margin-left: 0;
  width: 100%;
}

.bbf-field label {
  float: none;
  width: 100%;
  font-weight: bold;
}

// Table of contents thumbnails

@section-thumbnail-height: 75px;
@opened-padding: 39px;
@closed-padding: 5px;

#section-list {
  position: relative;
  width: 100%;
  z-index: 999;
  background-color: @control-color-1;
  overflow: hidden;
}

#toggle-section-list {
  display: block;
  float: left;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.opened #toggle-section-list::after {
  content: ' - ';
}

.closed #toggle-section-list::after {
  content: ' + ';
}

.sections-container {
  position: relative;
  width: 65%;
  float: left;
  overflow: hidden;
  background-color: @control-color-1;
  padding: 0 10px;
  text-align: center;
}

.sections-clip {
  float: left;
  width: 90%;
  margin: 0 20px;
  padding: 0 10px;
  overflow: auto;
}

.scroll-left, .scroll-right {
  display: block;
  float: left;
  line-height: 100px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.scroll-left:hover, .scroll-right:hover {
  color: #fff;
}

.scroll-right {
  position: absolute;
  right: 10px;
}

.sections {
  width: 1500px;
  margin: 0;
  padding: 0;
  float: left;
}

.section-thumbnail-container {
  position: relative;
  display: block;
  float: left;
  list-style: none;
}

.section-thumbnail, .spacer {
  position: relative;
  float: left;
  height: 75px;
  margin: 10px 0;
  padding: 1% 0;
  text-align: center;
  cursor: pointer;
}

.section-thumbnail {
  width: 120px;
  border: 1px solid #000;
  background-color: #fff;
}

.section-thumbnail .title {
  padding: 22% 0;
}

.spacer {
  width: 20px;
}

.spacer:hover {
  width: 120px;
  border: 1px solid #000;
  margin: 10px;
  cursor: pointer;
  background-color: #C8C8C8;
  color: #fff;
}

.spacer div {
  display: none;
  padding: 22% 0;
}

.spacer:hover div {
  display: block;
}


.section-thumbnail-container.pseudo .section-thumbnail {
  background-color: #C8C8C8;
  color: #fff;
}

.section-thumbnail-container.selected .section-thumbnail {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

.section-thumbnail.new {
  margin: 10px;
}

.section-thumbnail .remove {
  display: none;
  position: absolute;
  top: 2px;
  right: 4px;
  text-decoration: none;
}

.section-thumbnail:hover .remove {
  display: block;
}

#section-nav {
  float: left;
  width: 65%;
  height: 30px;
  padding-left: 20px;
  padding-top: @opened-padding;
  font-weight: bold;
}

#section-list.closed #section-nav {
  padding-top: 10px;
}

#section-nav a {
  color: #fff;
}

#section-nav .prev::before {
  content: ' < ';
}

#section-nav .next::after {
  content: ' > ';
}

#section-list .workflow-nav {
  float: left;
  width: auto !important;
  position: absolute;
  right: 0;
  padding-top: @opened-padding;
}

#section-list.closed .workflow-nav {
  padding-top: @closed-padding;
}

/* Builder Navigation Buttons */

#nav-container {
  background-color: @control-color-1;
}

.workflow-nav {
  position: relative;
  width: 100%;
  height: 35px;
  padding-top: @closed-padding;
  text-align: right;
}

/* Add Data View */
.datasets {
  margin: 2% 0;
  width: 100%;
}

.datasets th,
.datasets td {
  text-align: left;
}

.datasets th {
  font-weight: bold;
  border-bottom: solid 2px;
}

.datasets td {
  padding: 6px 0;
  border-bottom: 1px solid #CCCCCC;
}

.dataset {
  padding: 1% 0;
}

.dataset p {
  padding: 0;
}

/* Legal agreement view */
#share-legal #permission ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* Select taxonomy view */

#share-taxonomy select {
  width: 300px;
}

#taxonomy {
  width: 50%;
  float: left;
}

#story-tags {
  width: 50%;
  overflow: hidden;
}

#story-tags form,
#add-location form {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Tagging view */
#tags {
  display: none;
  width: 300px;
}

/* Add location view */
#add-location {
  width: 50%;
  overflow: hidden;
}

#add-location label {
  font-weight: bold;
}

#add-location form {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}

#map {
  float: left;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 10px 0 0;
  overflow: hidden;
}

#found-address {
  width: 200px;
  margin: 0 0 10px 210px;
}

input[name=address] {
  width: 250px;
  margin-bottom: 10px;
}

#address-name-container {
  margin-bottom: 10px;
}

#locations {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

#share-link {
  display: table;
  width: 50%;
  margin: 2em auto;
}

#share-link div {
  display: table-cell;
  vertical-align: middle;
}

#story-url {
  width: 300px;
}

.addthis_toolbox {
  display: inline-block;
  padding: 0;
}

// Featured Asset View
#featured-asset { 
  position: relative; 

  img { max-width: 50%; }

  .featured-asset-controls {
    margin: 0;
    padding: 10px 10px 0 0;
    list-style: none outside none;
    background-color: #fff;
    z-index: 999;
    
    li { display: inline-block; }
  }

  .assets { 
    padding: 0; 
    list-style: none outside none;

    .asset { padding: 8px 0; }
  }
}
