// Explorer-specific variables

@explorer-img-width: 222px;
@explorer-img-height: 132px;
@explorer-chrome-margin-bottom: 15px;
// After this width, show the story metadata to the right of the featured
// image.
@explorer-list-breakpoint: 680px;

.container_12 {
  // HACK: Make the small container slightly wider so it can fit 3 columns
  // of tiles 
  .mk-fluid-grid-container-sm(750px);
  .mk-fluid-grid-container-md();
}

#explorer {
  position: relative;
  width: 100%;
}

.list-view .box { 
  background:none;
  width:100%;
  padding-top:12px;
  padding-bottom:9px;
  border-top:1px dotted @gray;

  img { 
    float:left;
    display:inline;
    margin-right:16px;
    width:160px;
    margin-top:8px;  
  }

  .cnt {
    border-top:0 !important;
    margin-bottom:0 !important;  
  }

  min-height: 20px;
}

#filters {
  padding-bottom:18px;
  border-bottom:1px solid #ccc;
  margin-bottom:22px;
  padding-top:20px;
  position:relative;
  z-index: 1000;

  &.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow:0 3px 6px #bbb;
    color: #fff;
  }

  // Horizontally center filters
  .fields-container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .field {
    display: inline-block;
    margin-right: 6px;

    &.last {
      margin-right:0px;
    }

    label {
      display:none;
    }

  }

  .select2-container {
    background:url('../img/filter-link.png') no-repeat 0 0; 
    min-width:180px;
    width:191px;
    display:block; 
    font-size:13px;
    color:#fbfaf2; 
    font-family: 'MuseoSlab500Regular'; 
    text-shadow:0 -1px #605f5f; 
    line-height:34px;
    height:34px;
    padding-right:7px;

    .select2-choice {
      abbr {
        // little "x" to clear a filter
        right:22px;
        top:11px;
        background-image:url(../img/select2.png);
      }

      div {
        background:none;
        border:none;
        filter:none;

        b {
          background:none;
          filter:none;
        }
      }

      span {
        margin-right:40px;
      }
    }
  }

  .select2-container .select2-choice,
  .select2-dropdown-open .select2-choice {
    background:none;
    background-image:none;
    filter:none;
    border:0px;
    color:#fbfaf2;
    line-height:inherit;
    height:34px;
    border-radius:0;
    padding-left:11px;
  }

  .select2-result-label {
    font-family: 'MuseoSlab500Regular';
  }

  .select2-default {
    color:#fbfaf2 !important;
  }

  .select2-drop .select2-drop-active {
    border:none !important;
  }

  label {
    display: block;
    padding: 2px 0;
    font-weight: bold;
  }
  
  a.clear-filters {
    display: block;
    padding-top: 10px;
    text-align: right;
    color: #FE9703;
    font-family: 'MuseoSlab500Regular';
    font-size: 14px;
  }
}

#filter-proxy {  
  display:none;

  &.shown {
    display: block;
  }
}

#story-count {
  width: 100%;
  margin: 0;
  float: left;

  @media (min-width: @screen-xs-min) {
    width: auto;
    margin-bottom: (@explorer-chrome-margin-bottom * 2);
  }

  .story-count {
    color: @gray;
    display: inline;
    float: left;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    width: 100%; 
  }

  h3 {
    display: inline-block;
  }
  
  .spinner {
    display: inline-block;
    margin-left: 1em;
  }
}

#view-selector {
  float:right;
  position:relative;

  padding: 0;
  // HACK: Provide min-height so first story clears the story count
  min-height: 25px;

  text-align: right;

  list-style:none;
  list-style-type: none;

  margin-bottom: @explorer-chrome-margin-bottom;

  li {
    float:left;
    display:block;
    padding-left:25px;
    position:relative;
    width:25px;
    height:40px;

    a {
      height:29px;
      position:absolute;
      left:0; 

      background:url('../img/cols-icons.png') no-repeat 0 0; 
      font-size:14px; 
      color: @orange;
      font-style:normal;  
      font-family: 'MuseoSlab500Regular'; 
      
      span {
        position:relative;
        top:30px;
      }
    }

    &.active a { 
      color:@gray !important; 
    }

    &.tile-view {
      a { 
        background-position: 0 0; 
      }

      &.active a {
        background-position: 0 -29px; 
      }
    }

    &.list-view {
      a { 
        background-position: -43px 0; 
      }

      &.active a {
        background-position: -43px -29px; 
      }
    }

    &.map-view {
      // HACK: Hide map view on narrower displays
      display: none;

      @media (min-width: @screen-sm-min) {
        display: block;
      }

      a {
        background-position: -86px 0; 
      }

      &.active a { 
        background-position: -86px -29px; 
      }
    }
  }
}

#story-list {
  clear:both;
  padding: 0;
  list-style-type: none;

  li.story {
    p.cnt {
      color:@dark-gray; 
      padding-top:6px; 
      margin-top:6px;
      border-top:1px dotted @dark-gray;
      margin-bottom:15px;
    }

    a {
      position:relative;
      display:block;

      em.hover {
        position:absolute;
        top:0;
      }

      &:hover em.hover {
        background:url('../img/over.png') no-repeat 0 0;
      }
    }

    .story-attributes { 
      margin-top: 10px; 
    }
  }

  &.tile {
    margin-left: auto;
    margin-right: auto;
    
    li.story {
      float: left;
      width: @explorer-img-width; 
      padding: 7px;
      margin-bottom: 11px;
      margin-right: 14px;
      overflow: hidden;

      background: @light-gray;
    }
  }
  
  &.list li.story {
    float:none;
    width:100%;
    background: none;
    border-top: 1px dotted @gray;
    padding-bottom: 9px;
    padding-top: 12px;
    margin-bottom: 11px;
    margin-right: 14px;
    overflow:hidden;

    h3 {
      padding-top: 0;
      font-size: 20px;
      padding-top: 8px;

      @media (min-width: @screen-md-min) {
        padding-top: 0;
      }
    }
    
    .image-container{
      @media (min-width: @explorer-list-breakpoint) {
        float: left;
      }
    }

    .story-metadata {
      padding-top: 12px;

      @media (min-width: @explorer-list-breakpoint) {
        padding-top: 0;
        margin-left: 240px;
      }
    }
  }
}

#map-container {
  clear:both;
  margin-bottom:50px;

  .leaflet-popup-content-wrapper {
    overflow:hidden;
    padding:0 0 25px 0;
  }
}

// Styles common to the tile, list and map displays

.story .story-attributes dt {
  font-weight: bold;
}

#story-list li.story h3,
#map-container .leaflet-popup h3 {
  padding-top:8px;
  background:none;
  font-size:16px;
  color:@highlight-blue;
  line-height:16px;
  text-align:left;
}

#story-list li.story > a:first-child,
#story-list li.story a em.hover,
#map-container .leaflet-popup .story > a:first-child {
  height: @explorer-img-height;
  width: @explorer-img-width;
  display: block;
}

#story-list li.story > a:first-child,
#map-container .leaflet-popup .story > a:first-child {
  overflow: hidden;

  img {
    position: absolute;
    width: @explorer-img-width;
  }
}

#story-list li.story p,
#map-container .leaflet-popup .story p,
#show-more {
  color:@dark-gray;
}

#story-list .byline, 
#map-container .byline {
  font-style:italic;
}

// Map styles

.leaflet-popup ul {
  list-style-type: none;
  padding: 0;
}

.leaflet-popup-content { 
  p {
    margin: 0;
  }

  .story {
    width: @explorer-img-width;
  }

  .grid_9 {
    margin-left: 0;
    margin-right: 0;
  }
}

#proximity-search-form {
  margin: 2% 0;

  #proximity-search-address {
    width: 78%; // this should work at 80% but does not in Firefox
  }

  input[type="submit"], input[type="reset"] {
    width:10%;
  }
}

@media only screen and (min-width: 480px) {
// Style adjustments for viewports 480px and over go here
//
//  #story-list.tile .story {
//    width: 41%;
//  }
//
}

@media only screen and (min-width: 768px) {
// Style adjustments for viewports 480px and over go here
//
//  #story-list.tile .story {
//    width: 21%;
//  }
//
}

#show-more {
  display:block;
}

.load-more a { width:110px; height:34px; background:url('../img/load-more.png') no-repeat 0 0; display:block; margin:20px auto 170px;  }

#loading {
  left:33%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  .rounded-corners(10px);
  .box-shadow-inset(0, 0, 5px, rgba(0, 0, 0, 0.3));
  font-size: 2em;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  width: 33%;
  color:@gray;

  .text, .spinner { 
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    position:relative;
    left:-20px;
  }

  .spinner {
    position: relative !important;
    left:20px;
    opacity:0.5;
  }
}
