#explorer {
  position: relative;
  width: 100%;
}

.list-view .box { background:none; width:100%; padding-top:12px; padding-bottom:9px; border-top:1px dotted #7f7f7f;     }
.list-view .box img { float:left; display:inline; margin-right:16px; width:160px; margin-top:8px;  }
.list-view .box .cnt { border-top:0 !important; margin-bottom:0 !important;  }
.list-view .box  { min-height:20px;  }



#filters.sticky {
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow:0 3px 6px #bbb;
  color: #fff;
}

#filters .field {
  display: inline-block;
}

#filters label {
  display: block;
  padding: 2px 0;
  font-weight: bold;
}

#filters a.clear-filters {
  display: block;
}

#story-count {
  margin: 0 0 20px 0;
  float: left;
}

#story-count h3 {
  display: inline-block;
}

#story-count .spinner {
  display: inline-block;
  margin-left: 1em;
}

#view-selector {
  /* HACK: Provide min-height so first story clears the story count */
  min-height: 25px;
  text-align: right;
  padding: 0;
  list-style-type: none;
}

#view-selector li {
  display: inline-block;
}

#story-list {
  padding: 0;
  list-style-type: none;
}

/*
#story-list.tile .story {
  float: left;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1%;
  background: none repeat scroll 0 0 #eee;
}
*/
#story-list .byline {
  font-style: italic;
}

.leaflet-popup ul {
  list-style-type: none;
  padding: 0;
}

#proximity-search-form {
  margin-top: 2%;
}

#proximity-search-form #proximity-search-address {
  width: 80%;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
/*
  #story-list.tile .story {
    width: 41%;
  }
*/
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 480px and over go here */
/*
  #story-list.tile .story {
    width: 21%;
  }
*/
}

/* begin template rules */
#filters { 
	padding-bottom:18px;
	border-bottom:1px solid #ccc;
	margin-bottom:22px;
	padding-top:20px;
	position:relative;
	z-index: 1000;
}

#filter-proxy {	
	display:none;
	&.shown {
		display:block;
	}
}

#filters .field {
	margin-right:6px;
}
#filters .field:first-child {
	margin-left:3px;
}
#filters .field.last {
	margin-right:0px;
}

#filters .select2-container {
	background:url('../img/filter-link.png') no-repeat 0 0; 
	min-width:180px;
	width:191px;
	display:block; 
	font-size:13px;
	color:#fbfaf2; 
	font-family: 'MuseoSlab500Regular'; 
	text-shadow:0 -1px 0 #605f5f; 
	line-height:34px;
	height:34px;
	padding-right:7px;
}

.select2-result-label {
	font-family: 'MuseoSlab500Regular';
}

#filters .select2-default {
	color:#fbfaf2 !important;
}
#filters .select2-container .select2-choice,
#filters .select2-dropdown-open .select2-choice {
	background:none;
	background-image:none;
	border:0px;
	color:#fbfaf2;
	line-height:inherit;
	height:34px;
	border-radius:0;
	padding-left:11px;
}
#filters .select2-container .select2-choice div {
	background:none;
	border:none;
}
#filters .select2-container .select2-choice div b {
	background:none;
}
.select2-drop .select2-drop-active {
	border:none !important;
}

#filters .field label {
	display:none;
}
#filters .select2-container .select2-choice abbr { /* little "x" to clear a filter */
	right:22px;
	top:11px;
	background-image:url(../img/select2.png);
}
#filters a.clear-filters {
	padding-right: 17px;
	padding-top: 10px;
	text-align: right;
	color: #FE9703;
	font-family: 'MuseoSlab500Regular';
	font-size: 14px;
}

h6.story-count {
	color: #666666;
	display: inline;
	float: left;
	font-family: Georgia,'Times New Roman',Serif;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	width: 680px;
}

ul#view-selector {
	list-style:none;
	float:right;
	position:relative;
}
ul#view-selector li {
	float:left;
	display:block;
	padding-left:25px;
	position:relative;
	width:25px;
	height:40px;
}
ul#view-selector li a {
	background:url('../img/cols-icons.png') no-repeat 0 0; 
	position:relative;
	height:29px;
}
ul#view-selector li a span {
	position:relative;
	top:30px;
}
ul#view-selector li.tile-view a { background-position: 0 0; }
ul#view-selector li.tile-view.active a { background-position: 0 -29px; }
ul#view-selector li.list-view a { background-position: -43px 0; }
ul#view-selector li.list-view.active a { background-position: -43px -29px; }
ul#view-selector li.map-view a { background-position: -86px 0; }
ul#view-selector li.map-view.active a { background-position: -86px -29px; }
ul#view-selector li.active a { color:#7f7f7f !important; }
ul#view-selector li a { 
	position:absolute;
	left:0; 
	font-size:14px; 
	color:#fe9703;
	font-style:normal;  
	font-family: 'MuseoSlab500Regular'; 
}

#show-more {
	display:block;
}
#story-count {
	margin: 0 0 20px 0;
}
#story-list {
	clear:both;
}
#story-list.tile li.story {
	width:222px; 
	float:left;
	padding:7px;
	background:#f3f3f3;
	margin-bottom:11px;
	margin-right:14px;
	overflow:hidden;
}
#story-list.list li.story {
	float:none;
	width:100%;
	background: none;
	border-top: 1px dotted #7F7F7F;
	padding-bottom: 9px;
	padding-top: 12px;
	margin-bottom: 11px;
	margin-right: 14px;
	overflow:hidden;
}
#story-list li.story h3,
#map-container .leaflet-popup h3 {
	padding-top:8px;
	background:none;
	font-size:16px;
	color:#03ccfe;
	line-height:16px;
}
#map-container .leaflet-popup-content-wrapper, 
#map-container .leaflet-popup-tip {
	overflow:hidden;
	padding:0 0 25px 0;
}
#story-list.list li.story h3 {
	padding-top:0;
}
#story-list.list li.story h3,
#map-container .leaflet-popup h3 {
	text-align:left;
}
#story-list.list li.story h3 {
	font-size:20px;
}
#story-list li.story a img {
	height:132px;
	width:222px;
	display:block;
}
#story-list.list li.story a img {
	float:left;
	margin-right:16px;
}
#story-list li.story p,
#map-container .leaflet-popup .story p,
#show-more {
	.plain-serif-text;
	color:#5a5a5a;
}
#story-list li.story p.cnt {
	color:#5a5a5a; 
	padding-top:6px; 
	margin-top:6px;
	border-top:1px dotted #5a5a5a;
	margin-bottom:15px;
}
#story-list li.story a {
	position:relative;
	display:block;
}
#story-list .byline, 
#map-container .byline {
	font-style:italic;
}
#story-list li.story a em.hover {
	width:222px;
	height:132px;
	display:block;
	position:absolute;
	top:0;
	left:0;
}
#story-list li.story a:hover em.hover {  background:url('../img/over.png') no-repeat 0 0; }
#story-list li.story .story-attributes { margin-top: 10px; }
/*#story-list.list li.story .story-attributes { margin-left: 238px; }*/
.story .story-attributes dt {
	font-weight:bold;
}
#map-container {
	clear:both;
	margin-bottom:50px;
}
.leaflet-popup-content p {
	margin: 0;
}
.load-more a { width:110px; height:34px; background:url('../img/load-more.png') no-repeat 0 0; display:block; margin:20px auto 170px;  }

.select2-container .select2-choice span {
	margin-right:40px;
}
/* end */