// Explorer-specific variables
@explorer-img-width: 219px;
@explorer-img-height: 132px;
@explorer-chrome-margin-bottom: 15px;
// After this width, show the story metadata to the right of the featured
// image.
@explorer-list-breakpoint: 680px;
.container_12 {
  // HACK: Make the small container slightly wider so it can fit 3 columns
  // of tiles
  .mk-fluid-grid-container-sm(750px);
  .mk-fluid-grid-container-md();
}

#explorer {
  position: relative;
}

.list-view .box {
  background: none;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 9px;
  border-top: 1px dotted @gray;
  img {
    float: left;
    display: inline;
    margin-right: 16px;
    width: 160px;
    margin-top: 8px;
  }
  .cnt {
    border-top: 0 !important;
    margin-bottom: 0 !important;
  }
  min-height: 20px;
}

#filters {
  padding-bottom: 18px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 22px;
  padding-top: 20px;
  position: relative;
  z-index: 1000;
  &.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 3px 6px @black20;
    color: #fff;
  }
  // Horizontally center filters
  .fields-container {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .field {
    text-align: left;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;

    &.last {
      margin-right: 0px;
    }

    label {
      display: none;
    }
  }

  .select2-container {
    background: @light-gray;
    min-width: 180px;
    width: 191px;
    display: block;
    line-height: 34px;
    height: 34px;
    border-radius: 4px;

    .select2-choice {
      abbr {
        // little "x" to clear a filter
        right: 25px;
        top: 10px;
        // background-image:url(../img/select2.png);
      }

      div {
        background: none;
        border: none;
        filter: none;

        b {
          background-image: url(../img/select2.png);
          filter: none;
          width: 10px;
          height: 10px;
        }
      }

      span {
        margin-right: 40px;
        font-weight: 700;
        font-size: 14px;
        font-family: @roboto-condensed;

        &:after {
          content: url('../img/down-arrow.png');
          position: absolute;
          right: 8px;
          top: -1px;
        }
      }
    }
  }

  .select2-container .select2-choice,
  .select2-dropdown-open .select2-choice {
    background: none;
    background-image: none;
    filter: none;
    line-height: inherit;
    height: 34px;
    border-radius: 5px;
    padding-left: 11px;
  }

  .select2-result-label {
    font-family: @roboto;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
  }

  .select2-default {
    color: @dark-gray !important;
  }

  .select2-drop .select2-drop-active {
    border: 1px solid transparent !important;
  }

  label {
    display: block;
    padding: 2px 0;
    font-weight: bold;
  }

  a.clear-filters {
    display: block;
    text-align: right;
    color: #FE9703;
    font-family: @roboto;
    font-weight: 700;
    font-size: 14px;
    padding-right: 12px;
  }
}

#filter-proxy {
  display: none;
  &.shown {
    display: block;
  }
}

#story-count {
  margin: 0;
  float: left;
  @media (min-width: @screen-xs-min) {
    width: auto;
    margin-bottom: (@explorer-chrome-margin-bottom * 2);
  }

  .story-count {
    color: @gray;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-family: @roboto-condensed;
    width: auto;
    padding-right: 6px;
  }

  h3 {
    display: inline-block;
  }

  .spinner {
    display: inline-block;
    margin-left: 15px;
  }
}

#view-selector {
  float: right;
  position: relative;
  padding: 0;
  // HACK: Provide min-height so first story clears the story count
  min-height: 25px;
  margin-right: 15px;
  text-align: right;
  list-style: none;
  list-style-type: none;
  margin-bottom: @explorer-chrome-margin-bottom;

  li {
    float: left;
    display: block;
    padding-left: 25px;
    position: relative;
    width: 25px;
    height: 40px;
    margin-left: 15px;

    a {
      height: 29px;
      position: absolute;
      left: 0;
      background: url('../img/cols-icons.png') no-repeat 0 0;
      font-size: 14px;
      color: @gray;
      font-style: normal;
      font-family: @roboto;
      font-weight: 700;

      span {
        position: relative;
        top: 30px;
      }
    }

    &.active a {
      color: @orange !important;
    }

    &.tile-view {
      a {
        background-position: 0 -29px;
      }

      &.active a {
        background-position: 0 0;
      }
    }

    &.list-view {
      a {
        background-position: -43px -29px;
      }
      &.active a {
        background-position: -43px 0;
      }
    }

    &.map-view {
      // HACK: Hide map view on narrower displays
      display: none;

      @media (min-width: @screen-sm-min) {
        display: block;
      }

      a {
        background-position: -86px -29px;
      }

      &.active a {
        background-position: -86px 0;
      }
    }
  }
}

#story-list {
  clear: both;
  padding: 0;
  list-style-type: none;

  li.story {
    p.cnt {
      color: @dark-gray;
      padding-top: 6px;
      margin-top: 6px;
      border-top: 1px dotted @dark-gray;
      margin-bottom: 15px;
    }

    a {
      position: relative;
      display: block;

      em.hover {
        position: absolute;
        top: 0;
      }

      &:hover em.hover {
        background: url('../img/over.png') no-repeat center;
        background-size: cover;
      }
    }

    .story-attributes {
      margin-top: 10px;
      border-top: 1px solid @black10;
      padding: 4px 0;
      font-size: .875em;

      .languages {
        p {
          line-height: 1;
        }

        li {
          &:after {
            content: ', ';
          }

          &:last-of-type:after {
            content: '';
          }
        }
      }
    }
  }

  &.tile {
    margin-left: auto;
    margin-right: auto;

    li.story {
      box-sizing: border-box;
      float: left;
      width: @explorer-img-width + 25px;
      padding: 12px;
      margin-bottom: 11px;
      margin-right: 11px;
      overflow: hidden;
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .125), inset -1px 0 1px rgba(0, 0, 0, .05), inset 1px 0 1px rgba(0, 0, 0, .05);
      background: @light-gray;
      border-radius: 2px;
    }
  }
  &.list li.story {
    float: none;
    width: 100%;
    background: none;
    border-top: 1px dotted @gray;
    padding-bottom: 9px;
    padding-top: 12px;
    margin-bottom: 11px;
    margin-right: 14px;
    overflow: hidden;

    h3 {
      padding-top: 0;
      font-size: 20px;
      padding-top: 8px;

      @media (min-width: @screen-md-min) {
        padding-top: 0;
      }
    }

    .image-container {
      @media (min-width: @explorer-list-breakpoint) {
        float: left;
      }
    }

    .story-metadata {
      padding-top: 12px;
      font-family: @roboto-condensed;
      @media (min-width: @explorer-list-breakpoint) {
        padding-top: 0;
        margin-left: 240px;
      }
    }
  }
}

#map-container {
  clear: both;
  margin-bottom: 50px;

  .leaflet-popup-content-wrapper {
    overflow: hidden;
    padding: 0 0 25px 0;
  }
}

// Styles common to the tile, list and map displays
.story .story-attributes dt {
  font-weight: bold;
}

#story-list li.story h3,
#map-container .leaflet-popup h3 {
  padding-top: 8px;
  background: none;
  font-size: 16px;
  color: @highlight-blue;
  line-height: 16px;
  text-align: left;
}

#story-list li.story > a:first-child,
#story-list li.story a em.hover,
#map-container .leaflet-popup .story > a:first-child {
  height: @explorer-img-height;
  width: @explorer-img-width;
  display: block;
}

#story-list li.story > a:first-child,
#map-container .leaflet-popup .story > a:first-child {
  overflow: hidden;

  img {
    position: absolute;
    width: @explorer-img-width;
  }
}

#story-list li.story p,
#map-container .leaflet-popup .story p,
#show-more {
  color: @dark-gray;
}

#story-list .byline,
#map-container .byline {
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  margin-top: .1em;
  margin-bottom: .3em; // Override base byline margin
}

// Map styles
.leaflet-popup ul {
  list-style-type: none;
  padding: 0;
}

.leaflet-popup-content {
  p {
    margin: 0;
  }

  .story {
    width: @explorer-img-width;
  }

  .grid_9 {
    margin-left: 0;
    margin-right: 0;
  }
}

#proximity-search-form {
  margin: 2% 0;

  #proximity-search-address {
    width: 78%; // this should work at 80% but does not in Firefox
  }

  input[type="submit"],
  input[type="reset"] {
    width: 10%;
  }
}

@media only screen and (min-width: 480px) {
  // Style adjustments for viewports 480px and over go here
  //
  //  #story-list.tile .story {
  //    width: 41%;
  //  }
  //
}

@media only screen and (min-width: 768px) {
  // Style adjustments for viewports 480px and over go here
  //
  //  #story-list.tile .story {
  //    width: 21%;
  //  }
  //
}

#show-more {
  display: inline-block;
  padding: 0 4px;
  border: 1px solid @medium-gray;
  border-radius: 4px;
  font-size: .875em;
  vertical-align: middle;
}

.load-more a {
  width: 110px;
  height: 34px;
  background: url('../img/load-more.png') no-repeat 0 0;
  display: block;
  margin: 20px auto 170px;
}

#loading {
  margin: 20px auto;
  padding: 15px 30px;
  text-align: center;
  color: @light-gray;
  background: @black70;
  .rounded-corners(4px);
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  z-index: 10;

  .text,
  .spinner {
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    position: relative;
    left: -20px;
    max-width: 240px;
    @media (min-width: 370px) {
      max-width: 100%;
    }
  }

  .spinner {
    position: relative !important;
    left: -20px;
    opacity: 0.5;

    @media (min-width: 370px) {
      left: 20px;
    }
  }
}

