.footer { 
	padding-top:26px; 
	background:#000000; 
	padding-bottom:60px;
	
	.left { 
		width:465px; 
		padding-top:15px;
		
		p { font-size:12px; color:#999; font-family:Georgia, 'Times New Roman', Serif; }
	}
	
	.right { 
		width:221px;
		
		ul { 
			list-style:none;
			
			li {
				
				a { 
					font-size:14px; 
					color:#909090; 
					font-family: 'MuseoSlab500Regular'; 
					line-height:22px;
					
					&:hover { text-decoration:none; color:#fff;  }
				}
				
				&.middle { padding-bottom:14px;  }
				&.last a { font-family: 'MuseoSlab500Regular';   }
			}
		}
	}
}
