.footer { 
  padding-top: 26px; 
  background: #000000; 
  padding-bottom: 60px;
  
  .footer-left { 
    p {
      color: #999;
    }
  }
  
  .footer-right { 
    margin-top: 12px;

    @media (min-width: @screen-sm-min) {
      float: right;
      margin-top: 0;
    } 

    ul { 
      list-style: none;
      
      li {
        a { 
          font-size: 14px; 
          color: #909090; 
          font-family:  'MuseoSlab500Regular'; 
          line-height: 22px;
          
          &:hover { text-decoration: none; color: #fff;  }
        }
        
        &.middle { padding-bottom: 14px;  }
        &.last a { font-family:  'MuseoSlab500Regular';   }
      }
    }
  }
}
