
.form-align-margin() {
  margin-left: 24%;
} 

form {
	overflow:hidden;
	position:relative;
	
	fieldset {
		&+ fieldset {
			margin-top:1em;
		}
		border:none;
		legend {
			font-weight:bold;
		}
	}
	
	
	// standard styling uses the label
	// line-height to separate rows in a form.
	// if labels have so much text that they wrap,
	// the line-height looks pretty screwy.
	&.lengthy-labels {
		label {
			line-height:1em;
		}
	}
	
	@text-base-color: #555;
	@border-color: #aaa;
	
	.form-text {
		font-size:14px;
		color:@text-base-color;
	}
	
	.soft-edge-style {
		.rounded-corners;
		.form-text;
		box-shadow:inset 0 0 3px #ccc;
		border:1px solid @border-color;
		padding:5px;
	}
	
	ul.errorlist li {
		color:@error-color;

                p {
                  color: @error-color;
                  // TODO: Replace this with some default line-height
                  // variable
                  // Override the giant 30px line-height from some style
                  // upstream
                  line-height: 1.3em;
                }
	}

	p, div.form-row, div.form-field-container {
		.form-text;
		margin-bottom:8px;
		clear:both;
		line-height:30px;
		overflow:hidden;
		
		label, label + input {
			display:block;
			float:left;
			width:24%
		}
		label + input {
			position:absolute;
                        .form-align-margin;
		}
		
		&.required label:after {
			color:@error-color;
			content: "*";
		}
		
	}
	input {
		&[type=text], 
		&[type=password] {
			.soft-edge-style;
			
			&[disabled] {
				color:lighten(@text-base-color, 25%);
				background:inherit;
				border:lighten(@border-color, 10%);
			}
		}
		&[type=submit] {
			.button-style;
		}
		
		&[type=checkbox] {
			width:auto;
			margin-top:7px;
		}
	}
	textarea {
		.soft-edge-style;
		display:block;
		clear:left;
	}
	span.helptext {
		display:block;
		clear:left;
	}
	
}

// Create Project and Organization forms
#create-organization-form, #create-project-form {
  // Since inputs and textareas are intermixed, it looks better when they
  // are the same width
  @input-width: 40%;

  label + input {
    // Make containers to clear the inputs and textareas, they don't
    // with position: absolute;
    position: relative;
    margin-left: 0;
    width: @input-width;
  }

  label + textarea {
    // In this form, since the textareas and inputs are intermixed, it
    // looks better if the textareas are also floated alongside the labels
    // instead of below them.
    .form-align-margin;
    clear: none;
    width: @input-width;
  }

  .helptext {
    .form-align-margin;
    line-height: 1em;
    padding-top: 0.5em;
    font-style: italic;
    width: @input-width;
  }

  // .sublabel is the class given to labels for multi-value form fields
  // These should be pushed over to the right along with the inputs
  .sublabel {
    width: auto;
    float: none;
    margin-bottom: 8px;
  }

  .sublabel + input {
    float: none;
    .form-align-margin;
  }

  input + .sublabel {
    .form-align-margin;
    margin-top: 8px;
  }
}
