
@white: #ffffff;


.popup {
  display: none;
  background-color: @white;
  min-width: 300px;
  min-height: 200px;
}

.popup header {
  background-color: @orange;
  color: @white;
  padding: 10px;

}

.popup-body {
  margin: 20px;
}

.popup-confirm {
  background-color: @orange;
  margin: 10px;
}
