// Styles for search page
// Styles for search form that appear in header are in header.less

body.search {
  h1 {
    margin-top: 0.5em;
  }
}

.results-header,
.results-footer {
  padding: 0.5em 0 0;
  position: relative;
  display: block;
  width: 100%;
}

.results-header {
  min-height: 48px;
  max-width: 52em;
  margin: 0 auto 20px auto;
  padding-left: 20px;

  h1,
  h2 {
    margin: 0 !important;
    font-size: 18px !important;
    background: none !important;
    width: 100%;
    text-align: left !important;

    @media (min-width: @screen-sm-min) {
      float: left;
    }
  }
}

.results-footer {
  // Clear the absolutely positioned child
  min-height: 25px;
  padding-bottom: 40px;
}

#search-page-form {
  max-width: 52em;
  margin: 2em auto;
}

.results-paging {
  text-align: left;

  input {
    min-width: 2em;
    text-align: center;
  }

  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 8px;
    right: 20px;
    text-align: right;
  }
}

.search-pagination-form {
  display: inline;
}

.search-result, .no-search-results {
  list-style-type: none;
}

.no-search-results {
  p {
    text-align: center;
  }
}

.search-result {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid @black10;

  .featured-image-wrap {
    width: 180px;
  }

  &.has-image {
    h3, .type, .summary, .metadata {
      @media (min-width: @screen-xs-min) {
        // Not all images are the same widget (e.g. oEmbedded ones that have
        // a more narrow thumbnail.  Make sure the text elements are all
        // aligned, regardless of image width.
      }
    }
  }

  h3 {
    margin-top: 0 !important;
    text-align: left !important;
  }

  img {
    width: 100%;
    padding-right: 20px;

    @media (min-width: @screen-xs-min) {
      float: left;
      // Downsize externally hosted images in the browser.  Locally hosted
      // images will be correctly resized server-side
    }
  }

  .type {
    color: @medium-gray;
    font-weight: bold;
  }

  .metadata {
    font-size: 12px;
    padding-top: 5px;
    dt {
      display: block;
      float: left;

      &:after {
        content: ':';
      }
    }

    dd {
      clear: right;
      padding-left: 0.5em;
      overflow: hidden;
    }
  }

  .results-item-content {
    display: block;
    float: left;
  }

  .summary {
    p {
      max-width: 32em;
    }
  }
}
