.sidebar {
  ul {
    padding:0;
  }
	li {
		color:#4a4a4a;
		font-family: 'MuseoSlab500Regular';
		list-style:none;

		a {
			color:@highlight-blue;
		}
	}

	h1, h2, h3, h4, h5 {
		text-align:left;
	}

	.sibling-nav li {
		margin-bottom:8px;
		padding-right:17px;

		a {
			font-size:18px;
			line-height:22px;
			font-family: 'MuseoSlab500Regular';
		}

		&.selected,
		&.hover {
			background:url('../img/arrow-nav.png') no-repeat right center;
		}

		a:hover {
			text-decoration:none;
		}
	}

        // The sidebar navigation in the "My Account" section as defined
        // in the storybase_user/account_base.html template
        #subnav {
          // Give the site section subnavigation menu some bottom margin
          // to give some space for the "View Public Profile" button
          margin-bottom: 8px;
        }
}
