.storybase-share-widget,
.storybase-embed-widget {
  .button-style(gray);
  &:before {
    font-family: "FontAwesome";
  }
}

.storybase-share-widget:before {
  content:"\f045";
  margin-right:.5em;
}

.storybase-embed-widget:before {
  content:"\f121";
  margin-right:.5em;
}

.storybase-share-popup,
.storybase-embed-popup {
  display: none;
  min-width: 280px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border:1px solid #aaa;
  position: absolute;
  padding:0;
  background: white;
  z-index:20000;
  
  .share-widget {
    padding:10px;
  }
  
  dt {
    margin-top:0.5em;
  }
  input, textarea {
    width:100%;
  }
  
  header {
    background:@light-gray;
    padding:4px;
    .styled-header;
    .close {
      .remove-icon(18px, gray);
      float:right;
    }
  }
  textarea[name=share-embed-code] {
    height:100px;
    font-size:.8em;
  }
}