// Global variables for CSS properties

// Paths
@font-path: "../css/font-face";

@roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
@roboto-condensed: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
// Font sizes
// note: Times New Roman is visually smaller than Georgia.
// if the body copy font family is Georgia, this should probably
// be at 13px or so.
@base-font-size: 14px;
@base-line-height: 1.4em;
@top-header-size: 28px;
@h1-size: @top-header-size;
@h2-size: (@top-header-size * .875);
@h3-size: (@top-header-size * .8);
@h4-size: (@top-header-size * .7);
@h5-size: (@top-header-size * .6);

// Font families
@styled-header-family: @roboto;

@layout-padding: 10px;

// Colors
@control-color-1: #666;
@control-color-1-transparent: rgba(102, 102, 102, 0.5);

@almost-black: #3b3b3b;
@body-copy-color:#444;
@dark-gray: #5a5a5a;
@gray: #777777;
@medium-gray: #999999;
@blue-gray: #232B38;
@light-gray: #f0efef;
@almost-white: #f8f8f8;
@highlight-blue: #2a88db;
@visited-blue: desaturate(darken(@highlight-blue, 10%), 20%);
@blue-xxdark: #111C27;
@orange: #fe9703;
@error-color: #e66;
@error-background-color: #f2dede;
@error-border-color: darken(spin(@error-background-color, -10), 3%);

// Tints & Shades
@black: #000000;
@black90: rgba(0, 0, 0, .9);
@black80: rgba(0, 0, 0, .8);
@black70: rgba(0, 0, 0, .7);
@black60: rgba(0, 0, 0, .6);
@black50: rgba(0, 0, 0, .5);
@black40: rgba(0, 0, 0, .4);
@black30: rgba(0, 0, 0, .3);
@black20: rgba(0, 0, 0, .2);
@black10: rgba(0, 0, 0, .1);
@black05: rgba(0, 0, 0, .05);
@black02: rgba(0, 0, 0, .02);

@white: #ffffff;
@white90: rgba(255, 255, 255, .9);
@white80: rgba(255, 255, 255, .8);
@white70: rgba(255, 255, 255, .7);
@white60: rgba(255, 255, 255, .6);
@white50: rgba(255, 255, 255, .5);
@white40: rgba(255, 255, 255, .4);
@white30: rgba(255, 255, 255, .3);
@white20: rgba(255, 255, 255, .2);
@white10: rgba(255, 255, 255, .1);
@white05: rgba(255, 255, 255, .05);

// note yellow is harder to see so there's a little fudging here
@warning-color: darken(saturate(spin(@error-color, 60), 25%), 45%);
@warning-background-color: saturate(spin(@error-color, 60), 25%);
@warning-border-color: darken(saturate(spin(@error-border-color, 60), 25%), 25%);

@success-color: #468847;
@success-background-color: #dff0d8;
@success-border-color: darken(spin(@success-background-color, -10), 5%);

// Alert colors
@success-text: #468847;
@success-background: #DFF0D8;
@success-border: #D6E9C6;
@error-text: #B94A48;
@error-border: #EED3D7;
@error-background: #F2DEDE;
@info-text: #3A87AD;
@info-background: #D9EDF7;
@info-border: #BCE8F1;

// Breakpoints

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 1024px;
@screen-lg-min: 1200px;
// Point at which the header becomes uncompressed
@header-breakpoint: 680px;
// Point at which the viewer nav elements become uncompressed
@viewer-nav-breakpoint: 680px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);

// Grid
@container-width: @container-md;
@gutter-width: 20px;
@num-columns: 12;

@container-sm: ((720px + @gutter-width));
@container-md: ((1000px + @gutter-width));


// Viewer Components
@toc-width: 180px;
