// Padding for header/footer bars
@viewer-bar-padding: 10px;

.callout-section {
  background:@light-gray;
  border-top:1px solid darken(@light-gray, 10%);
  border-bottom:1px solid darken(@light-gray, 10%);
}

.story-viewer {
  @footer-background-color: #000;

  .caption-mixin(@font-color: @gray) {
    font-style:italic;
    color: @font-color;
  }

  background-color: #fff;

  h2 {
    color: #555;
  }

  figure {
    border: 1px solid @light-gray;
    padding: 4px;
    position: relative;

    img {
      width: 100%;
    }

    .popup-caption {
      .caption-mixin(#fff);

      padding: 4px;
      margin: 4px;

      background-color: fadeout(@dark-gray, 50%);

      // Hide popup captions unless the user hovers over the parent
      // element
      display: none;
    }

    &:hover {
      // When the figure is hovered, show the caption at the very top of the image
      .popup-caption {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

      }
    }

    // Popup captions look weird over YouTube videos. Hide them
    &.asset-provider-youtube:hover {
      .popup-caption {
        display: none;
      }
    }
  }

  blockquote {
    padding:1em;
    background:@light-gray;
    .rounded-corners(4px);
    border:1px solid @gray;
    font-style:italic;
    color:@dark-gray;

    &.asset-type-quotation {
      .pullquote;
      background:transparent;
      border:0;
    }
  }

  a.button {
    padding: 5px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    text-decoration: none;
  }

  .intro {
    font-size: 2em;
    font-family: georgia;
  }

  .caption {
    .caption-mixin;
  }

  #header {
    min-height: 105px;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: @viewer-bar-padding;
    z-index: 9999;
    position:relative;

    color: #fff;
    background-color: @blue-xxdark;

    .title {
      .viewer-story-title();
    }

    .byline {
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }

    .section-title {
      font-size: 1em;
      margin: 0;
      padding: 0.25% 0;
    }

    // needed to override viewer dd prop
    .storybase-share-popup {
      dd {
        margin:0;
      }
    }
  }

  #tools .text,
  #story-nav .text,
  #toc .text {
    // Hide meta-navigation link text, only showing icons on narrow displays
    display: none;

    @media (min-width: @viewer-nav-breakpoint) {
      display: inline;
    }
  }

  #tools {
    position:absolute;
    right:@viewer-bar-padding*2;
    bottom:@viewer-bar-padding;
    padding:4px @viewer-bar-padding;
    background-color: @white20;
    border-radius: 5px;

    a {
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      font-weight: normal;
      color: #fff !important;
      text-decoration: none;
      display: inline-block;
      margin-left: 4px;
      margin-right: 12px;

      &:last-of-type {
        margin-right: 0;
      }

      i {
        font-size: 11px;
      }

      &[data-el="#add-badge"] {
          border: 1px solid white;
          padding: 2px 8px 3px 8px;
          line-height: 1;
          border-radius: 14px;
      }
    }

    .text {
      @media (min-width: @viewer-nav-breakpoint) {
        padding-right: 2px;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  #body {
    font-family: 'roboto';
    .standard-headers(left);
    .body-copy-lists;
    width: 100%;

    #summary {
      display: block;
      position: relative;

      .title {
        width: 100%;
      }

      #summary-image, #summary-text {
        .border-box;

        @media (min-width: @viewer-nav-breakpoint) {
          width: 50%;
        }
      }

      #summary-toc {
        ul {
          padding:0;
          li {
            list-style-type:none;
          }
        }
      }

      #summary-image .featured-asset {
        position: fixed;
        width: 50%;
        margin-right: 0;
        max-width: 100%;
        float:none;
        left: 0;

        img {
          width: 100%;
        }
      }

      #summary-image {
        position: static;
        height: 450px;
        background-size: cover;
        background-position: center;
        border-bottom: 1px solid @black10;

        @media (min-width: @viewer-nav-breakpoint) {
          position: fixed;
          border-right: 1px solid rgba(0,0,0,.05);
          height: 0;
          padding-bottom: 50%; // Match width to preserve 1:1 aspect ratio
        }

      }

      #summary-wrap {
        padding: 16px 16px 64px 16px;

        @media (min-width: @viewer-nav-breakpoint) {
          position: relative;
          left: 50%;
          padding: 64px;
          box-sizing: border-box;
          width: 50%;

          > h2 {
            padding-left: 16px;
            font-weight: 900;
            margin-bottom: 16px;
          }
        }
      }

      #summary-text {
        width: 100%;
        margin-bottom: 32px;
        max-width: 40em;
        border-left: 1px solid @black30;

        p {
          font-size: 18px;
          font-weight: 300;
          font-family: 'Roboto';
          padding-left: 16px;
          line-height: 1.25;
        }

        i {
          font-style: normal;
          font-weight: 100;
          font-size: 20px;
          line-height: 1.4;
        }
      }

      #summary-toc {

        h2 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 16px;
        }

        li {
          margin-bottom: 8px;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }

  .call-to-action {
    .callout-section;
  }

  .section,
  .connected-story {
    padding: 32px;
  }

  .section.summary {
    padding: 0;
  }

  .connected-stories {
    h2.title {
      margin-bottom:1.2em;
    }
  }

  .connected-story-item {
    margin-bottom:1em;
    clear:both;
    overflow:hidden;

    h3 {
      margin-top:0 !important;
    }

    img {
      max-width:100px;
      margin-right:1em;
      float:left;
    }
  }

  .spider {
    .sidebar {
      float: left;
      width: 18%;
      padding: 8px 0 0 1%;

      #summary-text, .call-to-action {
        padding: 0 6%;
      }
    }

    svg {
      float: left;
      position: fixed;
    }
  }

  .section {
    h1, h2, h3 {
      &.title {
        font-size: 24px;
        font-weight: normal;
        color: @orange;
        padding: 0;
      }
    }
  }

  .section-layout.side-by-side .left,
  .section-layout.side-by-side .right {
    // Stack side-by-side elements on smaller displays
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: @viewer-nav-breakpoint) {
      width: 49%;
      float: left;
    }
  }

  .section-layout.side-by-side .left {
    margin-bottom: 10px;

    @media (min-width: @viewer-nav-breakpoint) {
      margin-bottom: 0px;
    }
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: @viewer-bar-padding;
    background-color: @blue-xxdark;
    z-index: 9999;

    .logo {
      position:absolute;
      right: 20px;
      bottom: 5px;
      display:block;

      background-image: url(../img/viewer-logo.png);
      background-position: -42px 0px;
      background-repeat: no-repeat;

      height: 27px;
      width: 26px;

      span {
        .hide-text;
      }

      @media (min-width: @viewer-nav-breakpoint) {
        background-position: 0px 0px;
        width:200px;
      }
    }

  }

  #toggle-toc {
    .button-reset;
    position: relative;
    color: #fff;
    min-width: 200px;

    .bars {
      float: left;
      padding-right: 4px;

      @media (min-width: @viewer-nav-breakpoint) {
        display: none;
      }
    }

    .bar {
      .menu-bar();
    }
  }

  #toc {
    position: fixed;
    right: 260px;
    bottom: 0;
    float: left;
    padding: @viewer-bar-padding;
    overflow: hidden;
    color: #fff;
    background-color: @footer-background-color;

    .text {
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 5px;
    }

    .story-toc {
      display: none;
      overflow-x: hidden;
      overflow-y: auto;
      margin-bottom: @viewer-bar-padding;

      @media (min-width: @viewer-nav-breakpoint) {
        min-width: 200px;
      }

      a {
        color: #fff;
        text-decoration: none;
        display:block;
        width:100%;
        padding: 4px 2px;

        &:hover {
          background:darken(@dark-gray, 10%);
        }
        &.current {
          color:@orange;
          background:darken(@dark-gray, 10%);
        }
      }

      li {
        padding: 0;
      }

      li ul {
        padding-top: 2px;
      }

      li li {
        padding: 2px;
      }
    }
  }

  .referrer,
  .explorer {
    color: @white;
    float: left;
  }

  #story-nav {
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;


    a {
      text-decoration: none;
      color: #fff;

      @media (min-width: @viewer-nav-breakpoint) {
        width: 40px;
        display: inline-block;
        background: @white10;
        margin: 0;
        .rounded-corners(4px);

        &:hover, &:focus {
          background: @dark-gray;
        }
      }

      &:first-child {
        margin-right:5px;
      }

      &.disabled {
        color:@gray;
        cursor:default;


        &:hover {
          color:@gray;
        }

        @media (min-width: @viewer-nav-breakpoint) {
          border:1px solid @dark-gray;

          &:hover {
            background:darken(@dark-gray, 10%);
          }
        }
      }


      &.connected {
        width: auto;
        padding: 0 8px;
      }
    }

    .location {
      display: inline-block;
      font-size:1em;
      padding:0 .75em;
      color:@light-gray;
      font-weight: 700;
    }
  }

  path.link {
    fill: none;
    stroke-width: 2;
    stroke: #dddddd;
  }

  .node.active {
    fill: red;
  }

  iframe.sandboxed-asset {
    border:none;
  }

  // from here down to end of .story-viewer block copied from old style.css.
  // these are probably applicable in more places than in story-viewer.
  // to be more intelligently integrated.

  /* Story detail */

  section.story, section.actions {
    overflow: hidden; /* Clear containing elements */
    padding: 2% 0 4% 0;
  }

  section.story {
    position: relative;
    border-bottom: 1px solid #999;
  }

  section.story h1 {
    padding: 0 0 1% 0;
  }

  .featured-asset {
    float: left;
    margin-right: 3.8%;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    width: 50%;
  }

  a#launch-story-viewer {
    position: absolute;
    right: 0;
  }

  section.actions .row {
    min-width: 400px;
  }

  dl.story-metadata {
    width: 100%;
    margin: 4% 0;
  }

  dl.story-metadata dt {
    clear: left;
    float: left;
    width: 40%;
    padding: 2% 0;
    font-weight: bold;
  }

  dl.story-metadata dt:after {
    content: ":";
  }

  dl.story-metadata dd {
    width: 60%;
    margin: 0;
    padding: 2% 0;
    float: left;
  }

  dl.story-metadata dd ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  dl.story-metadata dd ul.inline li {
    display: inline;
  }

  dl.story-metadata dd ul.inline li:after {
    content: ", ";
  }

  dl.story-metadata dd ul.inline li.last:after {
    content: "";
  }

  li.section {
     list-style-type: none;
  }

  /* Organization/Project list */

  .organization-list,
  .project-list {
    list-style-type: none;
    padding: 0;
  }

  .organization-list > li,
  .project-list > li {
    padding-bottom: 1.5%;
  }

  .organization-list h3,
  .project-list h3 {
    padding: 1% 0;
  }

  .organization-list h3 a,
  .project-list h3 a {
    color: #555;
    text-decoration: none;
  }

  .organization-list h3 a:hover,
  .project-list h3 a:hover {
    color: #0066CC;
    text-decoration: underline;
  }

  .organization-list .description,
  .project-list .description {
    padding-bottom: 0;
  }


  dl.story-attributes dt:after {
    content: ": ";
  }

  dl.story-attributes dd {
    margin: 0;
  }

  dl.story-attributes dd,
  dl.story-attributes dt {
    display: inline-block;
  }

  dl.story-attributes .languages {
    padding: 0;
    list-style-type: none;
  }

  dl.story-attributes .languages li {
    display: inline-block;
  }

  /* Asset content */

  .attribution {
    font-style: italic;
  }

  .attribution:before {
    content: '-- ';
  }

  /* Forms */

  fieldset {
    padding: 5px 0;

  }

  legend {
    font-size: 1.5em;
  }
}

// Story viewer modal window
#story-viewer-modal {
  #modal-controls {
    position: absolute;
    top: 0;
    // Need this to clear the scroll-bar
    right: @viewer-bar-padding;
    padding: @viewer-bar-padding;

    text-align: right;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  button.simplemodal-close {
    .button-reset;
  }
}

// Styles that apply to both the builder and viewer
.story-viewer .section, .story-builder .edit-section {
  // Asset data set list
  .datasets-label {
    font-weight: bold;
    margin: 0.25em 0 !important;
  }

  ul.datasets {
    list-style: none;
    width: 95%;
    padding-left: 0 !important;

    li {
      list-style-type: none !important;
      padding-bottom: 0.25em;

      .title {
        max-width: 95%;
        word-wrap: break-word;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.dataset-source {
  display: block;
  text-indent: 0;
  color: @gray;
  font-size: ceil(@base-font-size * 0.8);
  line-height: ceil(@base-font-size * 0.8);
}

.dropdown-menu > li > .dataset-source {
  clear: both;
  display: block;
  padding: 3px 20px;
  white-space: nowrap;
}
