/* Common Styles */

.btn {
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
  line-height: 18px;
  padding: 4px 10px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: #E6E6E6 #E6E6E6 #B3B3B3;
  display: inline-block;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
}

.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

/* Help Modal */

#simplemodal-container {
  background-color: #fff;
  width: 66%;
  height: 66%;
}

#simplemodal-wrap {
  overflow-x: hidden;
  overflow-y: scroll;
}

#simplemodal-data {
  padding: 10px;
}

.help .simplemodal-close {
  position: absolute;
  display: block;
  right: 20px;
}

.help-modal-controls {
  margin-top: 10px;
}

/* Rich Text Editor */

.wysihtml5-toolbar {
  position: relative;
  padding: 0 0 20px 0;
}

.wysihtml5-sandbox {
  border: none !important;
}

[data-wysihtml5-dialog] {
  position: absolute;
  top: 20px;
  width: 100%;
}

[data-wysihtml5-dialog-action] {
  cursor: pointer;
}

/* Navigation Bar */

.navbar {
  background-color: #000;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.navbar .row {
  position: relative;
}

.navbar .title {
  float: left;
  font-size: 20px;
  padding: 8px 0 12px 0;
  line-height: 1;
}

.navbar .nav {
  position: relative;
  display: block;
  float: left;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}

.navbar .nav > li {
  display: block;
  float: left;
  line-height: 18px;
}

.navbar .nav > li > a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.tools {
  position: absolute !important;
  right: 0;
}

.workflow .active {
  background-color: #fff;
}

.workflow .active a {
  color: #000 !important;
  font-style: italic;
}

/* Main Application Container */

#builder .alerts {
  position: fixed;
  width: 100%;
}

#builder .alert {
  padding: 1%;
  text-align: center;
}

#app {
  height: 100%;
}

/* Story Template List */

.story-templates {
  list-style: none
}

.story-templates li {
  display: block;
  float: left;
  width: 30%;
  padding: 1%;
}

/* Story Builder View */

.builder {
  position: relative;
  height: 100%;
}

.last-saved {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1% 0;
}

/* Unused Assets List */

.unused-assets {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding: 0 2%;
  background-color: #000;
  color: #fff;
  z-index: 9999;
}

.unused-assets a {
  color: #fff;
  font-weight: bold;
}

.unused-assets ul {
  list-style: none;
  padding: 0;
}

.unused-asset {
  cursor: pointer;
}

/* Story information editor */

.summary {
  width: 100%;
  height: 60%;
}

/* Call to action editor */

.call-to-action {
  width: 100%;
  height: 60%;
}

/* Section Editor */

.edit-section {
  position: relative;
  height: 70%;
  padding: 2%;
}

.section-edit-layout {
  position: relative;
  height: 90%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.storybase-container-placeholder {
  position: relative;
  height: 100%;

  padding: 2%;

  border: solid 1px #c8c8c8;
  border-radius: 15px;
  overflow: hidden;
}

.storybase-container-placeholder [name=body] {
  /* TODO: Figure out a better way to set height */
  height: 150px;
}

.section-asset-controls {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0 2%;
  z-index: 999;
  list-style: none;
}

.section-asset-controls li {
  display: inline-block;
}

.bbf-form ul {
  margin: 0;
  padding: 0;
}

.field-body .bbf-editor {
  margin-left: 0;
  width: 100%;
}

/* Table of contents thumbnails */

.section-list {
  position: relative;
}

.sections-container {
  float: left;
  width: 66%;
  margin: 0 20px;
  padding: 0 10px;
  overflow: auto;
}

.scroll-left, .scroll-right {
  display: block;
  line-height: 100px;
  cursor: pointer;
  float: left;
}

.scroll-left {
}

.scroll-right {
  margin-right: 20px;
}

.sections {
  width: 1500px;
  margin: 0;
  padding: 0;
  float: left;
}

.section-thumbnail-container {
  position: relative;
  display: block;
  float: left;
  list-style: none;
}

.section-thumbnail, .spacer {
  position: relative;
  float: left;
  height: 75px;
  margin: 10px 0;
  padding: 1% 0;
  text-align: center;
  cursor: pointer;
}

.section-thumbnail {
  width: 120px;
  border: 1px solid #000;
}

.section-thumbnail .title {
  padding: 22% 0;
}

.spacer {
  width: 20px;
}

.spacer:hover {
  width: 120px;
  border: 1px solid #000;
  margin: 10px;
  cursor: pointer;
  background-color: #C8C8C8;
  color: #fff;
}

.spacer div {
  display: none;
  padding: 22% 0;
}

.spacer:hover div {
  display: block;
}


.section-thumbnail-container.pseudo .section-thumbnail {
  background-color: #C8C8C8;
  color: #fff;
}

.section-thumbnail-container.selected .section-thumbnail {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

.section-thumbnail.new {
  margin: 10px;
}

.section-thumbnail .remove {
  display: none;
  position: absolute;
  top: 2px;
  right: 4px;
  text-decoration: none;
}

.section-thumbnail:hover .remove {
  display: block;
}


/* Builder Navigation Buttons */

.workflow-nav {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 20%;
}

/* Add Data View */
.datasets {
  margin: 2% 0;
  width: 100%;
}

.datasets th,
.datasets td {
  text-align: left;
}

.datasets th {
  font-weight: bold;
  border-bottom: solid 2px;
}

.datasets td {
  padding: 6px 0;
  border-bottom: 1px solid #CCCCCC;
}

.dataset {
  padding: 1% 0;
}
