.navbar {
  background-color: #000;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.navbar .row {
  position: relative;
}

.navbar .title {
  float: left;
  font-size: 20px;
  padding: 8px 0 12px 0;
  line-height: 1;
}

.navbar .nav {
  position: relative;
  display: block;
  float: left;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}

.navbar .nav > li {
  display: block;
  float: left;
  line-height: 18px;
}

.navbar .nav > li > a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.tools {
  position: absolute !important;
  right: 0;
}

.workflow .active {
  background-color: #fff;
}

.workflow .active a {
  color: #000 !important;
  font-style: italic;
}

#app {
  height: 100%;
}

.story-templates {
  list-style: none
}

.story-templates li {
  display: block;
  float: left;
  width: 30%;
  padding: 1%;
}

.builder {
  position: relative;
  height: 100%;
}

.last-saved {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1% 0;
}

.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

.builder .alerts {
  position: relative;
  top: 5%;
  min-height: 2%;
}

.builder .alert {
  padding: 1%;
}

.unused-assets {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding: 0 2%;
  background-color: #000;
  color: #fff;
  z-index: 9999;
}

.unused-assets a {
  color: #fff;
  font-weight: bold;
}

.unused-assets ul {
  list-style: none;
  padding: 0;
}

.edit-section {
  position: relative;
  height: 60%;
  padding: 2%;
  margin-top: 2%;
}

.edit-section input.title,
.edit-story-info input {
  display: block;
  width: 80%;
  padding: 0.25em;
  font-size: 2em;
  margin-top: 0.5em;
}

.edit-story-info textarea.summary {
  display: block;
  width: 80%;
  height: 8em;
  margin-top: 1em;
  padding: 1em;
}

.section-edit-layout {
  position: relative;
  height: 100%;
}

/* Section layouts */
/* TODO: Move these elsewere */

.section-layout {
  height: 100%;
}

.section-layout.side-by-side .left,
.section-layout.side-by-side .right {
  height: 100%;
  width: 46%;
  margin: 2%;
  float: left;
}

.section-layout.one-up .center {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 2%;
}

.storybase-container-placeholder {
  position: relative;
  height: 100%;

  padding: 2%;

  background-color: #C8C8C8;
  border-radius: 15px;
  overflow: hidden;
}

.section-asset-controls {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0 2%;
  z-index: 999;
  list-style: none;
}

.section-asset-controls li {
  display: inline-block;
}

/* Table of contents thumbnails */

.sections {
  width: 66%;
  float: left;
}

.section-thumbnail {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 75px;
  margin: 10px;
  border: 1px solid #000;
  padding: 1% 0;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.section-thumbnail.pseudo {
  background-color: #C8C8C8;
  color: #fff;
}

.section-thumbnail.selected {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

.section-thumbnail div {
  padding: 22% 0;
}

.workflow-nav {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 33%;
}

.btn {
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
  line-height: 18px;
  padding: 4px 10px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: #E6E6E6 #E6E6E6 #B3B3B3;
  display: inline-block;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
}
