.button-style{padding:8px;background:#878787;font-family:"Museo300Regular";font-size:14px;border-radius:4px;border:none;font-weight:normal;color:#fbfaf2;}.button-style:hover{text-decoration:none;background:#fe9703;color:#fff;}
.button-style.right{margin-left:8px;}
.plain-serif-text{font-family:Georgia,'Times New Roman',Serif;}
.line-through-header{background:url('../img/h3-line.png') repeat-x 0 8px;margin-bottom:10px;}.line-through-header span{background:#fff;padding-left:16px;padding-right:16px;}
*{margin:0;padding:0;outline:0;}
body,html{height:100%;}
body{font-size:12px;line-height:1.3;font-family:arial,sans-serif;color:#000;background:url('../img/body.jpg') repeat-x 0 0;min-width:100%;overflow-y:scroll;}
@font-face{font-family:'MuseoSlab500Regular';src:url('../css/font-face/museo_slab_500-webfont.eot');src:url('../css/font-face/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),url('../css/font-face/museo_slab_500-webfont.woff') format('woff'),url('../css/font-face/museo_slab_500-webfont.ttf') format('truetype'),url('../css/font-face/museo_slab_500-webfont.svg#MuseoSlab500Regular') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'Museo300Regular';src:url('../css/font-face/museo300-regular-webfont.eot');src:url('../css/font-face/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../css/font-face/museo300-regular-webfont.woff') format('woff'),url('../css/font-face/museo300-regular-webfont.ttf') format('truetype'),url('../css/font-face/museo300-regular-webfont.svg#Museo300Regular') format('svg');font-weight:normal;font-style:normal;}h1{font-size:48px;color:#4a4a4a;text-align:center;font-family:'Museo300Regular';font-weight:normal;}
h2{font-size:36px;color:#4a4a4a;text-align:center;font-family:'Museo300Regular';font-weight:normal;}
h3{font-size:30px;color:#5a5a5a;text-align:center;font-family:'Museo300Regular';font-weight:normal;}
h4{font-size:22px;color:#5a5a5a;text-align:center;font-family:'Museo300Regular';font-weight:normal;}
h5{font-size:20px;color:#20c6fd;font-family:'MuseoSlab500Regular';font-weight:normal;}
a{color:#0252aa;text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline;}
a img{border:0;}
input,textarea,select{font-size:12px;font-family:arial,sans-serif;}
textarea{overflow:auto;}
.cl{display:block;height:0;font-size:0;line-height:0;text-indent:-4000px;clear:both;}
.notext{font-size:0;line-height:0;text-indent:-4000px;}
.left,.alignleft{float:left;display:inline;}
.right,.alignright{float:right;display:inline;}
ul{list-style:none;}
h2{background:url('../img/h3-line.png') repeat-x 0 8px;margin-bottom:10px;}
h2 span{background:#fff;padding-left:16px;padding-right:16px;}
.modal{display:none;}
a.button{padding:8px;background:#878787;font-family:"Museo300Regular";font-size:14px;border-radius:4px;border:none;font-weight:normal;color:#fbfaf2;display:inline-block;}a.button:hover{text-decoration:none;background:#fe9703;color:#fff;}
a.button.right{margin-left:8px;}
.shell{width:1000px;margin:0 auto;position:relative;}
#header{height:165px;position:relative;z-index:2501;}
#container{width:100%;}
#main{overflow-x:hidden;min-height:200px;padding-bottom:8px;}#main.inner{overflow-x:visible !important;}
#main .col{width:486px;padding-bottom:55px;}
#main .bottom{margin-bottom:209px;}#main .bottom .left{width:182px;float:left;display:inline;}
#main .bottom .right{width:721px;}
.content-page{overflow:hidden;}
.twocol .twocol-content{overflow:hidden;}
.header-item{font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';}
.header-right{width:284px;float:right;display:inline;padding-top:18px;}.header-right ul{list-style:none;}.header-right ul li{float:left;display:inline;background:url('../img/sep2.png') no-repeat 0 2px;padding-left:11px;margin-left:5px;font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';}.header-right ul li:first-child{margin-left:0;background:none;padding-left:0;}
.header-right ul li a{font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';}
.header-right form#search{padding-top:12px;}.header-right form#search input{float:left;display:inline;border:0;}.header-right form#search input.field{width:233px;background:url('../img/search.png') no-repeat 0 0;font-size:18px;color:#535353;font-family:'Museo300Regular';padding:8px 0 8px 5px;border:none;border-radius:0;box-shadow:none;font-style:normal;}
.header-right form#search input.submit{width:38px;height:36px;background:url('../img/search.png') no-repeat right 0;border:0;cursor:pointer;border-radius:0;}
#header img.header-logo{position:absolute;top:18px;left:-10px;}
.footer{padding-top:26px;background:#000000;padding-bottom:60px;}.footer .left{width:465px;padding-top:15px;}.footer .left p{font-size:12px;color:#999;font-family:Georgia,'Times New Roman',Serif;}
.footer .right{width:221px;}.footer .right ul{list-style:none;}.footer .right ul li a{font-size:14px;color:#909090;font-family:'MuseoSlab500Regular';line-height:22px;}.footer .right ul li a:hover{text-decoration:none;color:#fff;}
.footer .right ul li.middle{padding-bottom:14px;}
.footer .right ul li.last a{font-family:'MuseoSlab500Regular';}
.megamenu{padding-top:39px;}.megamenu ul{list-style:none;position:relative;}.megamenu ul li{float:left;display:inline;padding-left:46px;font-family:'MuseoSlab500Regular';}.megamenu ul li a{font-size:16px;color:#ffffff;font-family:'MuseoSlab500Regular';background:url('../img/nav-arrow.png') no-repeat 0 3px;padding-left:12px;position:relative;padding-bottom:23px;}.megamenu ul li a em{height:8px;background:url('../img/dd-arrow.png') no-repeat center 0;width:100%;position:absolute;bottom:-1px;left:0;display:none;z-index:5000;}
.megamenu ul li a.active,.megamenu ul li a.hover,.megamenu ul li a:hover{color:#fe9703;text-decoration:underline;}
.megamenu ul li .dd{position:absolute;top:43px;left:0;background:#fff;width:1000px;min-height:200px;display:none;box-shadow:0 0 5px #9a9a9a;}.megamenu ul li .dd.onecol .dd-col.col1{width:auto;}
.megamenu ul li .dd.fourcol .dd-col.col3{padding-right:10px;}
.megamenu ul li .dd.fourcol .dd-col.col1,.megamenu ul li .dd.fourcol .dd-col.col2,.megamenu ul li .dd.fourcol .dd-col.col3,.megamenu ul li .dd.fourcol .dd-col.col4{width:20%;}
.megamenu ul li .dd.onecol .dd-col.col1,.megamenu ul li .dd.onecol .dd-col.col1-2,.megamenu ul li .dd.threecol .dd-col.col3,.megamenu ul li .dd.fourcol .dd-col.col4{border-right:0;}
.megamenu ul li .dd .dd-col{float:left;display:inline;min-height:120px;margin-top:20px;border-right:1px dotted #666;padding-left:25px;}.megamenu ul li .dd .dd-col.col1{padding-right:20px;}
.megamenu ul li .dd .dd-col.col2,.megamenu ul li .dd .dd-col.col1-2{padding-right:10px;}
.megamenu ul li .dd .dd-col.col1,.megamenu ul li .dd .dd-col.col2,.megamenu ul li .dd .dd-col.col3{width:25%;}
.megamenu ul li .dd .dd-col.col1-2{width:50%;}
.megamenu ul li .dd .dd-col a{font-size:13px;color:#fe9703;padding:0 0 0 8px;position:relative;left:-8px;background-image:none;}
.megamenu ul li .dd .dd-col a:hover{background:url('../img/h6-a-arrow.png') no-repeat 0 center;}
.megamenu ul li h6,.megamenu ul li h6 a{font-size:16px !important;color:#3b3b3b !important;font-weight:normal;font-family:'MuseoSlab500Regular';background:none;display:block;margin-bottom:9px;}
.megamenu ul li h6 a{color:#fe9703;}
.megamenu ul li h6 a:hover{background:url('../img/h6-a-arrow.png') no-repeat 0 center;}
.megamenu ul li ul li{padding-left:0;}.megamenu ul li ul li a{background:none;display:block;}
.megamenu ul li ul li a:hover{background:url('../img/a-arrow.png') no-repeat 0 2px;}
.megamenu ul li:first-child{padding-left:0;}
.megamenu ul li.nodd a{background:none;padding-left:0;}
.megamenu.my-account{position:absolute;top:83px;right:20px;}.megamenu.my-account ul li .dd{width:auto;left:-60px;right:0;}
.megamenu.my-account ul li ul li{display:block;float:none;}
.sidebar li{color:#4a4a4a;font-family:'MuseoSlab500Regular';}.sidebar li a{color:#fe9703;}
.sidebar .sibling-nav li a{font-size:20px;line-height:22px;font-family:'MuseoSlab500Regular';white-space:nowrap;}
.sidebar .sibling-nav li.selected a,.sidebar .sibling-nav li a:hover{background:url('../img/arrow-nav.png') no-repeat right center;padding-right:17px;text-decoration:none;}
.homepage .intro{padding-top:25px;padding-bottom:55px;}.homepage .intro h2{font-size:45px;background:none;}
.homepage .intro p{font-size:18px;color:#666666;text-align:center;font-family:Georgia,'Times New Roman',Serif;}.homepage .intro p a{color:#fe9703;}
.homepage .intro .flexslider .flex-control-nav{display:none !important;}
.homepage .intro .flexslider .flex-direction-nav{display:none !important;}
.homepage .bottom .flexslider .flex-control-nav,.homepage .bottom .flexslider .flex-direction-nav{display:none !important;}
.homepage .featured-stories h3,.homepage .featured-projects h3{background:url('../img/h3-line.png') repeat-x 0 8px;margin-bottom:10px;z-index:10000;position:relative;}.homepage .featured-stories h3 span,.homepage .featured-projects h3 span{background:#fff;padding-left:16px;padding-right:16px;}
.homepage .featured-stories img,.homepage .featured-projects img{margin:0 auto;}
.homepage .images{width:100%;position:relative;overflow:hidden;display:none;}.homepage .images a{float:left;display:inline;position:relative;margin-bottom:-4px;position:relative;}.homepage .images a:hover{text-decoration:none;}
.homepage .images a img{display:block;}
.homepage .images a span.overlay{background:url('../img/image-overlay.png') 0 0;display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.homepage .images a span.title{position:absolute;bottom:0;left:0;background:url('../img/transparent.png') 0 0;display:block;width:100%;display:none;}
.homepage .images a span.title em{font-size:12px;font-style:normal;color:#20c6fd;font-family:'MuseoSlab500Regular';padding:7px 14px 12px 14px;display:block;}
.homepage .page-nav ul{text-align:center;}.homepage .page-nav ul li{display:inline;}.homepage .page-nav ul li a{font-size:24px;color:#fe9703;font-weight:bold;font-family:'MuseoSlab500Regular';font-weight:normal;}
.homepage .page-nav span.sep{width:1px;height:42px;background:url('../img/sep.png') no-repeat 0 0;display:inline-block;top:12px;position:relative;margin-left:15px;margin-right:15px;}
.homepage .page-nav .left-nav{background:url('../img/left-arrow2.png') no-repeat 0 3px;padding-left:25px;}
.homepage .page-nav .right-nav{background:url('../img/right-arrow2.png') no-repeat right 3px;padding-right:25px;}
.breadcrumbs{height:38px;background:url('../img/br-bg.png') repeat-x 0 0;margin-bottom:35px;}
.breadcrumbs ul{list-style:none;}
.breadcrumbs ul li{float:left;display:inline;background:url('../img/bread-sep.png') no-repeat right center;padding-right:12px;padding-left:7px;}
.breadcrumbs ul li:first-child{padding-left:0;}
.breadcrumbs ul li.last{background:none;}
.breadcrumbs ul li.first a{color:#fe9703 ;}
.breadcrumbs ul li,.breadcrumbs ul li a{font-size:14px;color:#3b3b3b;font-family:'MuseoSlab500Regular';line-height:37px;}
ul.messages{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;border:1px solid #bbb;padding:10px;margin:20px 0;color:#5a5a5a;font-size:16px;}
ul.messages li.error{color:#ee6666;}
ul.social{list-style:none;padding-top:12px;}
ul.social li{float:left;display:inline;padding-right:10px;}
ul.social li a{width:24px;height:24px;float:left;display:inline;background:url('../img/social.png') no-repeat 0 0;font-size:0;line-height:0;text-indent:-4000px;}
ul.social li a:hover{opacity:0.7;}
ul.social li.icon1 a{background-position:0 0;}
ul.social li.icon2 a{background-position:-34px 0;}
ul.social li.icon3 a{background-position:-67px 0;}
#slideContainer .back{width:26px;height:46px;background:url('../img/slider-arrows3.png') no-repeat 0 0;display:block;font-size:0;line-height:0;text-indent:-4000px;position:absolute;top:74px;left:76px;z-index:500;}
#slideContainer .forward{width:26px;height:46px;background:url('../img/slider-arrows3.png') no-repeat right 0;display:block;font-size:0;line-height:0;text-indent:-4000px;position:absolute;top:74px;right:0;z-index:500;}
#main .flexslider-holder{overflow:hidden;}
.flexslider.col .next,.flexslider.col .prev{margin-top:125px;}
#main .full-width ul li .image{position:relative;}
#main .full-width{padding-bottom:27px;overflow:visible !important;margin-top:20px;}
#main .full-width .image{width:335px;float:left;display:inline;padding-left:76px;}
#main .text{margin-top:4px;float:right;display:inline;width:490px;padding-right:76px;}
#main .text p{font-size:12px;line-height:16px;color:#5a5a5a;font-family:Georgia,'Times New Roman',Serif;}
#main .text p.byline{font-size:12px;color:#5a5a5a;font-style:italic;display:block;padding-bottom:10px;}
#main .text p.more a{font-size:14px;color:#fe9703;font-family:'MuseoSlab500Regular';display:block;margin-top:15px;}
p.byline{overflow:hidden;font-style:italic;}
#main .col h4{background:url('../img/h3-line.png') repeat-x 0 8px;margin-bottom:20px;}
#main .col h4 span{background:#fff;padding-right:10px;padding-left:10px;}
#main .col ul{width:335px;margin:0 auto;}
#main .col ul .text{width:335px;float:none;}
#main .col h5{font-size:18px;color:#20c6fd;padding-top:10px;}
#main .col ul .text,#main .col .image{padding-left:76px;padding-right:76px;display:block;}
#main .bottom .left ul li a{font-size:14px;color:#fe9703;font-family:'MuseoSlab500Regular';padding-left:5px;padding-right:5px;line-height:21px;display:inline-block;}
#main .bottom .left ul li a.active{background:#fe9703;color:#fff;border-radius:4px;}
#main .bottom .text{width:370px;padding-left:21px;border-left:1px dotted #666666;float:right;display:inline;padding-right:0;padding-left:21px;}
#main .bottom .image{width:300px;float:left;display:inline;}
.content-page{}.content-page h3 span{position:relative;}
.content-page.generic{padding-bottom:34px;margin-bottom:39px;}.content-page.generic h4{font-size:24px;color:#666;text-align:left;line-height:27px;margin-bottom:10px;}
.content-page.generic h4.first{font-family:Georgia,'Times New Roman',Serif;}
.content-page.generic h4 a{color:#fe9703;}
.content-page.generic p{font-size:12px;color:#5a5a5a;line-height:16px;font-family:Georgia,'Times New Roman',Serif;}
.content-page.generic .page-pull{margin-bottom:31px !important;}.content-page.generic .page-pull h4{background:none !important;margin-bottom:10px !important;font-family:'MuseoSlab500Regular';}
.content-page.generic .page-pull p{font-size:12px;color:#5a5a5a;line-height:16px;padding-bottom:12px;font-family:Georgia,'Times New Roman',Serif;}.content-page.generic .page-pull p a{font-size:14px;color:#fe9703;font-family:'MuseoSlab500Regular';}
.content-page.generic .page-pull p strong{font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#666;}
.content-page.object-detail .col{float:left;}.content-page.object-detail .col.left{width:380px;margin-right:45px;}
.content-page.object-detail .col.right{width:300px;}
.content-page.object-detail hr{border:0;height:1px;padding:7px 0;background:url('../img/h3-line.png') repeat-x;margin-bottom:20px;}
.content-page.object-detail h3,.content-page.object-detail h4{background:none;text-align:left;font-family:'Museo300Regular';font-weight:normal;margin-bottom:12px;}
.content-page.object-detail h4{font-size:19px;color:#333;margin-bottom:0;}
.content-page.object-detail .object img{width:100%;}
.content-page.object-detail .object #launch-story-viewer{margin:5px 0;font-size:16px;}
.content-page.object-detail .object+hr,.content-page.object-detail .story-outreach{clear:left;}
.content-page.object-detail .connected-stories dl{margin:10px;}
.content-page.object-detail .call-to-action ul{list-style:disc !important;}
.content-page.object-detail .object-metadata{font-family:Georgia,'Times New Roman',Serif;font-size:12px;color:#444;margin:20px 0;}.content-page.object-detail .object-metadata dt,.content-page.object-detail .object-metadata dd{float:left;}
.content-page.object-detail .object-metadata dt{clear:left;margin-right:4px;}
.content-page.object-detail .object-metadata dt:after{content:": ";}
.content-page.object-detail.project .featured-story img{width:100%;}
.content-page.object-detail.project .recent-stories ul{margin-bottom:30px;}
.content-page.object-detail.project .recent-stories li{margin-bottom:10px;overflow:hidden;}.content-page.object-detail.project .recent-stories li img{margin-top:8px;width:100%;}
.content-page section.content-block{padding-bottom:40px;border-bottom:1px solid #ccc;margin-bottom:20px;overflow:hidden;}.content-page section.content-block.last{border-bottom:none;}
form{overflow:hidden;}form .form-text{font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;}
form .soft-edge-style{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;box-shadow:inset 0 0 3px #ccc;border:1px solid #aaaaaa;padding:5px;}
form ul.errorlist li{font-family:Georgia,'Times New Roman',Serif;color:#ee6666;}
form p{font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;margin-bottom:8px;clear:both;line-height:30px;overflow:hidden;}form p label,form p label+input{display:block;float:left;}
form p label+input{position:absolute;margin-left:140px;}
form p.required label:after{color:#ee6666;content:"*";}
form input[type=text],form input[type=password]{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;box-shadow:inset 0 0 3px #ccc;border:1px solid #aaaaaa;padding:5px;font-style:italic;}form input[type=text][disabled],form input[type=password][disabled]{color:#959595;background:inherit;border:#c3c3c3;}
form input[type=submit]{padding:8px;background:#878787;font-family:"Museo300Regular";font-size:14px;border-radius:4px;border:none;font-weight:normal;color:#fbfaf2;}form input[type=submit]:hover{text-decoration:none;background:#fe9703;color:#fff;}
form input[type=submit].right{margin-left:8px;}
form textarea{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;box-shadow:inset 0 0 3px #ccc;border:1px solid #aaaaaa;padding:5px;display:block;clear:left;}
.btn{border-radius:4px;font-size:13px;text-decoration:none;line-height:18px;padding:4px 10px;vertical-align:middle;text-align:center;cursor:pointer;background-color:#F5F5F5;background-image:-moz-linear-gradient(center top, #ffffff, #e6e6e6);background-repeat:repeat-x;border-color:#E6E6E6 #E6E6E6 #B3B3B3;display:inline-block;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-style:solid;border-width:1px;box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset,0 1px 2px rgba(0, 0, 0, 0.05);color:#333333;}
.btn.disabled{cursor:default;opacity:0.65;}
.btn-container{padding:2em 0;}
.alert-success{background-color:#DFF0D8;border-color:#D6E9C6;color:#468847;}
.alert-error{background-color:#F2DEDE;border-color:#EED3D7;color:#B94A48;}
.alert-info{background-color:#D9EDF7;border-color:#BCE8F1;color:#3A87AD;}
.introduction{margin-top:1em;}
.centered{text-align:center;}
.editable{border:solid 1px #20C6FD;padding:0.5%;}
.editable-important{border:solid 1px #20C6FD !important;padding:0.5% !important;}
.editable:hover{border-color:#FE9703;}
.editable-important-hover{border-color:#FE9703 !important;}
.error input{background-color:#F2DEDE;border-color:#EED3D7;}
#simplemodal-container{background-color:#fff;width:66%;height:66%;}
#simplemodal-wrap{overflow-x:hidden;overflow-y:scroll;}
#simplemodal-data{padding:10px;}
.help .close{position:absolute;display:block;right:20px;}
.help .continue{position:absolute;display:block;top:0px;right:20px;margin-top:-10px;}
.help-modal-controls{position:relative;margin-top:10px;}
.wysihtml5-toolbar{position:relative;padding:0 0 20px 0;}
[[object Object]]{position:absolute;top:20px;width:100%;}
[[object Object]]{cursor:pointer;}
.navbar{background-color:#000;color:#fff;right:0;left:0;top:0;margin-bottom:0;}
.navbar .row{position:relative;}
.navbar .title{float:left;font-size:20px;padding:8px 0 12px 0;line-height:1;}
.navbar .nav{position:relative;display:block;float:left;list-style:none;margin:0 0 0 10px;padding:0;}
.navbar .nav>li{display:block;float:left;line-height:18px;}
.navbar .nav>li>a{display:block;float:none;padding:10px 10px 11px;line-height:19px;color:#fff;font-weight:bold;text-decoration:none;}
.tools{position:absolute !important;right:0;}
.workflow-step .selected{background-color:#fff;color:#000 !important;font-style:italic;}
.workflow-step .disabled,.tools .disabled{font-weight:normal !important;cursor:default;}
#builder .navbar{position:fixed;z-index:999;}
#builder .alerts{top:40px;position:fixed;width:100%;z-index:1001;}
#builder .alert{padding:1%;text-align:center;}
#app{height:100%;padding-top:80px;}
.story-templates{list-style:none;}
.story-templates li{display:block;float:left;width:30%;padding:1%;}
.vertical-space{margin-top:0.5%;}
.vertical-space-important{margin-top:0.5% !important;}
.full-width{width:100%;}
.builder{position:relative;height:100%;}
.section-controls{position:absolute;padding:1% 0;min-width:755px;max-width:1140px;}
.section-controls{width:940px;margin-left:auto;margin-right:auto;position:absolute;top:0;}
.last-saved{position:fixed;bottom:0;width:100%;padding-top:2px;padding-bottom:2px;background-color:#666666;color:#fff;z-index:999;}
.unused-assets{position:absolute;top:0;right:0;width:25%;padding:0 2%;background-color:#000;color:#fff;z-index:9999;}
.unused-assets a{color:#fff;font-weight:bold;}
.unused-assets ul{list-style:none;padding:0;}
.unused-asset{cursor:pointer;padding:2px 0;}
.unused-asset.ui-draggable-dragging{color:#000;}
.unused-asset .thumbnail{margin:2px;width:32px;height:32px;}
.story-title{width:100%;margin-top:0.5%;}
.byline{margin-top:0.5%;width:100%;}
.byline input{width:98% !important;}
.summary{width:100%;min-height:400px;}
.edit-story-info .wysihtml5-sandbox{border:solid 1px #20C6FD !important;padding:0.5% !important;margin-top:0.5% !important;}
.edit-story-info .wysihtml5-sandbox:hover{border-color:#FE9703 !important;}
.edit-call-to-action .wysihtml5-sandbox{border:solid 1px #20C6FD !important;padding:0.5% !important;margin-top:0.5% !important;}
.edit-call-to-action .wysihtml5-sandbox:hover{border-color:#FE9703 !important;}
.call-to-action{width:100%;height:250px;}
.connected-prompt{width:100%;height:300px;}
.edit-section{position:relative;width:940px;margin-left:auto;margin-right:auto;height:70%;padding:2% 2% 1% 2%;}.edit-section .section-title{margin-top:15px;width:930px;}
.section-edit-layout{position:relative;height:90%;margin-top:0.5%;padding-bottom:2%;}.section-edit-layout .wysihtml5-sandbox{border:none !important;}
#builder .section-layout{overflow:visible;}
.storybase-container-placeholder{position:relative;}.storybase-container-placeholder .wrapper{border:solid 1px #c8c8c8;overflow:hidden;height:94%;min-height:400px;}
.storybase-container-placeholder.select .wrapper{padding:2%;}
.storybase-container-placeholder.display{height:auto;min-height:40px;}
.storybase-container-placeholder#top,.storybase-container-placeholder#middle{margin-bottom:10px;}
.storybase-container-placeholder .help{display:block;position:absolute;left:-38px;}
.storybase-container-placeholder#right .help{left:auto;right:-38px;}
.asset-help-container{background-color:#fff;max-width:450px;}
.storybase-container-placeholder [name=body]{height:150px;}
.section-asset-controls{display:none;top:0;right:0;position:absolute;margin:0;padding:10px 10px 0 0;text-align:right;list-style:none outside none;background-color:#fff;z-index:999;}
.storybase-container-placeholder:hover .section-asset-controls{display:block;}
.section-asset-controls li{display:inline-block;}
.bbf-form ul{margin:0;padding:0;}
.field-body .bbf-editor{margin-left:0;width:100%;}
.bbf-field .bbf-editor{margin-left:0;width:100%;}
.bbf-field label{float:none;width:100%;font-weight:bold;}
#section-list{position:relative;z-index:999;background-color:#666666;overflow:hidden;}
#toggle-section-list{display:block;float:left;padding:10px;font-weight:bold;text-decoration:none;color:#fff;}
.opened #toggle-section-list::after{content:' - ';}
.closed #toggle-section-list::after{content:' + ';}
.sections-container{position:relative;width:75%;float:left;overflow:hidden;background-color:#666666;padding:0 10px;text-align:center;}
.sections-clip{float:left;width:90%;margin:0 20px;padding:0 10px;overflow:auto;}
.scroll-left,.scroll-right{display:block;float:left;line-height:100px;cursor:pointer;color:#fff;font-weight:bold;}
.scroll-left:hover,.scroll-right:hover{color:#fff;}
.scroll-right{position:absolute;right:10px;}
.sections{width:1500px;margin:0;padding:0;float:left;}
.section-thumbnail-container{position:relative;display:block;float:left;list-style:none;}
.section-thumbnail,.spacer{position:relative;float:left;height:75px;margin:10px 0;padding:1% 0;text-align:center;}
.section-thumbnail{width:120px;border:1px solid #000;background-color:#fff;cursor:pointer;}
.section-thumbnail .title{padding:22% 0;}
.spacer{width:20px;}
.spacer:hover{width:120px;margin:8px;color:#fff;}
.spacer .add-section{color:#fff;font-weight:bold;text-decoration:none;font-size:2em;}
.spacer div{display:none;padding:22% 0;}
.spacer:hover div{display:block;}
.section-thumbnail-container.pseudo .section-thumbnail{background-color:#C8C8C8;color:#fff;}
.section-thumbnail-container.selected .section-thumbnail{box-shadow:0 0 5px #0000ff;-webkit-box-shadow:0 0 5px #0000ff;-moz-box-shadow:0 0 5px #0000ff;}
.section-thumbnail.new{margin:10px;}
.section-thumbnail .remove{display:none;position:absolute;top:2px;right:4px;text-decoration:none;}
.section-thumbnail:hover .remove{display:block;}
#section-nav{float:left;width:65%;height:30px;padding-left:20px;padding-top:39px;font-weight:bold;}
#section-list.closed #section-nav{padding-top:10px;}
#section-nav a{color:#fff;}
#section-nav .prev::before{content:' < ';}
#section-nav .next::after{content:' > ';}
#section-list .workflow-nav{float:left;width:auto !important;position:absolute;right:20px;padding-top:39px;}
#section-list.closed .workflow-nav{padding-top:5px;}
#nav-container{position:fixed;width:100%;top:40px;background-color:#666666;z-index:999;}
.workflow-nav{position:relative;height:35px;padding-top:5px;text-align:right;}
.datasets{margin:2% 0;width:100%;}
.datasets th,.datasets td{text-align:left;}
.datasets th{font-weight:bold;border-bottom:solid 2px;}
.datasets td{padding:6px 0;border-bottom:1px solid #CCCCCC;}
.dataset{padding:1% 0;}
.dataset p{padding:0;}
#share-legal #permission ul{margin:1em 0;padding:0 0 0 40px;}
#share-taxonomy select{width:300px;}
#taxonomy{width:50%;float:left;}
#story-tags{width:50%;overflow:hidden;}
#story-tags form,#add-location form{margin-top:1em;margin-bottom:1em;}
#tags{display:none;width:300px;}
#add-location{width:50%;overflow:hidden;}
#add-location label{font-weight:bold;}
#add-location form{display:block;margin-bottom:10px;overflow:hidden;}
#map{float:left;position:relative;height:200px;width:200px;margin:0 10px 0 0;overflow:hidden;}
#found-address{width:200px;margin:0 0 10px 210px;}
input[name=address]{width:250px;margin-bottom:10px;}
#address-name-container{margin-bottom:10px;}
#locations{margin:10px 0 0 0;padding:0;list-style:none;}
#share-link{display:table;width:50%;margin:2em auto;}
#share-link div{display:table-cell;vertical-align:middle;}
#story-url{width:300px;}
.addthis_toolbox{display:inline-block;padding:0;}
#featured-asset{position:relative;}#featured-asset img{max-width:50%;}
#featured-asset .featured-asset-controls{margin:0;padding:10px 10px 0 0;list-style:none outside none;background-color:#fff;z-index:999;}#featured-asset .featured-asset-controls li{display:inline-block;}
#featured-asset .assets{padding:0;list-style:none outside none;}#featured-asset .assets .asset{padding:8px 0;}
.comments-list{padding:0;}
.comment{margin:5px 0;padding:5px;}
.comment-user-name{font-weight:bold;}
.content-page{}.content-page h3 span{position:relative;}
.content-page.generic{padding-bottom:34px;margin-bottom:39px;}.content-page.generic h4{font-size:24px;color:#666;text-align:left;line-height:27px;margin-bottom:10px;}
.content-page.generic h4.first{font-family:Georgia,'Times New Roman',Serif;}
.content-page.generic h4 a{color:#fe9703;}
.content-page.generic p{font-size:12px;color:#5a5a5a;line-height:16px;font-family:Georgia,'Times New Roman',Serif;}
.content-page.generic .page-pull{margin-bottom:31px !important;}.content-page.generic .page-pull h4{background:none !important;margin-bottom:10px !important;font-family:'MuseoSlab500Regular';}
.content-page.generic .page-pull p{font-size:12px;color:#5a5a5a;line-height:16px;padding-bottom:12px;font-family:Georgia,'Times New Roman',Serif;}.content-page.generic .page-pull p a{font-size:14px;color:#fe9703;font-family:'MuseoSlab500Regular';}
.content-page.generic .page-pull p strong{font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#666;}
.content-page.object-detail .col{float:left;}.content-page.object-detail .col.left{width:380px;margin-right:45px;}
.content-page.object-detail .col.right{width:300px;}
.content-page.object-detail hr{border:0;height:1px;padding:7px 0;background:url('../img/h3-line.png') repeat-x;margin-bottom:20px;}
.content-page.object-detail h3,.content-page.object-detail h4{background:none;text-align:left;font-family:'Museo300Regular';font-weight:normal;margin-bottom:12px;}
.content-page.object-detail h4{font-size:19px;color:#333;margin-bottom:0;}
.content-page.object-detail .object img{width:100%;}
.content-page.object-detail .object #launch-story-viewer{margin:5px 0;font-size:16px;}
.content-page.object-detail .object+hr,.content-page.object-detail .story-outreach{clear:left;}
.content-page.object-detail .connected-stories dl{margin:10px;}
.content-page.object-detail .call-to-action ul{list-style:disc !important;}
.content-page.object-detail .object-metadata{font-family:Georgia,'Times New Roman',Serif;font-size:12px;color:#444;margin:20px 0;}.content-page.object-detail .object-metadata dt,.content-page.object-detail .object-metadata dd{float:left;}
.content-page.object-detail .object-metadata dt{clear:left;margin-right:4px;}
.content-page.object-detail .object-metadata dt:after{content:": ";}
.content-page.object-detail.project .featured-story img{width:100%;}
.content-page.object-detail.project .recent-stories ul{margin-bottom:30px;}
.content-page.object-detail.project .recent-stories li{margin-bottom:10px;overflow:hidden;}.content-page.object-detail.project .recent-stories li img{margin-top:8px;width:100%;}
.content-page section.content-block{padding-bottom:40px;border-bottom:1px solid #ccc;margin-bottom:20px;overflow:hidden;}.content-page section.content-block.last{border-bottom:none;}
.footer{padding-top:26px;background:#000000;padding-bottom:60px;}.footer .left{width:465px;padding-top:15px;}.footer .left p{font-size:12px;color:#999;font-family:Georgia,'Times New Roman',Serif;}
.footer .right{width:221px;}.footer .right ul{list-style:none;}.footer .right ul li a{font-size:14px;color:#909090;font-family:'MuseoSlab500Regular';line-height:22px;}.footer .right ul li a:hover{text-decoration:none;color:#fff;}
.footer .right ul li.middle{padding-bottom:14px;}
.footer .right ul li.last a{font-family:'MuseoSlab500Regular';}
form{overflow:hidden;}form .form-text{font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;}
form .soft-edge-style{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;box-shadow:inset 0 0 3px #ccc;border:1px solid #aaaaaa;padding:5px;}
form ul.errorlist li{font-family:Georgia,'Times New Roman',Serif;color:#ee6666;}
form p{font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;margin-bottom:8px;clear:both;line-height:30px;overflow:hidden;}form p label,form p label+input{display:block;float:left;}
form p label+input{position:absolute;margin-left:140px;}
form p.required label:after{color:#ee6666;content:"*";}
form input[type=text],form input[type=password]{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;box-shadow:inset 0 0 3px #ccc;border:1px solid #aaaaaa;padding:5px;font-style:italic;}form input[type=text][disabled],form input[type=password][disabled]{color:#959595;background:inherit;border:#c3c3c3;}
form input[type=submit]{padding:8px;background:#878787;font-family:"Museo300Regular";font-size:14px;border-radius:4px;border:none;font-weight:normal;color:#fbfaf2;}form input[type=submit]:hover{text-decoration:none;background:#fe9703;color:#fff;}
form input[type=submit].right{margin-left:8px;}
form textarea{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;font-size:14px;color:#555555;box-shadow:inset 0 0 3px #ccc;border:1px solid #aaaaaa;padding:5px;display:block;clear:left;}
.header-item{font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';}
.header-right{width:284px;float:right;display:inline;padding-top:18px;}.header-right ul{list-style:none;}.header-right ul li{float:left;display:inline;background:url('../img/sep2.png') no-repeat 0 2px;padding-left:11px;margin-left:5px;font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';}.header-right ul li:first-child{margin-left:0;background:none;padding-left:0;}
.header-right ul li a{font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';font-size:12px;color:#909090;font-family:'MuseoSlab500Regular';}
.header-right form#search{padding-top:12px;}.header-right form#search input{float:left;display:inline;border:0;}.header-right form#search input.field{width:233px;background:url('../img/search.png') no-repeat 0 0;font-size:18px;color:#535353;font-family:'Museo300Regular';padding:8px 0 8px 5px;border:none;border-radius:0;box-shadow:none;font-style:normal;}
.header-right form#search input.submit{width:38px;height:36px;background:url('../img/search.png') no-repeat right 0;border:0;cursor:pointer;border-radius:0;}
#header img.header-logo{position:absolute;top:18px;left:-10px;}
.homepage .intro{padding-top:25px;padding-bottom:55px;}.homepage .intro h2{font-size:45px;background:none;}
.homepage .intro p{font-size:18px;color:#666666;text-align:center;font-family:Georgia,'Times New Roman',Serif;}.homepage .intro p a{color:#fe9703;}
.homepage .intro .flexslider .flex-control-nav{display:none !important;}
.homepage .intro .flexslider .flex-direction-nav{display:none !important;}
.homepage .bottom .flexslider .flex-control-nav,.homepage .bottom .flexslider .flex-direction-nav{display:none !important;}
.homepage .featured-stories h3,.homepage .featured-projects h3{background:url('../img/h3-line.png') repeat-x 0 8px;margin-bottom:10px;z-index:10000;position:relative;}.homepage .featured-stories h3 span,.homepage .featured-projects h3 span{background:#fff;padding-left:16px;padding-right:16px;}
.homepage .featured-stories img,.homepage .featured-projects img{margin:0 auto;}
.homepage .images{width:100%;position:relative;overflow:hidden;display:none;}.homepage .images a{float:left;display:inline;position:relative;margin-bottom:-4px;position:relative;}.homepage .images a:hover{text-decoration:none;}
.homepage .images a img{display:block;}
.homepage .images a span.overlay{background:url('../img/image-overlay.png') 0 0;display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.homepage .images a span.title{position:absolute;bottom:0;left:0;background:url('../img/transparent.png') 0 0;display:block;width:100%;display:none;}
.homepage .images a span.title em{font-size:12px;font-style:normal;color:#20c6fd;font-family:'MuseoSlab500Regular';padding:7px 14px 12px 14px;display:block;}
.homepage .page-nav ul{text-align:center;}.homepage .page-nav ul li{display:inline;}.homepage .page-nav ul li a{font-size:24px;color:#fe9703;font-weight:bold;font-family:'MuseoSlab500Regular';font-weight:normal;}
.homepage .page-nav span.sep{width:1px;height:42px;background:url('../img/sep.png') no-repeat 0 0;display:inline-block;top:12px;position:relative;margin-left:15px;margin-right:15px;}
.homepage .page-nav .left-nav{background:url('../img/left-arrow2.png') no-repeat 0 3px;padding-left:25px;}
.homepage .page-nav .right-nav{background:url('../img/right-arrow2.png') no-repeat right 3px;padding-right:25px;}
.section-width{width:940px;margin-left:auto;margin-right:auto;}
.section-title{font-size:30px;width:940px;margin-left:auto;margin-right:auto;}
.section-layout{overflow:hidden;font-size:13px;width:940px;margin-left:auto;margin-right:auto;}.section-layout.side-by-side .left,.section-layout.side-by-side .right{height:489px;width:49%;float:left;}
.section-layout.side-by-side .left{margin-left:0;margin-right:1%;}
.section-layout.side-by-side .right{margin-left:1%;margin-right:0;}
.section-layout.one-up .center{position:relative;height:805px;width:100%;margin:2 0%;}
.section-layout img,.section-layout iframe{max-width:100%;}
.megamenu{padding-top:39px;}.megamenu ul{list-style:none;position:relative;}.megamenu ul li{float:left;display:inline;padding-left:46px;font-family:'MuseoSlab500Regular';}.megamenu ul li a{font-size:16px;color:#ffffff;font-family:'MuseoSlab500Regular';background:url('../img/nav-arrow.png') no-repeat 0 3px;padding-left:12px;position:relative;padding-bottom:23px;}.megamenu ul li a em{height:8px;background:url('../img/dd-arrow.png') no-repeat center 0;width:100%;position:absolute;bottom:-1px;left:0;display:none;z-index:5000;}
.megamenu ul li a.active,.megamenu ul li a.hover,.megamenu ul li a:hover{color:#fe9703;text-decoration:underline;}
.megamenu ul li .dd{position:absolute;top:43px;left:0;background:#fff;width:1000px;min-height:200px;display:none;box-shadow:0 0 5px #9a9a9a;}.megamenu ul li .dd.onecol .dd-col.col1{width:auto;}
.megamenu ul li .dd.fourcol .dd-col.col3{padding-right:10px;}
.megamenu ul li .dd.fourcol .dd-col.col1,.megamenu ul li .dd.fourcol .dd-col.col2,.megamenu ul li .dd.fourcol .dd-col.col3,.megamenu ul li .dd.fourcol .dd-col.col4{width:20%;}
.megamenu ul li .dd.onecol .dd-col.col1,.megamenu ul li .dd.onecol .dd-col.col1-2,.megamenu ul li .dd.threecol .dd-col.col3,.megamenu ul li .dd.fourcol .dd-col.col4{border-right:0;}
.megamenu ul li .dd .dd-col{float:left;display:inline;min-height:120px;margin-top:20px;border-right:1px dotted #666;padding-left:25px;}.megamenu ul li .dd .dd-col.col1{padding-right:20px;}
.megamenu ul li .dd .dd-col.col2,.megamenu ul li .dd .dd-col.col1-2{padding-right:10px;}
.megamenu ul li .dd .dd-col.col1,.megamenu ul li .dd .dd-col.col2,.megamenu ul li .dd .dd-col.col3{width:25%;}
.megamenu ul li .dd .dd-col.col1-2{width:50%;}
.megamenu ul li .dd .dd-col a{font-size:13px;color:#fe9703;padding:0 0 0 8px;position:relative;left:-8px;background-image:none;}
.megamenu ul li .dd .dd-col a:hover{background:url('../img/h6-a-arrow.png') no-repeat 0 center;}
.megamenu ul li h6,.megamenu ul li h6 a{font-size:16px !important;color:#3b3b3b !important;font-weight:normal;font-family:'MuseoSlab500Regular';background:none;display:block;margin-bottom:9px;}
.megamenu ul li h6 a{color:#fe9703;}
.megamenu ul li h6 a:hover{background:url('../img/h6-a-arrow.png') no-repeat 0 center;}
.megamenu ul li ul li{padding-left:0;}.megamenu ul li ul li a{background:none;display:block;}
.megamenu ul li ul li a:hover{background:url('../img/a-arrow.png') no-repeat 0 2px;}
.megamenu ul li:first-child{padding-left:0;}
.megamenu ul li.nodd a{background:none;padding-left:0;}
.megamenu.my-account{position:absolute;top:83px;right:20px;}.megamenu.my-account ul li .dd{width:auto;left:-60px;right:0;}
.megamenu.my-account ul li ul li{display:block;float:none;}
.breadcrumbs{height:38px;background:url('../img/br-bg.png') repeat-x 0 0;margin-bottom:35px;}
.breadcrumbs ul{list-style:none;}
.breadcrumbs ul li{float:left;display:inline;background:url('../img/bread-sep.png') no-repeat right center;padding-right:12px;padding-left:7px;}
.breadcrumbs ul li:first-child{padding-left:0;}
.breadcrumbs ul li.last{background:none;}
.breadcrumbs ul li.first a{color:#fe9703 ;}
.breadcrumbs ul li,.breadcrumbs ul li a{font-size:14px;color:#3b3b3b;font-family:'MuseoSlab500Regular';line-height:37px;}
ul.messages{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:Georgia,'Times New Roman',Serif;border:1px solid #bbb;padding:10px;margin:20px 0;color:#5a5a5a;font-size:16px;}
ul.messages li.error{color:#ee6666;}
ul.social{list-style:none;padding-top:12px;}
ul.social li{float:left;display:inline;padding-right:10px;}
ul.social li a{width:24px;height:24px;float:left;display:inline;background:url('../img/social.png') no-repeat 0 0;font-size:0;line-height:0;text-indent:-4000px;}
ul.social li a:hover{opacity:0.7;}
ul.social li.icon1 a{background-position:0 0;}
ul.social li.icon2 a{background-position:-34px 0;}
ul.social li.icon3 a{background-position:-67px 0;}
#slideContainer .back{width:26px;height:46px;background:url('../img/slider-arrows3.png') no-repeat 0 0;display:block;font-size:0;line-height:0;text-indent:-4000px;position:absolute;top:74px;left:76px;z-index:500;}
#slideContainer .forward{width:26px;height:46px;background:url('../img/slider-arrows3.png') no-repeat right 0;display:block;font-size:0;line-height:0;text-indent:-4000px;position:absolute;top:74px;right:0;z-index:500;}
#main .flexslider-holder{overflow:hidden;}
.flexslider.col .next,.flexslider.col .prev{margin-top:125px;}
#main .full-width ul li .image{position:relative;}
#main .full-width{padding-bottom:27px;overflow:visible !important;margin-top:20px;}
#main .full-width .image{width:335px;float:left;display:inline;padding-left:76px;}
#main .text{margin-top:4px;float:right;display:inline;width:490px;padding-right:76px;}
#main .text p{font-size:12px;line-height:16px;color:#5a5a5a;font-family:Georgia,'Times New Roman',Serif;}
#main .text p.byline{font-size:12px;color:#5a5a5a;font-style:italic;display:block;padding-bottom:10px;}
#main .text p.more a{font-size:14px;color:#fe9703;font-family:'MuseoSlab500Regular';display:block;margin-top:15px;}
p.byline{overflow:hidden;font-style:italic;}
#main .col h4{background:url('../img/h3-line.png') repeat-x 0 8px;margin-bottom:20px;}
#main .col h4 span{background:#fff;padding-right:10px;padding-left:10px;}
#main .col ul{width:335px;margin:0 auto;}
#main .col ul .text{width:335px;float:none;}
#main .col h5{font-size:18px;color:#20c6fd;padding-top:10px;}
#main .col ul .text,#main .col .image{padding-left:76px;padding-right:76px;display:block;}
#main .bottom .left ul li a{font-size:14px;color:#fe9703;font-family:'MuseoSlab500Regular';padding-left:5px;padding-right:5px;line-height:21px;display:inline-block;}
#main .bottom .left ul li a.active{background:#fe9703;color:#fff;border-radius:4px;}
#main .bottom .text{width:370px;padding-left:21px;border-left:1px dotted #666666;float:right;display:inline;padding-right:0;padding-left:21px;}
#main .bottom .image{width:300px;float:left;display:inline;}
.sidebar li{color:#4a4a4a;font-family:'MuseoSlab500Regular';}.sidebar li a{color:#fe9703;}
.sidebar .sibling-nav li a{font-size:20px;line-height:22px;font-family:'MuseoSlab500Regular';white-space:nowrap;}
.sidebar .sibling-nav li.selected a,.sidebar .sibling-nav li a:hover{background:url('../img/arrow-nav.png') no-repeat right center;padding-right:17px;text-decoration:none;}
.shell{width:1000px;margin:0 auto;position:relative;}
#header{height:165px;position:relative;z-index:2501;}
#container{width:100%;}
#main{overflow-x:hidden;min-height:200px;padding-bottom:8px;}#main.inner{overflow-x:visible !important;}
#main .col{width:486px;padding-bottom:55px;}
#main .bottom{margin-bottom:209px;}#main .bottom .left{width:182px;float:left;display:inline;}
#main .bottom .right{width:721px;}
.content-page{overflow:hidden;}
.twocol .twocol-content{overflow:hidden;}
