#explorer {
  position: relative;
  width: 100%; 
}

#filters {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  padding: 1%;
  position: static;
  z-index: 40;
}

#filters .select2-container {
  min-width: 200px; 
}

#filters.sticky {
  position: fixed;
  top: 0;
  background-color: #333;
  color: #fff;
}

#filters .field {
  display: inline-block;
}

#filters label {
  display: block;
  padding: 2px 0;
  font-weight: bold;
}

#view-selector {
  text-align: right;
  padding: 0;
  list-style-type: none;
}

#view-selector li {
  display: inline-block;
}

#story-list {
  padding: 0;
  list-style-type: none;
}

#story-list dt:after,
#map dt:after {
  content: ": ";
}

#story-list dd,
#map dd {
  margin: 0;
}

#story-list dt,
#story-list dd,
#map dt,
#map dd {
  display: inline-block;
}

#story-list .languages,
#map .languages {
  padding: 0;
  list-style-type: none;
}

#story-list .languages li,
#map .languages li {
  display: inline-block;
}

#story-list.tile .story {
  float: left;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1%;
  background: none repeat scroll 0 0 #eee;
}

#story-list .byline {
  font-style: italic;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  #story-list.tile .story {
    width: 41%;
  }
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 480px and over go here */
  #story-list.tile .story {
    width: 21%;
  }
}

