#explorer {
  position: relative;
  width: 100%;
}




#filters.sticky {
  position: fixed;
  top: 0;
  background-color: #333;
  color: #fff;
}

#filters .field {
  display: inline-block;
}

#filters label {
  display: block;
  padding: 2px 0;
  font-weight: bold;
}

#filters a.clear-filters {
  display: block;
}

#story-count {
  margin: 1em 0;
  float: left;
}

#story-count a,
#story-count h3 {
  display: inline-block;
}

#story-count .spinner {
  display: inline-block;
  margin-left: 1em;
}

#view-selector {
  /* HACK: Provide min-height so first story clears the story count */
  min-height: 25px;
  text-align: right;
  padding: 0;
  list-style-type: none;
}

#view-selector li {
  display: inline-block;
}

#story-list {
  padding: 0;
  list-style-type: none;
}

/*
#story-list.tile .story {
  float: left;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1%;
  background: none repeat scroll 0 0 #eee;
}
*/
#story-list .byline {
  font-style: italic;
}

.leaflet-popup ul {
  list-style-type: none;
  padding: 0;
}

#proximity-search-form {
  margin-top: 2%;
}

#proximity-search-form #proximity-search-address {
  width: 80%;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
/*
  #story-list.tile .story {
    width: 41%;
  }
*/
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 480px and over go here */
/*
  #story-list.tile .story {
    width: 21%;
  }
*/
}

/* begin */
#filters { 
	padding-bottom:18px;
	border-bottom:1px solid #ccc;
	margin-bottom:22px;
	padding-top:20px;
	position:relative;
	z-index: 1000;
}

#filters .field {
	margin-right:6px;
}

#filters .select2-container {
	background:url('images/filter-link.png') no-repeat 0 0; 
	min-width:180px;
	width:191px;
	display:block; 
	font-size:16px; 
	color:#fbfaf2; 
	font-family: 'MuseoSlab500Regular'; 
	text-shadow:0 -1px 0 #605f5f; 
	line-height:34px;
	height:34px;
	padding-right:7px;
}

.select2-result-label {
	font-family: 'MuseoSlab500Regular';
}

#filters .select2-default {
	color:#fbfaf2 !important;
}
#filters .select2-container .select2-choice,
#filters .select2-dropdown-open .select2-choice {
	background:none;
	background-image:none;
	border:0px;
	color:#fbfaf2;
	line-height:inherit;
	height:34px;
	border-radius:0;
	padding-left:11px;
}
#filters .select2-container .select2-choice div {
	background:none;
	border:none;
}
#filters .select2-container .select2-choice div b {
	background:none;
}
.select2-drop .select2-drop-active {
	border:none !important;
}

#filters .field label {
	display:none;
}
#filters .select2-container .select2-choice abbr { /* little "x" to clear a filter */
	/* for now, hide them */
	left:-32000px;
}
#filters a.clear-filters {
	padding-right: 17px;
	padding-top: 10px;
	text-align: right;
	color: #FE9703;
	font-family: 'MuseoSlab500Regular';
	font-size: 14px;
}

h6.story-count {
	color: #666666;
	display: inline;
	float: left;
	font-family: Georgia,'Times New Roman',Serif;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	padding-top: 10px;
	width: 680px;
}

ul#view-selector {
	list-style:none;
	float:right;
	position:relative;
}
ul#view-selector li {
	float:left;
	display:block;
	padding-left:25px;
	position:relative;
	width:25px;
	height:40px;
}
ul#view-selector li a {
	background:url('images/cols-icons.png') no-repeat 0 0; 
	position:relative;
	height:29px;
}
ul#view-selector li a span {
	position:relative;
	top:30px;
}
ul#view-selector li.tile-view a { background-position: 0 0; }
ul#view-selector li.tile-view.active a { background-position: 0 -29px; }
ul#view-selector li.list-view a { background-position: -43px 0; }
ul#view-selector li.list-view.active a { background-position: -43px -29px; }
ul#view-selector li.map-view a { background-position: -86px 0; }
ul#view-selector li.map-view.active a { background-position: -86px -29px; }
ul#view-selector li.active a { color:#7f7f7f !important; }
ul#view-selector li a { 
	position:absolute;
	left:0; 
	font-size:14px; 
	color:#fe9703;
	font-style:normal;  
	font-family: 'MuseoSlab500Regular'; 
}

#story-list {
	clear:both;
}
#story-list.tile li.story {
	width:222px; 
	float:left;
	padding:7px;
	background:#f3f3f3;
	margin-bottom:11px;
	margin-right:14px;
}
#story-list.list li.story {
	float:none;
	width:100%;
	clear:both;
}
#story-list li.story h3 {
	padding-top:8px;
	background:none;
}
#story-list.list li.story h3 {
	text-align:left;
}
#story-list li.story a img {
	height:132px;
	width:222px;
	display:block;
}
#story-list.list li.story a img {
	float:left;
	margin-right:10px;
}
#story-list li.story h3 a {
	font-size:14px;
	color:#03ccfe;
	line-height:16px;
}
#story-list li.story p em {
	font-size:12px;
	color:#5a5a5a;
	font-family:Georgia, 'Times New Roman', Serif;
}
#story-list li.story p {
	font-family:Georgia, 'Times New Roman', Serif;
	font-size:12px; 
	color:#5a5a5a;
}
#story-list li.story p.cnt {
	color:#5a5a5a; 
	padding-top:6px; 
	margin-top:6px;
	border-top:1px dotted #5a5a5a;
	margin-bottom:15px;
}
#story-list li.story a {
	position:relative;
	display:block;
}
#story-list li.story a em.hover {
	width:222px;
	height:132px;
	display:block;
	position:absolute;
	top:0;
	left:0;
}
#story-list li.story a:hover em.hover {  background:url('images/over.png') no-repeat 0 0; }
#map-container {
	clear:both;
}
/* end */