#explorer {
  position: relative;
  width: 100%; 
}

#filters {
  /* TODO: Tweak these styles */
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  padding: 5px 10px;
  position: static;
  z-index: 40;
}

#view-selector {
  text-align: right;
  padding: 0;
  list-style-type: none;
}

#view-selector li {
  display: inline-block;
}

#story-list {
  padding: 0;
  list-style-type: none;
}

#story-list dt:after {
  content: ": ";
}

#story-list dd {
  margin: 0;
}

#story-list dt,
#story-list dd {
  display: inline-block;
}

#story-list .languages {
  padding: 0;
  list-style-type: none;
}

#story-list .languages li {
  display: inline-block;
}

#story-list.tile .story {
  float: left;
  width: 22%;
}
