/* Section layouts */

.section-layout {
  height: 100%;
}

.section-layout.side-by-side .left,
.section-layout.side-by-side .right {
  height: 100%;
  width: 46%;
  margin: 2%;
  float: left;
}

.section-layout.one-up .center {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 2%;
}
