.story-viewer {
  background-color: #fff;
}

.story-viewer header {
  position: fixed;
  height: 12%;
  width: 100%;
  background-color: #CCC;
  padding: 1%;
}

.story-viewer header h1 {
  margin: 0;
  padding: 0.25% 0;
  font-size: 1.2em;
}

.story-viewer header p {
  margin: 0;
  padding: 0 0 0.25% 0;
}

.story-viewer header .section-title {
  font-size: 1em;
  margin: 0;
  padding: 0.25% 0;
}

.story-viewer #body {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 8%;
  padding-bottom: 4%;
}

.story-viewer section {
  padding: 1%;
}

.story-viewer #toc {
  position: fixed;
  bottom: 6%;
  padding: 1%;

  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  background: none repeat scroll 0% 0% rgb(51, 51, 51);
}

.story-viewer #toc, .story-viewer #toc a {
  color: #fff;
}

.story-viewer #toc li {
  padding: 3% 1%;
}

.story-viewer #toc li ul {
  padding-top: 1%;
}

.story-viewer #toc li li {
  padding: 1%;
}

.story-viewer .story-nav {
  position: absolute;
  left: 50%;
  padding: 0;
}

.story-viewer footer {
  height: 2%;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1%;
  background-color: #000;
}

.story-viewer footer > a {
  float: left;
  display: block;
}

.story-viewer footer .addthis_toolbox {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1% 3% 0 0;
}

.story-viewer path.link {
  fill: none;
  stroke-width: 2;
  stroke: black;
}
