<!DOCTYPE html>
{% load cms_tags i18n story organization project storybase_featured menu_tags storybase_menu storybase_cms_tags %}

<html>
    <head>
        <title>
            {% block title %}{% endblock %} | {{ storybase_site_name }}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        {% include "favicons.html"%}

        {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/css/bootstrap.min.css" media="screen,projection"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" media="screen,projection"/>
        {% endblock css %}


    </head>
    <body>
    {% block body %}

    {% block nav %}

    <nav role="nav">
        <div class="logo">
            <img src="{{ STATIC_URL }}/img/logo.png" alt="" />
        </div>
        <div class="nav-wrapper">
        {# {% show_menu 0 0 0 0 "menu/menu_top.html" %} #}
    	{% show_menu 0 0 0 0 "menu/nav_menu.html" %}
        </div>

    </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% endblock %}

    {% block scripts %}
    <!--<script src="{{ STATIC_URL }}/lib/js/jquery-2.1.1.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}/lib/js/bootstrap.min.js"></script>
    {% endblock %}

    </body>
</html>
