{% extends "base2.html" %}

{% block title %}Home{% endblock title %}

{% load cms_tags i18n story organization project storybase_featured sekizai_tags menu_tags verbatim storybase_tags compress %}

{% block content %}

<div>

    <div class="intro">

        <div class="about-box focus-text shadow-1">
            <p>
                Floodlight is a place where people can tell and share inspiring stories from the Metro Denver community.
                This easy tool allows users to create, post and share digital stories that include photo, video, data,
                and narrative, calling readers to action. It’s also a place to uncover connections between stories, and
                reach even higher levels of community impact.
            </p>

            <a href="/en/build/">
                <button class="btn btn-lg sb-btn-action shadow-2">Create Your Story</button>
            </a>
        </div>

    </div>

    <div class="container-fluid orange-columns">

        <div class="row explore">
            <h1 class="title">Explore Floodlight</h1>

            <form action="{% url 'haystack_search' %}" method="get">
                <div class="row">
                    <div class="col-sm-4">
                        <select class="search-select" name="topic_id">
                            <option value="">Topic</option>
                            {% for topic in topics %}
                            <option value="{{ topic.id }}">{{ topic.name }}</option>
                            {% endfor %}
                            <option value="">None</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="search-select" name="place_id">
                            <option value="">Place</option>
                            {% for place in places %}
                            <option value="{{ place.id }}">{{ place.name }}</option>
                            {% endfor %}
                            <option value="">None</option>
                        </select>

                    </div>
                    <div class="col-sm-4">
                        <input required
                               name="q"
                               type="text"
                               class="form-control"
                               placeholder="Search by keyword"
                               autocomplete="off"/>
                    </div>

                </div>

                <div class="row super-readers">

                    <div class="col-sm-8">
                        <div class="focus-text shadow-1">
                            <p>
                                <b>Are you a Super User? Floodlight Super Users</b> are Denver Foundation
                                donors, who have the ability to boost stories through
                                <a href="/en/badges/">assigning special badges</a> that call out great ideas, inspiring
                                people, and projects that they have funded.
                            </p>

                        </div>

                    </div>

                    <div class="col-sm-4">

                        <a href="/en/accounts/login/">
                            <button type="button"class="btn btn-lg sb-btn-action shadow-2">Super Readers, Read and Share Here</button>
                        </a>

                    </div>

                </div>

            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="spotlight">
            <h1 class="title">Spotlight</h1>

            {% featured_stories %}

        </div>
    </div>

</div>

<section style="display:none;" class="supporting-foundations">
    <h5 class="title">{% trans "Supporting Foundations" %}</h5>
    {% placeholder supporting-foundations or %}

    <div>
        <div class="foundation">
            <img src="{{ STATIC_URL }}img/denver-foundation-logo.gif" alt=""/>

            <div>
                <p>Founded in 1925, The Denver Foundation is a community foundation serving Metro Denver, with the
                    mission of inspiring people and mobilizing resources to strengthen the community. The Denver
                    Foundation three primary functions: stewarding an endowment to invest in meeting current and
                    future needs for the community; managing more than 900 charitable funds for individuals,
                    families and businesses; and working with the community and philanthropic leaders to address the
                    core challenges that face Metro Denver. For more, visit <a href="http://denverfoundation.org">DenverFoundation.org</a>.
                </p>

            </div>
        </div>

        <div class="foundation">
            <img src="{{ STATIC_URL }}img/knight-foundation-logo.jpg" alt=""/>

            <div>
                <p>Knight Foundation supports transformational ideas that promote quality journalism, advance media
                    innovation, engage communities and foster the arts. The foundation believes that democracy
                    thrives when people and communities are informed and engaged. For more, visit
                    <a href="http://knightfoundation.org">KnightFoundation.org</a>.
                </p>

            </div>
        </div>

        <div class="foundation">
            <img src="{{ STATIC_URL }}img/piton-foundation-logo.jpg" alt=""/>

            <div>
                <p>The Piton Foundation is a private, operating foundation established in 1976 by Denver oil man Sam
                    Gary. The foundation provides opportunities for families and children in Denver to move from
                    poverty and dependence to self-reliance. For more, visit <a
                            href="http://piton.org">Piton.org</a>.
                </p>


            </div>
        </div>

    </div>
    {% endplaceholder %}
</section>

{% endblock content %}

{% block scripts %}
{{ block.super }}


{% endblock %}

{% block css %}
{{ block.super }}


{% endblock %}
