{% extends "base.html" %}

{% load i18n sekizai_tags menu_tags storybase_tags compress %}

{% block head_title %}{{ storybase_explore_title }}{{ block.super }}{% endblock %}

{% block extrameta %}
<meta name="title" content="{{ storybase_explore_title }}" />
<meta name="description" content="{% blocktrans %}Browse and filter {{ storybase_site_name }} stories by topic, location, language, project and organization.{% endblocktrans %}">


<!-- Open Graph Protocol tags -->{% url "explore_stories" as explore_url %}
<meta property="og:url" content="{% fullurl explore_url %}" />
<meta property="og:title" content="{{ storybase_explore_title }}" />
<meta property="og:description" content="{% blocktrans %}Browse and filter {{ storybase_site_name }} stories by topic, location, language, project and organization.{% endblocktrans %}" />
<meta property="og:image" content="{{ storybase_site_logo }}" />
{% endblock %}

{% block extrahead %}
{% comment %}
Handlebars templates for rendering Backbone views.
{% endcomment %}

{% verbatim %}
<script type="text/x-handlebars-template" id="explorer-template">
<ul id="view-selector">
    <li class="tile-view active"><a class="select-tile-view" href="#" title="{{gettext "Click here to see the stories displayed as tiles"}}"><span>{{gettext "Tile"}}<span></a></li>
            <li class="list-view"><a class="select-list-view" href="#" title="{{gettext "Click here to see a list of stories"}}"><span>{{gettext "List"}}<span></a></li>
                    <li class="map-view"><a class="select-map-view" href="#" title="{{gettext "Click here to view the stories on a map or search for stories near an address"}}"><span>{{gettext "Map"}}<span></a></li>
</ul>
</script>

<script type="text/x-handlebars-template" id="story-count-template">
  <h6 class="story-count">{{count}} {{gettext "of"}} {{total}} {{#blockgettext}}Stor{{pluralize count suffix="y,ies"}} Shown{{/blockgettext}}</h6>
  {{#if showMore }}
  <a id="show-more" href="#">{{gettext "Show More"}}</a>
  {{/if}}
</script>

<script type="text/x-handlebars-template" id="filters-template">
<div class="fields-container">
    <div class="field">
        <label for="topics">{{gettext "Topic"}}</label>
        <select name="topics" data-placeholder="{{gettext "Topic"}}" title="{{gettext "Filter stories by selecting one or more topics"}}">
            <option></option>
            {{#topics}}
            <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
            {{/topics}}
        </select>
    </div>

    <div class="field">
        <label for="places">{{gettext "Place"}}</label>
        <select name="places" data-placeholder="{{gettext "Place"}}" title="{{gettext "Filter stories by selecting one or more places"}}">
            <option></option>
            {{#places}}
            <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
            {{/places}}
        </select>
    </div>

    <div class="field">
        <label for="organizations">{{gettext "Organization"}}</label>
        <select name="organizations" data-placeholder="{{gettext "Organization"}}" title="{{gettext "Filter stories by selecting an organization"}}">
            <option></option>
            {{#organizations}}
            <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
            {{/organizations}}
        </select>
    </div>

    <div class="field">
        <label for="projects">{{gettext "Project"}}</label>
        <select name="projects" data-placeholder="{{gettext "Project"}}" title="{{gettext "Filter stories by selecting a project"}}">
            <option></option>
            {{#projects}}
            <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
            {{/projects}}
        </select>
    </div>

    <div class="field last">
        <label for="languages">{{gettext "Language"}}</label>
        <select name="languages" data-placeholder="{{gettext "Language"}}" title="{{gettext "Filter stories by language"}}">
            <option></option>
            {{#languages}}
            <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
            {{/languages}}
        </select>
    </div>

    <a class="clear-filters" href="#">Reset Filters</a>
</div>
</script>

<script type="text/x-handlebars-template" id="story-link-partial-template">
<a href="{{url}}">{{title}}</a>
</script>

<script type="text/x-handlebars-template" id="story-partial-template">
<a href="{{url}}" class="image-container">
  <img src="{{featured_asset_url}}">
  <em class="hover"></em>
</a>
<div class="story-metadata">
  <h3>{{>story_link}}</h3>
  <p class="byline">{{byline}}</p>
  {{firstparagraph summary}}
  {{#if connected_count}}
  <p><a href="{{url}}#connected"><i class="icon-comments-alt icon-fixed-width"></i>{{connected_count}} {{#blockgettext}}connected stor{{pluralize connected_count suffix="y,ies"}}{{/blockgettext}}!</a></p>
  {{/if}}
  <dl class="story-attributes">
    <dt><p>{{gettext "Languages"}}</p></dt>
    <dd>
      <ul class="languages">
        {{#each languages}}
        <li><p><a href="{{url}}" class="language-{{id}}">{{name}}</a></p></li>
        {{/each}}
      </ul>
    </dd>
  </dl>
</div>
</script>

<script type="text/x-handlebars-template" id="story-template">
<li id="{{story_id}}" class="story">
  {{> story}}
</li>
</script>

<script type="text/x-handlebars-template" id="story-marker-template">
<div class="story">
  {{> story}}
</div>
</script>

<script type="text/x-handlebars-template" id="story-list-marker-template">
<ul>
    {{#each stories}}
    <li>{{>story_link}}</li>
    {{/each}}
</ul>
</script>

<script type="text/x-handlebars-template" id="map-move-popup-template">
<p>{{gettext "The map no longer shows the Place filter you have set above. Do you want to remove this filter so that you can see updated results on the map?"}}</p>
<p><input id="keep-place-filters" type="button" value="{{gettext "Leave Filter Alone"}}" /> <input id="clear-place-filters" type="button" value="{{gettext "Remove the Filter"}}" /></p>
</script>

<script type="text/x-handlebars-template" id="proximity-search-template">
<form id="proximity-search-form" onsubmit="return false;">
    <input id="{{field_id}}" type="text" placeholder="{{gettext "Highlight stories near this address"}}" />
    <input id="{{button_id}}" type="submit" value="{{gettext "Search"}}" />
    <input id="{{clear_button_id}}" type="reset" value="{{gettext "Clear"}}" />
</form>
</script>

{% endverbatim %}
{% endblock %}

{% block body_class %}explorer{% endblock %}

{% block above_content %}
{% show_breadcrumb "breadcrumbs.html" %}
{% endblock %}

{% block base_content %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/leaflet/leaflet.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/select2/select2.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/css/tooltipster.css">{% endaddtoblock %}


<h1><span>{{ storybase_explore_title }}</span></h1>
<div id="explorer"></div>


{% addtoblock "js" %}
<script>
// Before loading all of our jQuery plugins, switch jQuery to our recent version
jQuery = jqLatest;
$ = jQuery;
</script>
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0.beta.6.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/select2/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/libs/leafclusterer.js"></script>
<script src="{{ STATIC_URL }}js/libs/spin.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/js/jquery.tooltipster.min.js"></script>
{% compress js %}
<script src="{{ STATIC_URL }}js/storybase.js"></script>
<script src="{{ STATIC_URL }}js/models.js"></script>
<script src="{{ STATIC_URL }}js/utils.js"></script>
<script src="{{ STATIC_URL }}js/views.js"></script>
<script src="{{ STATIC_URL }}js/explorer/application.js"></script>
<script src="{{ STATIC_URL }}js/explorer/views.js"></script>
{% endcompress js %}
<script type="text/javascript">
$(document).ready(function() {
  storybase.explorer.MAP_CENTER = {{ storybase_map_center }};
  storybase.explorer.MAP_ZOOM_LEVEL = {{ storybase_map_zoom_level }};
  storybase.explorer.MAP_POINT_ZOOM_LEVEL = {{ storybase_map_point_zoom_level }};
  storybase.explorer.SEARCH_DISTANCE = {{ storybase_search_distance }};
  var storyData = {{ stories_json }};
  var selectedFilters = {{ selected_filters }};
  var explorer = new storybase.explorer.views.ExplorerApp({
    viewType: {{view_type}},
    storyData: storyData,
    selectedFilters: selectedFilters
  });
  explorer.render();
});
</script>
{% endaddtoblock %}
{% endblock %}
