{% extends "base.html" %}

{% load i18n sekizai_tags menu_tags verbatim %}

{% block head_title %}{{ storybase_explore_title }}{{ block.super }}{% endblock %}

{% block extrahead %}
{% comment %}
Handlebars templates for rendering Backbone views.
{% endcomment %}

{% verbatim %}
<script type="text/x-handlebars-template" id="explorer-template">
<ul id="view-selector">
  <li><a class="select-tile-view" href="#">{{gettext message="Tile View"}}</a></li>
  <li><a class="select-list-view" href="#">{{gettext message="List View"}}</a></li>
  <li><a class="select-map-view" href="#">{{gettext message="Map View"}}</a></li>
</ul>
</script>

<script type="text/x-handlebars-template" id="story-count-template">
  <h6>{{count}} {{gettext message="of"}} {{total}} {{#blockgettext}}Stor{{pluralize count suffix="y,ies"}} Shown{{/blockgettext}}</h6>
  {{#if showMore }}
  <a id="show-more" href="#">{{gettext message="Show More"}}</a>
  {{/if}}
</script>

<script type="text/x-handlebars-template" id="filters-template">
<div class="field">
<label for="topics">{{gettext message="Topic"}}</label>
<select name="topics" data-placeholder="{{gettext message="Topic"}}">
  <option></option>
  {{#topics}}
  <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
  {{/topics}}
</select>
</div>

<div class="field">
<label for="places">{{gettext message="Place"}}</label>
<select name="places" data-placeholder="{{gettext message="Place"}}">
  <option></option>
  {{#places}}
  <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
  {{/places}}
</select>
</div>

<div class="field">
<label for="organizations">{{gettext message="Organization"}}</label>
<select name="organizations" data-placeholder="{{gettext message="Organization"}}">
  <option></option>
  {{#organizations}}
  <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
  {{/organizations}}
</select>
</div>

<div class="field">
<label for="projects">{{gettext message="Project"}}</label>
<select name="projects" data-placeholder="{{gettext message="Project"}}">
  <option></option>
  {{#projects}}
  <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
  {{/projects}}
</select>
</div>

<div class="field">
<label for="languages">{{gettext message="Language"}}</label>
<select name="languages" data-placeholder="{{gettext message="Language"}}">
  <option></option>
  {{#languages}}
  <option value="{{id}}"{{#if selected}}selected{{/if}}>{{name}}</option>
  {{/languages}}
</select>
</div>

<a class="clear-filters" href="#">Reset Filters</a>

</script>

<script type="text/x-handlebars-template" id="story-link-partial-template">
<a href="{{url}}">{{title}}</a>
</script>

<script type="text/x-handlebars-template" id="story-partial-template">
<h3>{{>story_link}}</h3>
<p class="byline">{{byline}}</p>
{{firstparagraph summary}}
<dl class="story-attributes">
  <dt>{{gettext message="Languages"}}</dt>
  <dd>
    <ul class="languages">
      {{#each languages}}
      <li><a href="{{url}}" class="language-{{id}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </dd>
</dl>
</script>

<script type="text/x-handlebars-template" id="story-template">
<li id="{{story_id}}" class="story">
  {{> story}}
</li>
</script>

<script type="text/x-handlebars-template" id="story-marker-template">
<div class="story">
  {{> story}}
</div>
</script>

<script type="text/x-handlebars-template" id="story-list-marker-template">
<ul>
    {{#each stories}}
    <li>{{>story_link}}</li>
    {{/each}}
</ul>
</script>

<script type="text/x-handlebars-template" id="map-move-popup-template">
<p>{{gettext message="The map no longer shows the Place filter you have set above. Do you want to remove this filter so that you can see updated results on the map?"}}</p>
<p><input id="keep-place-filters" type="button" value="{{gettext message="Leave Filter Alone"}}" /> <input id="clear-place-filters" type="button" value="{{gettext message="Remove the Filter"}}" /></p>
</script>

<script type="text/x-handlebars-template" id="proximity-search-template">
<div id="proximity-search-form">
    <input id="{{field_id}}" type="text" placeholder="{{gettext message="Highlight stories near this address"}}" />
    <input id="{{button_id}}" type="button" value="{{gettext message="Search"}}" />
    <input id="{{clear_button_id}}" type="button" value="{{gettext message="Clear"}}" />
</div>
</script>

{% endverbatim %}
{% endblock %}

{% block above_content %}
{% show_breadcrumb "breadcrumbs.html" %}
{% endblock %}

{% block base_content %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/leaflet/leaflet.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/select2/select2.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/explorer.css">{% endaddtoblock %}

<div id="main">
	<div class="shell">

		<h3><span>{{ storybase_explore_title }}</span></h3>
		<div id="explorer"></div>
	</div><!-- /.shell -->
</div><!-- /#main -->


{% addtoblock "js" %}
<script>
// Before loading all of our jQuery plugins, switch jQuery to our recent version
jQuery = jqLatest;
$ = jQuery;
</script>
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<script src="{{ STATIC_URL }}js/libs/Namespace.js"></script>
<script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0.beta.6.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>
<script src="{{ STATIC_URL}}js/libs/leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL}}js/libs/leafclusterer.js"></script>
<script src="{{ STATIC_URL}}js/libs/spin.min.js"></script>
<script src="{{ STATIC_URL }}js/models.js"></script>
<script src="{{ STATIC_URL }}js/utils.js"></script>
<script src="{{ STATIC_URL }}js/explorer/application.js"></script>
<script src="{{ STATIC_URL }}js/explorer/views.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  storybase.explorer.globals.MAP_CENTER = {{ storybase_map_center }};
  storybase.explorer.globals.MAP_ZOOM_LEVEL = {{ storybase_map_zoom_level }};
  storybase.explorer.globals.MAP_POINT_ZOOM_LEVEL = {{ storybase_map_point_zoom_level }};
  storybase.explorer.globals.SEARCH_DISTANCE = {{ storybase_search_distance }};
  var storyData = {{ stories_json }};
  var selectedFilters = {{ selected_filters }};
  var explorer = new storybase.explorer.views.ExplorerApp({
    viewType: {{view_type}},
    storyData: storyData,
    selectedFilters: selectedFilters
  });
  explorer.render();
});
</script>
{% endaddtoblock %}
{% endblock %}
