{% load i18n storybase_tags %}
<ul class="stories">
  {% for story in stories %}
  <li>
    <h3><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h3>
    <p class="byline">{{ story.byline }}</p>
    <p class="summary">{{ story.summary|firstparagraph|safe }}</p>
    <dl class="story-attributes">
      <dt>{% trans "Languages" %}</dt>
      <dd>
        <ul class="languages">
          {% for language in story.languages %}
	  <li><a href="{{ language.url }}" class="language-{{ language.id }}">{{ language.name }}</a></li>
	  {% endfor %}
	</ul>
      </dd>
    </dl>
  </li>
 {% endfor %}
</ul>
