{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags %}

{% block head_title %}{{ story.title }}{% endblock %}

{% block extrameta %}
<meta name="author" content="{{ story.byline }}">
<meta name="title" content="{{ story.title }}" />
<meta name="description" content="{{ story.summary }}">

<!-- Open Graph Protocol tags -->
<meta property="og:url" content="{{ story.get_full_url }}" />
<meta property="og:title" content="{{ story.title }}" />
<meta property="og:description" content="{{ story.summary }}" />
<meta property="og:image" content="{{ story.featured_asset_thumbnail_url }}" />
{% endblock %}

{% block above_content %}
{% show_breadcrumb "breadcrumbs.html" %}
{% endblock %}

{% block base_content %}
	<div class="shell">
		<div class="content-page object-detail story">
			<h3><span>Explore Floodlight</span></h3>

			<div class="col left">
				<section class="object content-block">
					<header>
						<h2>{{ story.title }}</h2>
						<p class="byline">{% trans "By" %} <span class="author">{{ story.byline }}</span></p>
					</header>
					<section class="object-featured-asset">
						{# TODO: wire in real asset #}
						{{ story.render_featured_asset }}
						<img src="/static/css/images/image3.jpg" title="temp asset">
					</section>
					<section class="object-summary">
						<section class="summary">
							{{ story.summary|safe|linebreaks }}
						</section>
						<a id="launch-story-viewer" class="button" href="./viewer">{% trans "View Story" %}</a>
					</section>
				</section>
				
				<section class="story-outreach post last">
					<section class="call-to-action content-block last">

						<h4>{% trans "How Can You Help?" %}</h4>
						<p class="call-intro">{% blocktrans %}Wondering what you can do to help? The contributor has listed the following actions that you can take to help.{% endblocktrans %}</p>
						<p class="story-call-to-action">{{ story.call_to_action|safe }}</p>
					</section>
					
					<section class="citizen-comments content-block last">
						<h4>{% trans "Citizen Comments" %}</h4>
						{# TODO: comment view #}
					</section>

				</section>
				
			</div>
			<div class="col right">
				<section class="object-details content-block">
					{% include "addthis_widget.html" %}
					<dl class="object-metadata">
						{% if story.contributor_name %}
						<dt>{% trans "Contributed by" %}</dt>
						<dd class="contributor">{{ story.contributor_name }}</dd>
						{% endif %}
						{% if story.published %}
						<dt>{% trans "Published" %}</dt>
						<dd><time class="published">{{ story.published|date:"F j, Y" }}</time></dd>
						{% endif %}

						<dt>{% trans "Updated" %}</dt>
						<dd><time class="last-edited">{{ story.last_edited|date:"F j, Y" }} </time></dd>

						{% if story.organizations.count %}
						<dt>{% trans "Organizations" %}</dt>
						<dd>
							<ul class="organizations">
								{% for organization in story.organizations.all %}
								<li><a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a></li>
								{% endfor %}
							</ul>
						</dd>
						{% endif %}

						{% if story.projects.count %}
						<dt>{% trans "Projects" %}</dt>
						<dd>
							<ul class="projects">
								{% for project in story.projects.all %}
								<li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
								{% endfor %}
							</ul>
						</dd>
						{% endif %}

						{% if story.topics.count %}
						<dt>{% trans "Topics" %}</dt>
						<dd>
							<ul class="topics inline">
								{% for topic in story.topics_with_links %}
								<li{% if forloop.last %} class="last"{% endif %}><a href="{{ topic.url }}">{{ topic.name }}</a></li>
								{% endfor %}
							</ul>
						</dd>
						{% endif %}

						{% if story.contact_info %}
						<dt>{% trans "Contact Info" %}</dt>
						<dd>
							{{ story.contact_info|linebreaks }}
						</dd>
						{% endif %}
					</dl>
				</section>
			</div>
			
			


<!-- 			<section class="object-ornament post">
				<section class="related-stories content-block">
					<h4>Related Stories</h4>
					{# TODO: related story list + cycler #}
				</section>
			</section>
 -->


		</div>
	</div>

{% endblock %}

{% block bodyend %}
<div id="story-viewer" class="modal">
  <div id="modal-controls">
    <a id="launch-viewer-window" href="#">View in new window</a>
    <a class="simplemodal-close" href="#">Close</a>
  </div>
  <iframe src="./viewer"></iframe>
</div>
{% endblock bodyend %}

{% block extrajs %}
<script defer src="{{ STATIC_URL }}js/libs/jquery.simplemodal.1.4.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    // Display the story viewer in a modal dialog
    $("#launch-story-viewer").click(function (event) {
        var width = $(window).width() * 0.9;
        var height = $(window).height() * 0.9;
        $("#story-viewer").modal({
            opacity: 70,
            minHeight: height,
            minWidth: width,
            zIndex: 6000
        });
        $("#story-viewer iframe").css("width", width); 
        $("#story-viewer iframe").css("height", height); 
        return false;
    });

    // Launch the viewer in a new window
    $("#story-viewer #modal-controls #launch-viewer-window").click(
        function (event) {
            event.preventDefault();
            var viewerUrl = document.location + "viewer";
            window.open(viewerUrl, 'Story Viewer', '');
            $.modal.close();
        }
    );
});
</script>
{% endblock %}
