{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags storybase_tags storybase_addthis dataset %}

{% block head_title %}{{ story.title }}{% endblock %}

{% block extrameta %}
<meta name="author" content="{{ story.byline }}">
<meta name="title" content="{{ story.title }}" />
<meta name="description" content="{{ story.summary }}">

<!-- Open Graph Protocol tags -->
<meta property="og:url" content="{% fullurl story.get_absolute_url %}" />
<meta property="og:title" content="{{ story.title }}" />
<meta property="og:description" content="{{ story.summary }}" />
<meta property="og:image" content="{{ story.featured_asset_thumbnail_url }}" />

{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/css/tooltipster.css">{% endaddtoblock %}

{% endblock %}

{% block above_content %}
{% show_breadcrumb "breadcrumbs.html" %}
{% endblock %}

{% block base_content %}
		<div class="content-page object-detail story container_12">
			<h1><span>{{ story.title }}</span></h1>

			<section class="object content-block">
				<div class="grid_6">
					<section class="object-featured-asset">
                        {% featured_asset story 490 %}
					</section>
				</div>
				<div class="grid_6">
					<header>
						<p class="byline">{% trans "By" %} <span class="author">{{ story.byline }}</span></p>
					</header>
					<section class="object-summary">
						<section class="summary">
							{{ story.summary|safe }}
						</section>
                        <a id="launch-story-viewer" class="button" href="{% url story_viewer slug=story.slug %}">{% trans "View Story" %}</a>
                        {% if story.asset_datasets.count %}
                        <div class="btn-group datasets-button">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                {% trans "Get the Data" %}
                                <span class="icon-caret-down"></span>
                            </button>
                            {% dataset_list story.asset_datasets "dropdown-menu datasets icons" %}
                        </div>
                        {% endif %}
					</section>
				</div>
			</section>

			<section class="content-block">
				<div class="grid_6">
					<section class="call-to-action">
						<h4>{% trans "How Can You Help?" %}</h4>
						<p class="call-intro grid_2 alpha">{% blocktrans %}Wondering what you can do to help? The contributor has listed the following actions that you can take to help.{% endblocktrans %}</p>
						<div class="story-call-to-action grid_2 prefix_1 omega">{{ story.call_to_action|safe }}</div>
					</section>
				</div>
				<div class="grid_6">
					<section class="object-details">
                        <a href="{{ story.get_share_url }}" class="storybase-share-button">{% trans "Share This Story" %}</a>
                        <a href="{{ story.get_embed_url }}" class="storybase-embed-button">{% trans "Embed This Story" %}</a>
						<dl class="object-metadata">
							{% if story.contributor_name %}
							<dt>{% trans "Contributed by" %}</dt>
                            <dd class="contributor"><a href="{{ story.author.get_profile.get_absolute_url }}" title="{{ story.contributor_name }}">{{ story.contributor_name }}</a></dd>
							{% endif %}
							{% if story.published %}
							<dt>{% trans "Published" %}</dt>
							<dd><time class="published">{{ story.published|date:"F j, Y" }}</time></dd>
							{% endif %}

							<dt>{% trans "Updated" %}</dt>
							<dd><time class="last-edited">{{ story.last_edited|date:"F j, Y" }} </time></dd>

							{% if story.organizations.count %}
							<dt>{% trans "Organizations" %}</dt>
							<dd>
								<ul class="organizations">
									{% for organization in story.organizations.all %}
									<li><a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a></li>
									{% endfor %}
								</ul>
							</dd>
							{% endif %}

							{% if story.projects.count %}
							<dt>{% trans "Projects" %}</dt>
							<dd>
								<ul class="projects">
									{% for project in story.projects.all %}
									<li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
									{% endfor %}
								</ul>
							</dd>
							{% endif %}

							{% if story.topics.count %}
							<dt>{% trans "Topics" %}</dt>
							<dd>
								<ul class="topics inline">
									{% for topic in story.topics_with_links %}
									<li{% if forloop.last %} class="last"{% endif %}><a href="{{ topic.url }}">{{ topic.name }}</a></li>
									{% endfor %}
								</ul>
							</dd>
							{% endif %}

							{% if story.contact_info %}
							<dt>{% trans "Contact Info" %}</dt>
							<dd>
								{{ story.contact_info|linebreaks }}
							</dd>
							{% endif %}
						</dl>
					</section>
				</div>
			</section>
			<section class="content-block">
				<div class="grid_6">
					{% if story.allow_connected %}
					<section class="connected-stories">
						<h4 id="connected">{% trans "Connected Stories" %}</h4>
	                    <p>{{ story.connected_prompt|linebreaks }}</p>
	                    <a href="{% url connected_story_builder source_slug=story.slug %}" title="{% trans "Contribute to this story" %}" class="button right">{% trans "Contribute to this story" %}</a>
	                    {% with cs_count=story.connected_stories.count %}
	                    {% if cs_count %}
	                    <a href="{% url story_viewer slug=story.slug %}#sections/connected-stories" title="{% blocktrans count counter=cs_count %}View {{ counter }} connected story{% plural %}View {{ counter }} connected stories{% endblocktrans %}" class="button right">{% blocktrans count counter=cs_count %}View {{ counter }} connected story{% plural %}View {{ counter }} connected stories{% endblocktrans %}</a>
	                    {% endif %}
	                    {% endwith %}
					</section>
	                {% endif %}
				</div>
				<div class="grid_6">
					<section class="citizen-comments">
						<h4>{% trans "Comments" %}</h4>
	                    {% include "storybase_story/story_comments.html" %} 
					</section>
				</div>
			</section>
		</div>


{% endblock %}

{% block bodyend %}
<div id="story-viewer-modal" class="modal">
  <div id="modal-controls">
      <a id="launch-viewer-window" href="{% url story_viewer slug=story.slug %}" title="{%trans "View in new window"%}" data-window-name="story-viewer" data-window-features=""><i class="icon-external-link"></i><span class="hide-text">{%trans "View in new window"%}</span></a>
      <button class="simplemodal-close" title="{% trans "Close" %}"><i class="icon-remove-sign"></i><span class="hide-text">{% trans "Close" %}</span></button>
  </div>
  <iframe src="{% url story_viewer slug=story.slug %}?context=iframe"></iframe>
</div>
{% endblock bodyend %}

{% block extrajs %}
<script defer src="{{ STATIC_URL }}js/libs/jquery.simplemodal.1.4.2.min.js"></script>
<script src="{{ STATIC_URL }}js/storybase.js"></script>
<script src="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/js/jquery.tooltipster.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap-dropdown.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    // Display the story viewer in a modal dialog
    $("#launch-story-viewer").click(function (event) {
        var width = $(window).width() * 0.9;
        var height = $(window).height() * 0.9;
        $("#story-viewer-modal").modal({
            opacity: 70,
            minHeight: height,
            minWidth: width,
            zIndex: 6000,
            overlayCss: { background: 'black' },
            onShow: function(dialog) {
              disablePageScrolling();
              $('#modal-controls a, #modal-controls button').tooltipster();
            },
            onClose: function(dialog) {
              enablePageScrolling();
              $.modal.close();
            }
        });
        $("#story-viewer-modal iframe").css("width", width); 
        $("#story-viewer-modal iframe").css("height", height); 
        return false;
    });
    
    // Launch the viewer in a new window
    $("#story-viewer-modal #modal-controls #launch-viewer-window").click(storybase.openInNewWindow)
        .click(function(evt) {
          $.modal.close();
          return false;
        });

    // Open dataset links in a new window
    $('a.external').click(storybase.openInNewWindow);
});
</script>
{% endblock %}
