{% comment %}
Handlebars.js templates for story builder Backbone application
{% endcomment %}

{% load  verbatim %}
{% verbatim %}
<script type="text/x-handlebars-template" id="help-template">
<a class="simplemodal-close close" href="#">{{gettext message="Close"}}</a>
<h3>{{title}}</h3>
{{{body}}}
<div class="help-modal-controls">
    <input name="auto-show-help" class="auto-show-help" type="checkbox" {{#if autoShow}}checked="checked"{{/if}}/>
    <label for="auto-show-help">Show these suggestions for each screen</label>
    <a class="simplemodal-close continue btn" href="#">{{gettext message="Continue"}}</a>
</div>
</script>

<script type="text/x-handlebars-template" id="clickable-item-template">
    <li><a class="{{id}} {{class}} tooltip" href="{{href}}" title="{{title}}">{{text}}</a></li>
</script>

<script type="text/x-handlebars-template" id="workflow-item-template">
    <li class="{{class}}"><a id="{{id}}" class="tooltip {{class}}" href="{{href}}" title="{{title}}">{{text}}</a></li>
</script>

<script type="text/x-handlebars-template" id="workflow-nav-item-template">
<a id="{{id}}" class="{{class}} btn" href="{{href}}">{{text}}</a>
</script>

<script type="text/x-handlebars-template" id="story-template-template">
<h3><a href="#">{{title}}</a></h3>
{{#if tag_line}}
<p>&hellip;{{tag_line}}</p>
{{/if}}
<p>{{description}}</p>
<p>{{gettext message="Time needed"}}: {{time_needed}}</p>
</script>

<script type="text/x-handlebars-template" id="section-list-template">
<a id="toggle-section-list" class="opened" href="#">{{gettext message="Story Sections"}}</a>
<div class="sections-container-border">
<div class="sections-container">
    <a class="scroll-left"><</a>
    <div class="sections-clip">
    <ul class="sections"></ul>
    </div>
    <a class="scroll-right">></a>
</div>
</div>
</script>

<script type="text/x-handlebars-template" id="section-thumbnail-template">
{{#if index}}
<div class="spacer" data-index="{{index}}"><div><span>{{gettext message="Add a section"}}</span></div></div>
{{/if}}
<div class="section-thumbnail{{#if isNew}} new{{/if}}">
{{#if id}}<a class="remove" href="#" title='{{gettext message="Remove section"}}'>x</a>{{/if}}
<div class="title">{{ title }}</div>
</div>
{{#if nextIndex}}
<div class="spacer" data-index="{{nextIndex}}"><div><span>{{gettext message="Add a section"}}</span><div></div>
{{/if}}
</script>

<script type="text/x-handlebars-template" id="editor-toolbar-template">
<div id="wysihtml5-toolbar" class="wysihtml5-toolbar" style="display: none;">
  <a data-wysihtml5-command="bold">bold</a>
  <a data-wysihtml5-command="italic">italic</a>
  <a data-wysihtml5-command="underline">underline</a>
  <a data-wysihtml5-command="createLink">insert link</a>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
  <a data-wysihtml5-command="insertOrderedList">ordered list</a>
  <a data-wysihtml5-command="insertUnorderedList">unordered list</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote">quote</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">paragraph</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">heading</a>

  <a data-wysihtml5-action="change_view">Edit HTML</a>
</div>
</script>

<script type="text/x-handlebars-template" id="story-info-edit-template">
<h2 class="story-title editable" data-input-name="title">{{title}}</h2>
<p class="byline editable" data-input-name="byline">{{byline}}</p>
<textarea name="summary" id="summary-textarea" class="summary" placeholder='{{gettext message="Click to edit the summary"}}'>{{summary}}</textarea>
</script>

<script type="text/x-handlebars-template" id="story-info-edit-inline-template">
{{#if prompt}}<p class="prompt">{{prompt}}</p>{{/if}}
<h2 class="story-title editable" data-input-name="title">{{title}}</h2>
<p class="byline editable" data-input-name="byline">{{byline}}</p>
</script>

<script type="text/x-handlebars-template" id="story-call-to-action-edit-template">
<h2>{{gettext message="Call to Action"}}</h2>
<form>
    <div class="section-layout side-by-side">
        <div class="left">
            <textarea class="call-to-action" name="call_to_action" placeholder='{{gettext message="Click to edit the call to action"}}'>{{call_to_action}}</textarea>
        </div>
        <div class="right">
            <p>{{#blockgettext}}TODO: Add description of connected stories feature{{/blockgettext}}</p>
            <div>
                <input class="connected" name="allow_connected" type="checkbox" {{#if allow_connected}}checked="checked" {{/if}}/>
                <label for="allow_connected">{{gettext message="Make this a Connected Story"}}</label> 
            </div>
            <div>
                <textarea class="connected-prompt" name="connected_prompt" placeholder="TODO: Add placeholder for connected stories prompt"{{#unless allow_connected}} style="display: none"{{/unless}}>{{connected_prompt}}</textarea>
            </div>
        </div>
    </div>
</form>
</script>

<script type="text/x-handlebars-template" id="section-edit-template">
<div class="section-controls">
    {{#if showLayoutSelection}}
    <select name="layout" class="layout">
    {{#each layouts}}
    <option value="{{layout_id}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
    {{/each}}
    </select>
    {{/if}}
</div>
{{#if showSectionTitles}}
<h2 class="section-title editable" data-input-name="title">{{title}}</h2>
{{/if}}
<div class="section-edit-layout">{{{layout_template}}}</div>
</script>

<script type="text/x-handlebars-template" id="section-asset-select-type-template">
<h3>Select Asset Type</h3>
<ul class="asset-types">
    {{#each assetTypes}}
    <li><a href="#" class="asset-type" data-asset-type="{{type}}">{{name}}</a></li>
    {{/each}}
</ul>
</script>

<script type="text/x-handlebars-template" id="section-asset-edit-template">
<h3>{{model.type}}</h3>
</script>

<script type="text/x-handlebars-template" id="section-asset-display-template">
<ul class="section-asset-controls">
    <li><a href="#" class="edit">{{gettext message="Edit"}}</a></li>
    <li><a href="#" class="remove">{{gettext message="Remove"}}</a></li>
</ul>
{{{model.content}}}
</script>

<script type="text/x-handlebars-template" id="section-asset-uploadprogress-template">
<div class="uploadprogress"></div>
</script>

<script type="text/x-handlebars-template" id="unused-assets-template">
<ul>
  {{#each assets}}
  <li class="unused-asset" data-asset-id="{{asset_id}}">{{#if thumbnail_url}}<img class="thumbnail" src="{{thumbnail_url}}" />{{/if}}{{display_title}} ({{type}})</li>
  {{/each}}
</ul>
</script>

<script type="text/x-handlebars-template" id="data-template">
<h2>Data Sets</h2>
{{#if datasets.length}}
<table class="datasets">
    <thead>
        <tr>
            <th>Data Set</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each datasets}}
        <tr class="dataset">
            <td>
                <p class="title">{{title}}</p>
		{{#if source}}
		<p class="source">{{gettext message="Source"}}: {{source}}</p>
		{{/if}}
		<p class="url"><a href="{{download_url}}">{{gettext message="Download data"}}</a></p>
            </td>
            <td><a class="delete-dataset" data-dataset-id="{{dataset_id}}" href="#">Delete</a></td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>There are no data sets for this story.</p>
{{/if}}
<div><a class="btn add-dataset" href="#">{{gettext message="Add Data"}}</a></div>
</script>

<script type="text/x-handlebars-template" id="review-template">
<h2>Story Checklist</h2>
<p>{{#blockgettext}}Congratulations on writing your story! We're going through your story right now, checking things out and making sure eveerything looks good from a content perspective, but why don't you also preview your story to see how it will look in the Floodlight story viewer.{{/blockgettext}}</p>
<div class="centered btn-container"><a class="btn preview" href="#">{{gettext message="Preview Story"}}</a></div>
</script>

<script type="text/x-handlebars-template" id="share-publish-template">
<h2 class="title">Publish and Share Your Story</h2>
<div class="status-unpublished" style="display: none">
    <p>{{#blockgettext}}Looks like you're all set. When you're ready click the "Publish My Story" button.{{/blockgettext}}</p>
    <div class="centered"><a class="btn publish" href="#">Publish My Story</a></div>
</div>
<div class="status-published" style="display: none">
    <p>{{#blockgettext}}Congratulations, your story has been published. If you decide you'd like to unpublish your story, use the button below{{/blockgettext}}</p>
    <div class="centered btn-container"><a class="btn unpublish" href="#">Unpublish My Story</a></div>
    {{#if showSharing}}
    <p>{{#blockgettext}}Let your story be heard! Spread the word by sharing it with your social networks, printing a copy, or embeding it on your own website.{{/blockgettext}}</p>
    <div id="share-link">
        <div><input id="story-url" type="text" value="{{url}}" /></div>
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
            addthis:url="{{url}}" addthis:title="{{title}}">
          <a class="addthis_button_link" title="Copy Link"></a>
          <a class="addthis_button_email"></a>
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_google_plusone_share"></a>
          <a class="addthis_button_compact"></a>
        </div>
    </div>
    {{/if}}
</div>
</script>

<script type="text/x-handlebars-template" id="share-legal-template">
<p class="introduction">{{#blockgettext}}
In order to publish and share your story, you need to double-check a few legal details.
{{/blockgettext}}<a href="#">{{gettext message="Read the Floodlight Terms of Service"}}</a>.</p>
</script>

<script type="text/x-handlebars-template" id="share-permission-field-template">
<input type="checkbox" name="permission" value="permission" /> {{gettext message="I have the necessary ownership/rights/permissions to legally distribute the content in this story."}}
<ul>
    <li>{{#blockgettext}}The content in this story doesn’t violate copyright law or infringe on a third party’s trademark, trade secret, proprietary data or patent{{/blockgettext}}.</li>
    <li>{{#blockgettext}}I have properly cited or credited any content that I did not create myself.{{/blockgettext}}</li>
    <li>{{#blockgettext}}If this story has any photos or videos of children (under 18), I have obtained the proper parent or guardian release forms (a sample release form is available here){{/blockgettext}}.</li>
</ul>
</script>

<script type="text/x-handlebars-template" id="share-license-field-template">
<input type="checkbox" name="license" value="license" /> {{#blockgettext}}I participate in Floodlight’s cooperative distribution by publishing my story under a Creative Commons license. This means that I remain the owner of this story, but that my content can be featured on the site and redistributed by others. Learn more about Creative Commons.{{/blockgettext}}    
</script>

<script type="text/x-handlebars-template" id="share-cc-allow-commercial-template">
<label for="cc-allow-commercial">Allow commercial uses of your work?</label>
<input type="radio" name="cc-allow-commercial" value="yes" /> {{gettext message="Yes"}} 
<input type="radio" name="cc-allow-commercial" value="no" /> {{gettext message="No"}}
</script>

<script type="text/x-handlebars-template" id="share-cc-allow-modification-template">
<label for="cc-allow-commercial">Allow modifications of your work?</label>
<input type="radio" name="cc-allow-modification" value="yes" /> {{gettext message="Yes"}} 
<input type="radio" name="cc-allow-modification" value="share-alike" /> {{gettext message="Yes, as long as others can share alike"}} 
<input type="radio" name="cc-allow-modification" value="no" /> {{gettext message="No"}}
</script>

<script type="text/x-handlebars-template" id="share-taxonomy-template">
<p class="introduction">{{#blockgettext}}
Make sure readers can find your story. It will be easier for others to find, read and share your story if you include additional information, like a byline, topic tags, locations, or affiliated organizations.
{{/blockgettext}}</p>
<div id="taxonomy">
    <h3>{{gettext message="Tags"}}</h3> 
</div>
</script>

<script type="text/x-handlebars-template" id="add-location-template">
<h3>{{gettext message="Mapping"}}</h3>
<form>
    <div id="address-search-container">
        <input id="address" name="address" type="text" placeholder="{{gettext message="Enter an address"}}"/>
        <input id="search-address" name="search" type="button" value="{{gettext message="Search"}}"/>
    </div>
    <div id="map"></div>
    <div id="found-address"></div>
    <div id="address-name-container">
        <label for="address-name">{{gettext message="Name this Address"}} ({{gettext message="optional"}})</label><br />
    <input id="address-name" name="address-name" type="text" placeholder="{{gettext message="Enter a name for this address (optional)"}}"/>
    </div>
    <input id="do-add-location" type="submit" value="{{gettext message="Add Address"}}"/>
</form>
<ul id="locations"></ul>
</script>

<script type="text/x-handlebars-template" id="add-location-location-item-template">
    <li>
      {{#if name}}{{name}}<br />{{/if}}
      {{raw}}
      <a data-location-id="{{location_id}}" class="delete" href="#">{{gettext message="delete"}}
    </li>
</script>

<script type="text/x-handlebars-template" id="tags-template">
<h3>{{gettext message="Search Keywords"}}</h3>
<form>
    <input id="tags" name="tags" type="hidden" style="width: 300px"/>
</form>
</script>
{% endverbatim %}
