{% load i18n sekizai_tags verbatim %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
           More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%trans "Story Builder" %}</title>
    
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/backbone-forms/templates/default.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/select2/select2.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/builder.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">{% endaddtoblock %}

    {% render_block "css" %}
    <!-- end CSS-->

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>

    {% comment %}
    Handlebars templates for rendering Backbone views.
    {% endcomment %}

    {% include "storybase_story/story_builder_handlebars.html" %}

  </head>

  <body class="story-builder">
    <div id="builder">
        <header class="navbar container">
            <div class="row">
                <h1 class="title">{{ storybase_site_name }} {% trans "Story Builder" %}</h1>
            </div>
        </header>
        <div id="alerts" class="alerts"></div>
        <div id="app" class="container"></div>
    </div>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script src="{{ STATIC_URL }}js/libs/Namespace.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/json2.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0.beta.6.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-forms/backbone-forms.js"></script>
    <!-- Default styles for backbone forms templates are included above -->
    <script defer src="{{ STATIC_URL }}js/libs/jquery.simplemodal.1.4.2.min.js"></script>
    <!-- TODO: Finalize editor matching views -->
    <script src="{{ STATIC_URL}}js/libs/wysihtml5/advanced.js"></script>
    <!-- TODO: Use minified version of WYSIHTML5 -->
    <script src="{{ STATIC_URL}}js/libs/wysihtml5/wysihtml5-0.3.0.js"></script>
    <!-- TODO: Use minified version -->
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="{{ STATIC_URL}}js/libs/jquery.jeditable.js"></script>
    <script src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>

    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/forms.js"></script>
    <script src="{{ STATIC_URL }}js/models.js"></script>
    <script src="{{ STATIC_URL }}js/builder/application.js"></script>
    <script src="{{ STATIC_URL }}js/builder/models.js"></script>
    <script src="{{ STATIC_URL }}js/builder/views.js"></script>
    <script src="{{ STATIC_URL }}js/builder/routes.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        storybase.globals.API_ROOT = '/api/0.1/';
        var getRoot = function() {
          var base = '/build/';
          var pathParts = window.location.pathname.split('/');
          // If the URL contains a language, add it to the root
          return root = (pathParts[1] != 'build' ? '/' + pathParts[1] : '') + base; 
        };
        var storyTemplatesData = {{ story_template_json }};
        var helpData = {{ help_json }};
        var options = {
            assetTypes: {{ asset_types_json }},
            el: $('#builder'),
            dispatcher: storybase.builder.globals.dispatcher,
            help: new Backbone.Collection,
            layouts: {{ layouts_json }},
            organizations: {{ organizations_json }},
            places: {{ places_json }},
            projects: {{ projects_json }},
            storyTemplates: new storybase.builder.collections.StoryTemplates,
            topics: {{ topics_json }} 
        };
        {% if story_json %}
        options.model = new storybase.models.Story({{ story_json }});
        {% endif %}
        options.storyTemplates.reset(storyTemplatesData.objects);
        options.help.reset(helpData.objects);
        
        storybase.builder.globals.APP_ROOT = getRoot();
        storybase.builder.router = new storybase.builder.routers.Router({
            dispatcher: storybase.builder.globals.dispatcher
        });
        storybase.builder.app = new storybase.builder.views.AppView(
            options
        );
        Backbone.history.start({pushState: true, root: storybase.builder.globals.APP_ROOT});
    });
    </script>
  </body>
</html>
