{% comment %}
Handlebars templates for rendering Backbone views.
{% endcomment %}

{% verbatim %}
<script type="text/x-handlebars-template" id="navigation-template">
    {{#if showing_connected_story}}
      <a class="connected" href="#sections/connected-stories">{{gettext "Back to Connected Story List"}}</a>
    {{else}}
      {{#addl_links}}
      <a id="{{id}}" href="{{href}}">{{text}}</a>
      {{/addl_links}}

      {{#if previous_section}}
      <a class="previous" href="#sections/{{previous_section.id}}" title="{{previous_section.title}}"><i class="icon-chevron-left"></i></a>
      {{else}}
      <a class="previous disabled" href="#"><i class="icon-chevron-left"></i></a>
      {{/if}}

      <div class="location">{{currentSectionNum}} / {{totalSectionsNum}}</div>

      {{#if next_section}}
      <a class="next" href="#sections/{{next_section.id}}" title="{{next_section.title}}"><i class="icon-chevron-right"></i></a>
      {{else}}
      <a class="next disabled" href="#"><i class="icon-chevron-right"></i></a>
      {{/if}}


    {{/if}}
</script>
{% endverbatim %}
