{% load threadedcomments_tags storybase_user_tags i18n %}
<section id="comments" class="comments">
{% get_comment_list for story as comment_list flat %}
<ul class="comments-list">
{% for comment in comment_list %}
  <li class="comment">
    <div class="comment-head">
      {# TODO: Make this a link to the user profile page #}
      <span class="comment-user-name"><a href="#">{% format_user_name comment.user %}</a></span>
    </div>
    <div class="comment-body">
      {{ comment.comment }}
    </div>
    <div class="comment-footer">
      <span class="comment-date">{{ comment.submit_date|date:"g:i A l M j, Y" }}</span>
    </div>
  </li>
{% endfor %}
</ul>
<div id="comment-form">
  {% if user.is_authenticated %}
  {# TODO: Clean up the comment form #}
  {% render_comment_form for story %}
  {% else %}
  <p>
    <a href="{% url "auth_login" %}?next={{ story.get_absolute_url }}#comment-form">{% trans "Log in" %}</a> {% trans "or" %} <a href="{% url "registration_register" %}">{% trans "register" %}</a> {% trans "to comment" %}
  </p>
  {% endif %}
</div>
</section>
