{% comment %}
Handlebars.js templates for story builder Backbone application
{% endcomment %}

{% load  verbatim %}
{% verbatim %}
<script type="text/x-handlebars-template" id="help-template">
<a class="simplemodal-close" href="#">{{gettext message="Close"}}</a>
<h3>{{title}}</h3>
{{{body}}}
<a class="simplemodal-close btn" href="#">{{gettext message="Continue"}}</a>
<div class="help-modal-controls">
    <input name="auto-show-help" class="auto-show-help" type="checkbox" {{#if autoShow}}checked="checked"{{/if}}/>
    <label for="auto-show-help">Show these suggestions for each screen</label>
</div>
</script>

<script type="text/x-handlebars-template" id="menu-item-template">
<li><a class="{{id}}" href="{{href}}">{{title}}</a></li>
</script>

<script type="text/x-handlebars-template" id="workflow-item-template">
<li class="{{#if active}}active{{/if}}"><a class="{{id}}" href="{{storyId}}/{{path}}">{{title}}</a></li>
</script>

<script type="text/x-handlebars-template" id="workflow-nav-item-template">
<a class="{{id}} btn" href="{{href}}">{{title}}</a>
</script>

<script type="text/x-handlebars-template" id="story-template-template">
<h3><a href="#">{{title}}</a></h3>
<p>{{description}}</p>
</script>

<script type="text/x-handlebars-template" id="section-list-template">
<a id="toggle-section-list" class="opened" href="#">{{gettext message="Story Sections"}}</a>
<div class="sections-container-border">
<div class="sections-container">
    <a class="scroll-left"><</a>
    <div class="sections-clip">
    <ul class="sections"></ul>
    </div>
    <a class="scroll-right">></a>
</div>
</div>
</script>

<script type="text/x-handlebars-template" id="section-thumbnail-template">
{{#if index}}
<div class="spacer" data-index="{{index}}"><div><span>{{gettext message="Add a section"}}</span></div></div>
{{/if}}
<div class="section-thumbnail{{#if isNew}} new{{/if}}">
{{#if id}}<a class="remove" href="#" title='{{gettext message="Remove section"}}'>x</a>{{/if}}
<div class="title">{{ title }}</div>
</div>
{{#if nextIndex}}
<div class="spacer" data-index="{{nextIndex}}"><div><span>{{gettext message="Add a section"}}</span><div></div>
{{/if}}
</script>

<script type="text/x-handlebars-template" id="editor-toolbar-template">
<div id="wysihtml5-toolbar" class="wysihtml5-toolbar" style="display: none;">
  <a data-wysihtml5-command="bold">bold</a>
  <a data-wysihtml5-command="italic">italic</a>
  <a data-wysihtml5-command="underline">underline</a>
  <a data-wysihtml5-command="createLink">insert link</a>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
  <a data-wysihtml5-command="insertOrderedList">ordered list</a>
  <a data-wysihtml5-command="insertUnorderedList">unordered list</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote">quote</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">paragraph</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">heading</a>

  <a data-wysihtml5-action="change_view">Edit HTML</a>
</div>
</script>

<script type="text/x-handlebars-template" id="story-info-edit-template">
<h2 class="title" data-input-name="title">{{title}}</h2>
<p class="byline" data-input-name="byline">{{byline}}</p>
<textarea name="summary" id="summary-textarea" class="summary" placeholder='{{gettext message="Click to edit the summary"}}'>{{summary}}</textarea>
</script>

<script type="text/x-handlebars-template" id="story-call-to-action-edit-template">
<h2>{{gettext message="Call to Action"}}</h2>
<form>
    <textarea class="call-to-action" name="call_to_action" placeholder='{{gettext message="Click to edit the call to action"}}'>{{call_to_action}}</textarea>
</form>
</script>

<script type="text/x-handlebars-template" id="section-edit-template">
<div class="section-controls">
    <select name="layout" class="layout">
    {{#each layouts}}
    <option value="{{layout_id}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
    {{/each}}
    </select>
</div>
<h2 class="title" data-input-name="title">{{title}}</h2>
<div class="section-edit-layout">{{{layout_template}}}</div>
</script>

<script type="text/x-handlebars-template" id="section-asset-select-type-template">
<h3>Select Asset Type</h3>
<ul class="asset-types">
    {{#each assetTypes}}
    <li><a href="#" class="asset-type" data-asset-type="{{type}}">{{name}}</a></li>
    {{/each}}
</ul>
</script>

<script type="text/x-handlebars-template" id="section-asset-edit-template">
<h3>{{model.type}}</h3>
</script>

<script type="text/x-handlebars-template" id="section-asset-display-template">
<ul class="section-asset-controls">
    </li><a href="#" class="edit">Edit</a></li>
    <li><a href="#" class="remove">Remove</a></li>
</ul>
{{{model.content}}}
</script>

<script type="text/x-handlebars-template" id="section-asset-uploadprogress-template">
<div class="uploadprogress"></div>
</script>

<script type="text/x-handlebars-template" id="unused-assets-template">
<ul>
  {{#each assets}}
  <li class="unused-asset" data-asset-id="{{asset_id}}">{{#if thumbnail_url}}<img class="thumbnail" src="{{thumbnail_url}}" />{{/if}}{{display_title}} ({{type}})</li>
  {{/each}}
</ul>
</script>

<script type="text/x-handlebars-template" id="data-template">
<h2>Data Sets</h2>
{{#if datasets.length}}
<table class="datasets">
    <thead>
        <tr>
            <th>Data Set</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each datasets}}
        <tr class="dataset">
            <td>
                <span class="title">{{title}}</span>
                <span class="source">{{source}}</span>
                <span class="url"><a href="{{download_url}}">{{download_url}}</a></span>
            </td>
            <td><a class="delete-dataset" data-dataset-id="{{dataset_id}}" href="#">Delete</a></td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>There are no data sets for this story.</p>
{{/if}}
<div><a class="btn add-dataset" href="#">Add Data</a></div>
</script>

<script type="text/x-handlebars-template" id="review-template">
<h2>Story Checklist</h2>
<p>This view will eventually host the flow for reviewing stories</p>
</script>

<script type="text/x-handlebars-template" id="share-template">
<h2>Share Your Story</h2>
<div><a class="btn publish" href="#">Publish My Story</a></div>
</script>
{% endverbatim %}
