{% load i18n sekizai_tags storybase_tags story compress %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
           More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ story.title }}</title>

    {% if debug %}
    {% addtoblock "css" %}<link rel="stylesheet/less" href="{{ STATIC_URL }}less/base.less">{% endaddtoblock %}
    {% addtoblock "css" %}<script src="{{ STATIC_URL }}js/libs/less-1.4.1.min.js"></script>{% endaddtoblock %}
    {% endif %}
    {% comment %}
    If we're not in debug mode, we'll be passing the styleshset through
    django-compressor below. 
    {% endcomment %}

    {% render_block "css" %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/css/tooltipster.css">
    {% endcompress %}
    <!-- end CSS-->

    {% include "storybase/js_error.html" %}
    <script src="{{ STATIC_URL }}js/libs/modernizr.custom.min.js"></script>

    {% include "storybase_story/story_viewer_handlebars.html" %}
  </head>

  <body class="story-viewer">
    <div id="app">
        <header id="header">
          <div id="tools">
              <a href="{{ story.get_absolute_url }}" title="{% trans "About This Story" %}" class="external">{% trans "About This Story" %} <i class="icon-th-list"></i></a>
              <a href="{{ story.get_share_url }}" title="{% trans "Share This Story"%}" class="storybase-share-link" data-options='{"appendeeSelector": "#app", "alignment": "bottom right" }'>
                {% trans "Share This Story" %} <i class="icon-share"></i>
              </a>
          </div>
          <h1 class="title">{{ story.title }}</h1>
          <p class="byline">{% trans "By" %} {% if story.byline %}{{ story.byline }}{% else %}{{ story.contributor_name }}{% endif %}</p>
        </header>

        <div id="body">
          {% if story.summary %}
          <section id="summary" class="section summary" style="display: none;">
            <h2 class="title">{%trans "Summary" %}</h2>
            <div id="summary-image">
              {% featured_asset story %}
            </div>
            <div id="summary-text">
              {{ story.summary|safe|linebreaks }}
            </div>
            <div id="summary-toc">
              <h2>Table of Contents</h2>
              {{ story.structure.render_toc }}
            </div>
          </section>
          {% endif %}

          {% for section in story.structure.sections_flat %}
          <section id="{{ section.section_id }}" class="section" style="display:none;">
              {{ section.render }}
          </section>
          {% endfor %}

          {% if story.call_to_action or story.allow_connected %} 
          <section id="call-to-action" class="section call-to-action" style="display:none;">
	        <h2 class="title">{% trans "How Can You Help?" %}</h2>
	        {{ story.call_to_action|safe }}
            {% if story.allow_connected %}
            <p>{{ story.connected_prompt|linebreaks }}</p>
            {# TODO: Style the links to the connected story builder as buttons #}
            <p><a href="{% url connected_story_builder source_slug=story.slug %}" class="external" data-new-window-name="connectedBuilder">{% trans "Click here to contribute to this story" %}</a></p>
            {% endif %}
	      </section>
	      {% endif %}

          {% if story.allow_connected and connected_stories %}
          <section id="connected-stories" class="section connected-stories">
            <h2 class="title">{% trans "Connected Stories" %}</h2>
            {% for cs in connected_stories %}
            <div class="connected-story-item">
                {% featured_asset cs 100 %}
                <h3><a href="#connected-stories/{{ cs.story_id }}">{{ cs.title }}</a></h3>
                <p class="byline">{% trans "By" %} {{ cs.byline|default:cs.contributor_name }}</p>
            </div>
            {% endfor %}
          </section>

          {% for cs in connected_stories %}
          <section id="connected-story-{{ cs.story_id }}" class="connected-story" style="display:none;">
            {% connected_story cs %}
          </section>
          {% endfor %}
          {% endif %}
        </div>

        <footer id="footer">
          <a class="logo" href="/" title="{{ storybase_site_name }}"><span>{{ storybase_site_name }}</span></a>
          <nav id="toc">
            {{ story.structure.render_toc }}
            <button id="toggle-toc">Table of Contents <i class="icon-caret-up"></i></button>
          </nav>
        </footer>
    </div>

    {% include "analytics.html" %}

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/json2.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0.beta.6.js"></script>
    <script src="{{ STATIC_URL }}js/libs/d3.v2.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.imagesloaded.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.condense.js"></script>

    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery.storybaseshare.js"></script>

    <script src="{{ STATIC_URL }}js/storybase.js"></script>
    <script src="{{ STATIC_URL }}js/models.js"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/views.js"></script>
    <script src="{{ STATIC_URL }}js/viewer/application.js"></script>
    <script src="{{ STATIC_URL }}js/viewer/views.js"></script>
    <script src="{{ STATIC_URL }}js/viewer/routes.js"></script>
    <script src="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/js/jquery.tooltipster.min.js"></script>
    
    {% endcompress %}

    <script type="text/javascript">
    $(document).ready(function() {
        var storyStructureType = '{{ story.structure_type }}';        
        var story = new storybase.models.Story({{ story.structure.to_json }});
        var sections = new storybase.collections.Sections;
        var viewerContext = '{{ context }}';
        sections.reset({{ sections_json }});
        storybase.viewer.app = storybase.viewer.views.getViewerApp(
            storyStructureType,
            {
                el: $('#app'),
                story: story,
                sections: sections
            }
        );
        
        if (viewerContext == 'iframe') {
            storybase.viewer.router = null;
        }
        else {
            storybase.viewer.router = new storybase.viewer.routers.Router({
                view: storybase.viewer.app
            });
            Backbone.history.start();
        }
        
        $('#tools a').tooltipster();
        
        storybase.viewer.app.render();
    });
    </script>
  </body>
</html>
