{% load i18n sekizai_tags verbatim %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
           More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%trans "Story Builder" %}</title>
    
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/builder.css">{% endaddtoblock %}

    {% render_block "css" %}
    <!-- end CSS-->

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>

    {% comment %}
    Handlebars templates for rendering Backbone views.
    {% endcomment %}

    {% verbatim %}
    <script type="text/x-handlebars-template" id="navigation-template">
        <ul class="workflow">
            <li>Build</li>
            <li>Review</li>
            <li>Share</li>
        </ul>
        <ul class="meta">
            <li><a class="save" href="#">Save</a></li>
            <li>Help</li>
            <li>Settings</li>
            <li>Preview</li>
            <li>Exit</li>
        </ul>
    </script>

    <script type="text/x-handlebars-template" id="story-template-template">
        <h3><a href="#">{{title}}</a></h3>
        <p>{{description}}</p>
    </script>

    <script type="text/x-handlebars-template" id="builder-template">
        <ul class="sections"></ul>
    </script>

    <script type="text/x-handlebars-template" id="section-thumbnail-template">
        <div>{{ title }}</div>
    </script>

    <script type="text/x-handlebars-template" id="story-info-edit-template">
        <input name="title" class="title" type="text" placeholder="Title" value="{{title}}" />
        <input name="byline" class="byline" type="text" placeholder="Byline" value="{{byline}}" />
        <textarea name="summary" class="summary" placeholder="Summary">{{summary}}</textarea>
    </script>

    <script type="text/x-handlebars-template" id="story-call-to-action-edit-template">
        TODO: Fill me in
    </script>

    <script type="text/x-handlebars-template" id="section-edit-template">
        <div class="section-controls">
            <select name="layout" class="layout">
            {{#each layouts}}
            <option value="{{layout_id}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
            {{/each}}
            </select>
        </div>
        <input name="title" class="title" type="text" value="{{title}}" />
        <div class="section-edit-layout">{{{layout_template}}}</div>
    </script>

    <script type="text/x-handlebars-template" id="section-asset-select-type-template">
        <h3>Select Asset Type</h3>
        <ul class="asset-types">
            {{#each assetTypes}}
            <li><a href="#" class="asset-type" data-asset-type="{{type}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </script>

    <script type="text/x-handlebars-template" id="section-asset-edit-template">
        <h3>{{type}}</h3>
        <form>
            {{#if showUrl}}
            <p>
            <label for="url">Enter a URL</label>
            <input name="url" class="url" />
            </p>
            {{/if}}
            {{#if showFile}}
            <p>
            <label for="file">Select a file</label>
            <input name="file" class="file" type="file" /> 
            </p>
            {{/if}}
            {{#if showBody}}
            <textarea name="body" class="body"></textarea>
            {{/if}}
            <input type="reset" value="Cancel" />
            <input type="submit" value="Save" />
        </form>
    </script>
    {% endverbatim %}
  </head>

  <body class="story-builder">
    <div id="builder">
        <header class="container">
            <div class="row">
                <h1>{{ storybase_site_name }} {% trans "Story Builder" %}</h1>
                <nav id="builder-nav"></nav>
            </div>
        </header>
        <div id="app" class="container"></div>
    </div>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script src="{{ STATIC_URL }}js/libs/Namespace.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/json2.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0.beta.6.js"></script>

    <script src="{{ STATIC_URL }}js/models.js"></script>
    <script src="{{ STATIC_URL }}js/builder/application.js"></script>
    <script src="{{ STATIC_URL }}js/builder/models.js"></script>
    <script src="{{ STATIC_URL }}js/builder/views.js"></script>
    <script src="{{ STATIC_URL }}js/builder/routes.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        var options = {
            el: $('#builder'),
            dispatcher: storybase.builder.globals.dispatcher
        };
        {% if story_json %}
        options.model = new storybase.models.Story({{ story_json }});
        {% endif %}
        var storyTemplatesData = {{ story_template_json }};
        options.storyTemplates = new storybase.builder.collections.StoryTemplates;
        options.storyTemplates.reset(storyTemplatesData.objects);
        options.layouts = {{ layouts_json }};
        options.assetTypes = {{ asset_types_json }};

        storybase.builder.router = new storybase.builder.routers.Router({
            dispatcher: storybase.builder.globals.dispatcher
        });
        storybase.builder.app = new storybase.builder.views.AppView(
            options
        );
        Backbone.history.start({pushState: true, root: '/build/'});
        storybase.builder.app.render();
    });
    </script>
  </body>
</html>
