{% load i18n sekizai_tags compress %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
           More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ storybase_site_name }} | {% trans "Story Builder" %}</title>

    {% include "favicons.html" %}

    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/select2/select2.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/leaflet/leaflet.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/guiders/guiders-1.2.8.css">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/css/tooltipster.css">{% endaddtoblock %}

    {% comment %}
    In development, use Javascript to compile the LESS to CSS. In
    production, assume they've been pre-compiled/collected.
    {% endcomment %}
    {% if storybase_use_less_in_browser %}
    {% addtoblock "css" %}
    <script>
    // HACK: Force development mode for LESS, even when not on localhost
    var less = { env: 'development' };
    </script>
    {% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet/less" href="{{ STATIC_URL }}less/base.less">{% endaddtoblock %}
    {% addtoblock "css" %}<script src="{{ STATIC_URL }}js/libs/less-1.4.1.min.js"></script>{% endaddtoblock %}
    {% endif %}
    {% comment %}
    If not compiling LESS with less.js, CSS will be passed through Django 
    Compressor below.
    {% endcomment %}

    {% render_block "css" %}
    {% if not storybase_use_less_in_browser %}
    {% compress css %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">{% endcompress %}
    {% endif %}
    <!-- end CSS-->

    {% include "storybase/js_error.html" %}
    <script src="{{ STATIC_URL }}js/libs/modernizr.custom.63515.js"></script>

    {% comment %}
    Handlebars templates for rendering Backbone views.
    {% endcomment %}

    {% include "storybase_story/story_builder_handlebars.html" %}

  </head>

  <body class="story-builder">
    <div id="builder" class="{% if story %}has-story{% if show_story_info_inline %} story-info-inline{% endif %}{% endif %}">
        <header id="header">
            <div id="workflow-bar">
                <div id="workflow-bar-contents">
                    <a class="logo" href="{% url "story_builder" %}" title="{{ storybase_site_name }} {% trans "Story Builder" %}">
                        <img src="{{ STATIC_URL }}/img/builder/builder-logo-balloon.png" width="34" height="34" alt="{% trans "Story Builder Logo" %}" />
                    </a>
                </div>
            </div>
            <div id="title-bar">
                <div id="title-bar-contents">
                    {% if story and not show_story_info_inline %}
                    <h1 class="title">{{ story.title }}</h1>
                    {% else %}
                    <h1 class="title">{{ storybase_site_name }} {% trans "Story Builder" %}</h1>
                    {% endif %}
                    {% if not show_story_info_inline %}
                    <div class="byline-container"><span class="byline-prefix">{% trans "By" %}</span> <span class="byline">{{ story.byline }}</span></div>
                    {% endif %}
                </div>
            </div>
            <div id="subnav-bar">
                <div id="subnav-bar-contents"></div>
            </div>
            <div id="alerts"></div>
        </header>
        <div id="app"></div>
        <div id="drawer-container"></div>
    </div>

    {% include "analytics.html" %}

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <script type="text/javascript" src="{{ STATIC_URL}}js/plugins.js"></script>	    
    <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/json2.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0.beta.6.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-forms/backbone-forms.min.js"></script>
    <!-- TODO: Finalize editor matching views -->
    <script src="{{ STATIC_URL}}js/libs/wysihtml5/advanced.js"></script>
    <script src="{{ STATIC_URL}}js/libs/wysihtml5/wysihtml5-0.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/select2/select2.min.js"></script>
    <script src="{{ STATIC_URL}}js/libs/leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/libs/guiders/guiders-1.2.8.js"></script>
    <script src="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/js/jquery.tooltipster.min.js"></script>

    <script src="{{ STATIC_URL }}js/builder/jquery.graphicselect.js"></script>

    {% compress js %}
    {% comment %}
    Override the current Backbone Forms templatee with a cleaned-up version
    of the old templates for now so the markup matches our styles.

    TODO: Update styles to reflect current Backbone Forms templates and switch
    to current templates
    {% endcomment %}
    <script src="{{ STATIC_URL }}js/jquery.storybaseshare.js"></script>

    <script src="{{ STATIC_URL }}js/forms-templates.js"></script>
    <script src="{{ STATIC_URL }}js/storybase.js"></script>
    <script src="{{ STATIC_URL }}js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/forms.js"></script>
    <script src="{{ STATIC_URL }}js/models.js"></script>
    <script src="{{ STATIC_URL }}js/views.js"></script>
    <script src="{{ STATIC_URL }}js/builder/application.js"></script>
    <script src="{{ STATIC_URL }}js/builder/models.js"></script>
    <script src="{{ STATIC_URL }}js/builder/views.js"></script>
    <script src="{{ STATIC_URL }}js/builder/routes.js"></script>
    {% endcompress %}

    <script>
    Modernizr.load([
      {
        test: Modernizr.input.placeholder,
        nope: '{{ STATIC_URL }}js/libs/polyfill.placeholder.js'
      },
      {
        test: Modernizr.filereader,
        nope: '{{ STATIC_URL }}js/libs/jquery.iframe-transport.js' 
      }
    ]);
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        storybase.builder.APP_ROOT = storybase.utils.getRoot(["build", "build-connected"], window.location.pathname, 1);
        storybase.API_ROOT = '/api/0.1/';
        storybase.MAP_CENTER = {{ storybase_map_center }};
        storybase.MAP_ZOOM_LEVEL = {{ storybase_map_zoom_level }};
        storybase.MAP_POINT_ZOOM_LEVEL = {{ storybase_map_point_zoom_level }};
        var storyTemplatesData = {{ story_template_json }};
        var helpData = {{ help_json }};
        var options = _.extend({
            assetTypes: {{ asset_types_json }},
            browserSupportMessage: "{{ storybase_browser_support_msg|safe }}",
            containerTemplates: new storybase.builder.collections.ContainerTemplates,
            el: $('#builder'),
            dispatcher: storybase.builder.dispatcher,
            help: new Backbone.Collection,
            language: '{{ LANGUAGE_CODE }}',
            layouts: {{ layouts_json }},
            organizations: {{ organizations_json }},
            places: {{ places_json }},
            projects: {{ projects_json }},
            relatedStories: new storybase.collections.StoryRelations,
            storyTemplates: new storybase.builder.collections.StoryTemplates,
            topics: {{ topics_json }},
            startOverUrl: storybase.utils.getRoot(["build", "build-connected"], window.location.pathname),
            storyListUrl: '{% url "account_stories" %}'
        }, {{ options_json }});
        var relatedStoriesJSON = null;
        var assetsJSON = null;
        var templateSectionsJSON = null;
        var featuredAssetsJSON = null;
        var containerTemplatesJSON = null;
        {% if story_json %}
        options.model = new storybase.models.Story({{ story_json }});
        {% endif %}
        {% if related_stories_json %}
        relatedStoriesJSON = {{ related_stories_json }};
        {% endif %}
        {% if template_story_json %}
        options.templateStory = new storybase.models.Story({{ template_story_json }});
        {% endif %}
        {% if template_sections_json %}
        templateSectionsJSON = {{ template_sections_json }};
        {% endif %}
        {% if assets_json %}
        assetsJSON = {{ assets_json }};
        {% endif %}
        {% if featured_assets_json %}
        featuredAssetsJSON = {{ featured_assets_json }};
        {% endif %}
        {% if container_templates_json %}
        containerTemplatesJSON = {{ container_templates_json }};
        {% endif %}
        if (relatedStoriesJSON) {
          options.relatedStories.reset(relatedStoriesJSON.objects);
        }
        if (templateSectionsJSON) {
          options.templateStory.sections.reset(templateSectionsJSON.objects);
        }
        {# TODO: Bootstrap sections and assets #}
        if (options.model && assetsJSON) {
          options.model.assets.reset(assetsJSON.objects);
        }
        if (options.model && featuredAssetsJSON) {
          options.model.setFeaturedAssets(
            new storybase.collections.FeaturedAssets(
              featuredAssetsJSON.objects)
          )
        }
        if (containerTemplatesJSON) {
          options.containerTemplates.reset(containerTemplatesJSON.objects);
        }
        options.storyTemplates.reset(storyTemplatesData.objects);
        options.help.reset(helpData.objects);
        
        storybase.builder.router = new storybase.builder.routers.Router({
          dispatcher: storybase.builder.dispatcher,
          hasStory: !_.isUndefined(options.model),
          hasTemplate: !_.isUndefined(options.templateStory)
        });
        storybase.builder.app = new storybase.builder.views.AppView(
            options
        );
        Backbone.history.start({pushState: true, root: storybase.builder.APP_ROOT});
    });
    </script>
  </body>
</html>
