{% load storybase_tags i18n %}
{% url story_viewer slug=story.slug as viewer_path %}
{% fullurl story.get_absolute_url as detail_url %}
{% fullurl viewer_path as viewer_url %}
<section id="{{ story.story_id }}" class="storybase-story-featured {{ storybase_site_name|slugify }}-story-embed {{ extra_classes }}">
  <a class="featured-image" href="{{ detail_url }}" onclick="window.open('{{ detail_url }}'); return false;">
    <img src="{{ story.featured_asset_thumbnail_url }}">
  </a>
  <div class="info">
    <h3>
      <a href="{{ viewer_url }}" title="{{ story.title }}" class="story-link" onclick="window.open('{{ viewer_url }}'); return false;">{{ story.title }}</a>
    </h3>
    <p class="byline">{{ story.byline }}</p>
    <div class="summary">{{ story.summary|firstparagraph|safe }}</div>
  </div>
</section>