{% load storybase_tags i18n compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ storybase_site_name }} | {{ story.title }}</title>
    {# Force IE8 into standards mode. #}
    <meta http-equiv="x-ua-compatible" content="IE=8">
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/widget.less">
    <script src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/widget.css">
    {% endif %}
  </head>
  <body>
    <article>
      <header>
        <a href="/" class="logo">{{ storybase_site_name }}</a>
        <h1><a href="/">{% blocktrans %} Stories from the {{ storybase_site_name }} Project {% endblocktrans %}</a></h1>
      </header>
      <section class="storybase-embed-content">
        
        {% block widget_content %}{% endblock %}

      </section>
      <footer>
        {% if story and story.projects.all %}
          {% trans "View stories for" %}
          {% for project in story.projects.all %}<a href="{% fullurl project.get_absolute_url %}">{{ project.name }}</a>, {% endfor %}
          {% trans "on" %} <a href="/">{{ storybase_site_name }}</a>
        {% elif story and story.organizations.all %}
          {% trans "View stories for" %}
          {% for organization in story.organizations.all %}<a href="{% fullurl organization.get_absolute_url %}">{{ organization.name }}</a>, {% endfor %}
          {% trans "on" %} {{ storybase_site_name }}
        {% else %}
          <a href="/">{% blocktrans %} Explore more stories on {{ storybase_site_name }}{% endblocktrans %}</a>
        {% endif %}
      </footer>
    </article>
    {% compress js inline %}
    <script type="text/javascript">
    (function(win, doc) {
      var handleClick = function(event) {
        // In IE8, we must work with the global event object.
        event = event || window.event;

        // Attempt to force a new window. This is still overridable via 
        // modifier in modern browsers.
        win.open(this.getAttribute('href'), '_blank', 'modal=yes,alwaysRaised=yes');
        
        // Stop default action. In some versions of IE this is done via 
        // returnValue prop. Compliant browsers offer preventDefault.
        event.preventDefault ? event.preventDefault() : event.returnValue = false;
      };
      
      // Set up click handlers for all anchor tags.
      var anchors = doc.getElementsByTagName('a');
      for (var i = 0; i < anchors.length; i++) {
        // Bind anchor element to handler via closure.
        anchors[i].onclick = (function(el) { 
          return function(event) { handleClick.call(el, event); } 
        })(anchors[i]);
      }
    })(window, document);
    </script>
    {% endcompress %}
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/css3-mediaqueries.js"></script>
    <![endif]-->
  </body>
</html>
