{% load storybase_tags i18n %}
<html>
  <head>
    <title>{{ storybase_site_name }} | {{ story.title }}</title>

    {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/widget.less">
    <script src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/widget.css">
    {% endif %}
  </head>
  <body>
    <article>
      <header>
        <a href="/" class="logo">{{ storybase_site_name }}</a>
        <h1><a href="/">{% blocktrans %} Stories from the {{ storybase_site_name }} Project {% endblocktrans %}</a></h1>
      </header>
      <section class="storybase-embed-content">

        {% if story and stories %}
          {% include "storybase_story/widget_story_section.html" with extra_classes="with-list" %}
        {% elif story and not stories %}
          {% include "storybase_story/widget_story_section.html" %}
        {% endif %}
        
        {% if stories and story %}
          {% include "storybase_story/widget_list_section.html" with story_items=stories extra_classes="with-featured" %}
        {% elif stories and not story %}
          {% include "storybase_story/widget_list_section.html" with story_items=stories %}
        {% endif %}
        
      </section>
      <footer>
        {% if story and story.projects.all %}
          <a href="/">View all stories for
            {% for project in story.projects.all %}{{ project.name }}, {% endfor %}
            on {{ storybase_site_name }}</a>
        {% elif story and story.organizations.all %}
          <a href="/">View all stories for
            {% for organization in story.organizations.all %}{{ organizations.name }}, {% endfor %}
            on {{ storybase_site_name }}</a>
        {% else %}
          <a href="/">Explore more stories on {{ storybase_site_name }}</a>
        {% endif %}
      </footer>
    </article>
  </body>
</html>
