{% extends 'base.html' %}
{% load i18n storybase_tags %}

{% block head_title %}{% if query %}{% trans "Search Results for" %} "{{ query }}"{% else %}{% trans "Search" %}{% endif %}{% endblock %}

{% block body_class %}search{% endblock %}

{% block base_content %}
<h1><span>{% trans "Search" %}</span></h1>

<form id="search-page-form" method="get" action=".">
    {% for field in form.visible_fields %}
    {{ field }}
    {% endfor %}
    <input type="submit" value="{% trans "Search" %}" />
</form>

{% if query %}

<div class="results-header">
  <h2>{{ paginator.count }} {% trans "Search Results for" %} "{{ query }}"</h2>
    {% include "search/paging.html" %}
</div>

<ol class="search-results">
{% for result in page.object_list %}
    <li class="search-result">
        {% featured_asset result.object 222 %}
        <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>
        <div class="summary">
            {{ result.object.summary|safe }}
        </div>
        <dl class="metadata">
            {% for md_type in result.object.search_result_metadata %}
            <dt class="{{ md_type.id }}">{{ md_type.name }}</dt>
            <dd class="{{ md_type.id }}">
            {% for md_item in md_type.values %}
                {% if md_item.url %}<a href="{{ md_item.url }}" title="{{ md_item.name }}">{{ md_item.name }}</a>{% else %}{{ md_item.name }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </dd>
            {% endfor %}
        </dl>
    </li>
{% empty %}
    <li class="no-search-results">No results found.</li>
{% endfor %}
</ol>

<div class="results-footer">
    {% include "search/paging.html" %}
</div>

{% else %}
{# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
{% endblock %}
