{% extends 'base.html' %}
{% load i18n sekizai_tags storybase_tags %}

{% block head_title %}{% if query %}{% trans "Search Results for" %} "{{ query }}"{% else %}{% trans "Search" %}{% endif %}{% endblock %}

{% block body_class %}search{% endblock %}

{% block base_content %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/select2/select2.css">{% endaddtoblock %}
{% if not query %}
<h1><span>{% trans "Search" %}</span></h1>
{% endif %}

{% include "search_plugin.html" %}

<div class="results-header">
  {% if query %}
  <h1>{% if paginator.count %}{{ paginator.count }} {% trans "search results for" %}{% else %}{% trans "No search results found for"%}{% endif %} "{{ query }}"</h1>
  {% else %}
  <h1>{% if paginator.count %}{{ paginator.count }} {% trans "search results" %}{% else %}{% trans "No search results found"%}{% endif %}</h1>
  {% endif %}
    {% include "search/paging.html" %}
</div>

<ol class="search-results">
{% for result in page.object_list %}
    <li class="search-result {% if result.object.story_id %} has-image{% endif %}">
        {% if result.object.story_id %}
        {% featured_asset result.object 222 %}
        <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>
        <p class="type">{{ result.object|classname }}</p>
        <div class="summary">
            {{ result.object.summary|safe }}
        </div>
        <dl class="metadata">
            {% for md_type in result.object.search_result_metadata %}
            {% if md_type.values %}
            <dt class="{{ md_type.id }}">{{ md_type.name }}</dt>
            <dd class="{{ md_type.id }}">
            {% for md_item in md_type.values %}
                {% if md_item.url %}<a href="{{ md_item.url }}" title="{{ md_item.name }}">{{ md_item.name }}</a>{% else %}{{ md_item.name }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </dd>
            {% endif %}
            {% endfor %}
        </dl>
        {% elif result.object.help_id %}
        <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>
        <p class="type">{{ result.object|classname }}</p>
        <div class="summary">
            {{ result.object.body|safe|truncatewords_html:30 }}
        </div>
        {% endif %}
    </li>
{% empty %}
    <li class="no-search-results">
        {% if suggestion %}
        {% trans "Did you mean" %} <a href="?q={{ suggestion|urlencode }}">{{ suggestion }}</a>?
        {% endif %}
        {% trans "Please consider exploring and browsing stories in the" %} <a href="{% url "explore_stories" %}" title="{% trans "Read" %} {{ storybase_site_name }}">'{% trans "Read" %}'</a> area of {{ storybase_site_name }}.
    </li>
{% endfor %}
</ol>

<div class="results-footer">
    {% include "search/paging.html" %}
</div>

{% endblock %}

{% block extrajs %}
  <script src="{{ STATIC_URL }}js/libs/select2/select2.min.js"></script>
  <script>
    jQuery(function($) {
      $('select').select2();
    });
  </script>
{% endblock %}
