{% extends "base.html" %}

{% block head_title %}{{ asset.title }}{% endblock %}

{% block base_content %}
<div class="twelvecol">
  <h2>{{ asset.title }}</h2>

  {{ asset.render_html }}

  <h3>Type</h3>
  <p class="type">{{ asset.type }}</p>

  {% if asset.attribution %}
  <h3>Attribution</h3>
  <p class="attribution">{{ asset.attribution }}</p>
  {% endif %}

  <h3>License</h3>
  <p class="license">{{ asset.license_name }}</p>

  {% if asset.asset_created %}
  <h3>Asset Created</h3>
  <p><time class="asset-created">{{ asset.asset_created|date:"F j, Y" }}</time></p>
  {% endif %}

  {% if asset.datasets.count %}
  <h3>Data Sets</h3>
  <ul class="datasets">
      {% for dataset in asset.datasets.select_subclasses %}
      <li>
          <p>{{ dataset.title }}</p>
          <p>{{ dataset.description }}</p>
          <p>{{ dataset.attribution }}</p>
          <p><a href="{{ dataset.download_url }}">Download</a></p>
      </li>
      {% endfor %}
  </ul>
  {% endif %}

  <h3>Status</h3>
  <p class="status">{{ asset.status }}</p>

  {% if asset.stories.count %}
  <h3>Stories this asset is used in</h3>
  <ul class="stories">
      {% for story in asset.stories.all %}
      <li>{{ story.title }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  {% if asset.published %}
  <h3>Publication Date</h3>
  <p><time class="published">{{ asset.published|date:"F j, Y g:i A" }}</time></p>
  {% endif %}

  <h3>Owner</h3>
  <p class="owner">{{ asset.owner }}</p>

  <h3>Created</h3>
  <p><time class="created">{{ asset.created|date:"F j, Y" }}</time></p>

  <h3>Last Edited</h3>
  <p><time class="last-edited">{{ asset.last_edited|date:"F j, Y g:i A" }} </time></p>
</div>
{% endblock %}
