{% extends "base.html" %}

{% block base_content %}
<div class="twelvecol">
  <h2>{{ asset.title }}</h2>

  {{ asset.render_html }}

  <h2>Type</h2>
  <p class="type">{{ asset.type }}</p>

  {% if asset.attribution %}
  <h2>Attribution</h2>
  <p class="attribution">{{ asset.attribution }}</p>
  {% endif %}

  <h2>License</h2>
  <p class="license">{{ asset.license_name }}</p>

  <h2>Status</h2>
  <p class="status">{{ asset.status }}</p>

  {% if asset.published %}
  <h2>Publication Date</h2>
  <p><time class="published">{{ asset.published|date:"F j, Y g:i A" }}</time></p>
  {% endif %}

  {% if asset.asset_created %}
  <h2>Asset Created</h2>
  <p><time class="asset-created">{{ asset.asset_created|date:"F j, Y" }}</time></p>
  {% endif %}

  <h2>Owner</h2>
  <p class="owner">{{ asset.owner }}</p>

  <h3>Created</h3>
  <p><time class="created">{{ asset.created|date:"F j, Y" }}</time></p>

  <h3>Last Edited</h3>
  <p><time class="last-edited">{{ asset.last_edited|date:"F j, Y g:i A" }} </time></p>
</div>
{% endblock %}
