{% extends "storybase_user/account_base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "My Account" %}{% endblock %}

{% block body_title %}{%trans "My Stories" %}{% endblock %}

{% block twocol-content %}
{% if user.stories.count %}
<table>
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Last Edited" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for story in user.stories.all %}
        <tr>
            <td><a class="view"  href="{{ story.get_absolute_url }}">{{ story }}</a></td>
            <td>{{ story.last_edited }}</td>
            <td>{{ story.status|capfirst }}</td>
            <td><a class="build" href="{{ story.builder_url }}">{% trans "Build" %}</a></td>
    </tbody>
    {% endfor %}
</table>
{% else %}
<p>{% trans "You have no stories" %}</p>
{% endif %}
{% endblock %}
