{% extends "storybase_user/account_base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "Account Information" %}{% endblock %}

{% block primary_content %}
<h1>{% trans "Account information for" %} {{ user.email }}</h1>

{% include "messages.html" %}

<h2>{% trans "Email Address" %}</h2>

<form method="post">{% csrf_token %}
{{ change_email_form.as_p }}
<input type="hidden" name="form_id" value="change_email" />
<input type="submit" value="{% trans "Change Email Address" %}" />
</form>

<h2>{% trans "Connected accounts" %}</h2>
<ul>
  {% for name, value in social_auth.items %}
  <li>{{ name|capfirst }} {% if value %}<a href="{% url socialauth_disconnect backend=name %}">{% trans "disconnect" %}</a>{% else %}<a href="{% url socialauth_begin backend=name %}">{% trans "connect" %}</a>{% endif %}</li>
  {% endfor %}
</ul>
{% endblock %}
