{% extends "storybase_user/account_base.html" %}

{% load cms_tags sekizai_tags menu_tags i18n %}

{% block head_title %}{% trans "My Account" %}{% endblock %}

{% block body_title %}{%trans "My Stories" %}{% endblock %}

{% block twocol-content %}
{% if stories_list.count %}
<table class="account-stories">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Last Edited" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       {% for story in stories_list %}
        <tr>
            <td>{% with connected_to=story.connected_to %}
                {% if connected_to %}{{ story }} <a href="{{ connected_to.get_absolute_url }}" title="{% trans "Connected to" %} {{ connected_to }}"><i class="icon-comments-alt"></i></a>{% else %}<a class="view"  href="{{ story.get_absolute_url }}">{{ story }}</a>{% endif %}
            {% endwith %}</td>
            <td class="last-edited">{{ story.last_edited }}</td>
            <td>
              <span class="status">{{ story.status|capfirst }}</span>
            </td>
            {% if story.status == 'published' %}
            <td class="action">
              <a class="button gray unpublish" href="{{ story.get_absolute_url }}unpublish/">Unpublish</a>
            </td>
            {% else %}{% if story.status == 'draft' and not story.never_published %}
            <td class="action">
              <a class="button gray publish" href="{{ story.get_absolute_url }}publish/">Publish</a>
            </td>
            {% else %} 
            <td></td>
            {% endif %}
            {% endif %}
            {% if story.status != 'deleted' %}
            <td class="action">
              <a class="button gray delete" href="{{ story.get_absolute_url }}delete/">Delete</a>
            </td>
            {% endif %}
            <td class="action">
              <a class="button hot build" href="{{ story.builder_url }}">{% trans "Build" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{% url story_builder as builder_url %}
<p>{% blocktrans %}You haven't made any stories yet. <a href="{{ builder_url }}" title="Story Builder">Create your first story now</a>.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
