{% extends "storybase_user/create_organization_project_base.html" %}{% load i18n %}
{% block intro %}
<p>{% trans "Organizations are groups of people creating stories together. They can be non-profits, school groups, neighborhoods, or any storytellers who share a common goal. Check out an example organization," %} <a href="/organizations/the-piton-foundation/" title="The Piton Foundation">The Piton Foundation</a>.</p>

<p>{% trans "To request to create an organization, fill out the information below. We'll send you an email when your organization has been created." %}</p>
{% endblock %}
