{% extends "storybase_user/create_organization_project_base.html" %}{% load i18n %}
{% block intro %}
<p>{% trans "Projects are collections of stories about a common theme, place, issue, event or movement. They can be open to contributions from any Floodlight user, or constrained to a group of authors. Check out an example project," %} <a href="/projects/the-childrens-corridor/" title="The Children's Corridor">The Children's Corridor</a>.</p>

<p>{% trans "To request to create a project, fill out the information below. We'll send you an email when your project has been created." %}</p>
{% endblock %}
