{% extends "twocol.html" %}

{% load i18n storybase_tags storybase_user_tags %}

{% block head_title %}{{ object.name }}{{ block.super }}{% endblock %}

{% block extrameta %}
<meta name="title" content="{{ object.name }}" />
<meta name="description" content="{{ object.description }}">

<!-- Open Graph Protocol tags -->
<meta property="og:url" content="{% fullurl object.get_absolute_url %}" />
<meta property="og:title" content="{{ object.name }}" />
<meta property="og:description" content="{{ object.description }}" />
<meta property="og:image" content="{{ object.featured_asset_thumbnail_url }}" />
{% endblock %}

{% block body_title %}{{ object.name }}{% endblock %}

{% block content_page_class %}object-detail{% endblock %}

{% block sidebar %}
{# TODO: Replace this with sub-nav.  The old markup looked like this: #}
{% comment %}
<nav id="subnav">
   <ul class="navroot">{% show_menu 1 %}</ul>
</nav>
{% endcomment %}
<a href="#" class="storybase-share-widget" data-story-id="{{ object.slug }}" data-options='{"widgetUrl": "{{ object.get_absolute_url }}share-widget/"}'>{% trans "Share This" %} {{ object|classname|camelsplit|first }}</a>
{% endblock %}

{% block twocol-content %}
<section class="object-summary content-block">
   {% block summary_left %}
    <div class="grid_4 alpha">
        <section class="summary">
            {% if object.description %}
                {{ object.description|safe|linebreaks }}
            {% endif %}
        </section>
    </div>
    {% endblock %}

    {% block summary_right %}
    <div class="grid_6 omega">
        <section class="object-featured-asset">
            {% featured_asset object 335 %}
        </section>
    </div>
    {% endblock %}

    <div class="object-metadata grid_10">
        <div class="grid_3 alpha">
        {% block metadata_alpha %}
        {% if object.website_url %}
        <h4>{% block metadata_alpha_title %}{% trans "Website" %}{% endblock %}</h4>
        <a href="{{ object.website_url }}" title="{{ object.name }} {% trans "Website" %}">{{ object.website_url }}</a>
        {% endif %}
        {% endblock %}
        </div>
        <div class="grid_3">
            {% block metadata_center %}    
            {% if object.members.all %}
            <h4>{% block metadata_center_title %}{% trans "Contributors" %}{% endblock %}</h4>
            <ul>
                {% for member in object.members.all %}    
                <li><a href="{{ member.get_profile.get_absolute_url }}" title="{% format_user_name member %}">{% format_user_name member %}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}
        </div>
        <div class="grid_3 omega">
            {% block metadata_omega %}
            {% endblock %}
        </div>
    </div>
</section>
{% block featured %}
{% if object.featured_story %}
{% with object.featured_story as featured %}
<section class="featured-story content-block">
    <h3>{% trans "Featured Story" %}</h3>
    <div class="grid_3 alpha">
        <a href="{{ featured.get_absolute_url }}">{% featured_asset featured 222 %}</a>
    </div>
    <div class="grid_7 omega">
        <h4><a href="{{ featured.get_absolute_url }}">{{ featured.title }}</a></h4>
        {{ featured.summary|safe|linebreaks }}
    </div>
</section>
{% endwith %}
{% endif %}
{% endblock %}
{% block recent %}
{% if story_list %} 
<section class="story-list content-block last">
    <h3>{{ story_list_title}}</h3>
    <ul>
        {% for story in story_list %}
        <li>
            <div class="grid_2 alpha">
                <a href="{{ story.get_absolute_url }}">{% featured_asset story 150 %}</a>
            </div>
            <div class="grid_8 omega">
                <h4><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h4>
                {{ story.summary|safe|linebreaks }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% block explore_button %}<a class="button" href="#">{% trans "View All Stories for This Object" %}</a>{% endblock %}
</section>
{% endif %}
{% endblock %}
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js" type="text/javascript"></script>
{% endblock %}
