{% extends "storybase_user/detail_base.html" %}

{% load i18n %}

{% block content_page_class %}{{ block.super }} project{% endblock %}

{% block sidebar %}
{{ block.super }}
<a class="button gray" href="{% url "create_organization" %}" title="{% trans "Create your own Organization" %}">{% trans "Create your own Organization" %}</a>
{% endblock %}

{% block metadata_center_title %}{% trans "Organization Contributors" %}{% endblock %}

{% block metadata_omega %}
{% if object.projects.all %}
<h4>{% trans "Project" %}</h4>
<ul>
    {% for project in object.projects.all %}
    <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block explore_button %}<a class="button view-all-stories" href="{% url "explore_stories" %}?organizations={{ object.organization_id }}">{% trans "View All Stories for This Organization" %}</a>{% endblock %}
