{% extends "storybase_user/detail_base.html" %}

{% load i18n %}

{% block content_page_class %}{{ block.super }} project{% endblock %}

{% block metadata_center_title %}{% trans "Project Contributors" %}{% endblock %}

{% block metadata_omega %}
{% if object.organizations.all %}
<h4>{% trans "Contributing Organizations" %}</h4>
<ul>
    {% for organization in object.organizations.all %}
    <li><a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block explore_button %}<a class="button" href="{% url explore_stories %}?projects={{ object.project_id }}">{% trans "View All Stories for This Project" %}</a>{% endblock %}
