{% extends "twocol.html" %}

{% load i18n sekizai_tags menu_tags %}

{% block head_title %}{{ project.name }}{{ block.super }}{% endblock %}

{% block body_title %}{{ project.name }}{% endblock %}

{% block primary_content %}

{% if project.website_url %}
<h3>Website URL</h3>
<p><a href="{{ project.website_url }}">{{ project.website_url }}</a></p>
{% endif %}

{% if project.description %}
<h3>Description</h3>
{{ project.description|linebreaks }}
{% endif %}

{% if project.members.count %}
<h3>Members</h3>
<ul class="members">
{% for member in project.members.all %}
  <li>{{ member.username }}</li>
{% endfor %}
</ul>
{% endif %}

{% if project.organizations.count %}
<h3>Organizations</h3>
<ul class="organizations">
{% for organization in project.organizations.all %}
  <li>{{ organization.name }}</li>
{% endfor %}
</ul>
{% endif %}

{% if project.curated_stories.count %}
<h3>Stories</h3>
<ul class="stories">
{% for story in project.ordered_stories %}
  <li>{{ story.title }}</li>
{% endfor %}
</ul>
{% endif %}

<h3>Created</h3>
<p><time class="created">{{ project.created|date:"F j, Y" }}</time></p>

<h3>Last Edited</h3>
<p><time class="last-edited">{{ project.last_edited|date:"F j, Y g:i A" }} </time></p>
{% endblock %}
