{% extends "storybase_user/detail_base.html" %}
{% comment %}
Template for user profile page.
{% endcomment %}

{% load i18n storybase_tags %}

{% block content_page_class %}{{ block.super }} user{% endblock %}

{% block summary_left %}
<div class="grid_8 alpha">
    <section class="summary">
        {% if object.user == request.user %}
        {% url account_summary as connected_account_url %}
        <div class="alert alert-warning">
            <h3>{% trans "Your Profile Image" %}</h3>
            <p>{% blocktrans %}If you have <a href="{{ connected_account_url }}" title="Connected accounts">connected your Facebook account</a>, your Facebook profile image will be used for your {{ storybase_site_name }} profile.  Otherwise, your <a href="http://gravatar.com/" title="Gravatar">Gravatar</a> image will be used. If neither is available, a default image will be shown.{% endblocktrans %}</p>
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block summary_right %}
<div class="grid_2 omega">
    <section class="object-featured-asset">
        {% featured_asset object 150 %}
    </section>
</div>
{% endblock %}

{% block metadata_alpha %}
{% if object.user.organizations.all %}
<h4>{% block metadata_alpha_title %}{% trans "Organizations" %}{% endblock %}</h4>
<ul>
    {% for org in object.user.organizations.all %}    
    <li><a href="{{ org.get_absolute_url }}" title="{{ org.name }}">{{ org.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block metadata_center %}    
{% if object.user.projects.all %}
<h4>{% block metadata_center_title %}{% trans "Projects" %}{% endblock %}</h4>
<ul>
    {% for proj in object.user.projects.all %}    
    <li><a href="{{ proj.get_absolute_url }}" title="{{ proj.name }}">{{ proj.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block metadata_omega %}
{# No content in this block for now #}
{% endblock %}

{% block explore_button %}{# No content in this block for now #}{% endblock %}

