{% load i18n %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="{% url contact %}?success={{ request.path }}" method="post" {%if form.errors %}class="errors"{% endif %}>{% csrf_token %}
  <p class="instructions">{% trans "Fields marked with a * are required" %}</p>
  
  {{ form.as_p }}
  <input type="submit" value="{% trans "Submit" %}" />
</form>
