{# Tracking code and configuration for Google Analytics #}
{% if ga_property_id %}
{# Only display the script if a property ID has been defined #}
<script>
  window._gaq = [['_setAccount','{{ ga_property_id }}'],['_trackPageview']];
  {% if not debug %}
  {% if ga_domain_name %}
  window._gaq.push(['_setDomainName', '{{ ga_domain_name }}']);
  {% endif %}
  {% else %}
  {# For local development, ignore the domain name and just post the data #}
  window._gaq.push(['_setDomainName', 'none']);
  {% endif %}
  {# For extra debugging info, you can load ga_debug.js #}
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
{% endif %}
