{% load static cms_tags sekizai_tags menu_tags storybase_tags i18n compress %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block head_title %}{% page_attribute "page_title" %}{% endblock %} | {{ storybase_site_name }}</title>
  {% block extrameta %}{% endblock %}

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {% include "favicons.html" %}

  <!-- CSS: implied media=all -->
  {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css">{% endaddtoblock %}
  <!-- These styles make use of the awesome Font Awesome - http://fortawesome.github.com/Font-Awesome/ -->
  {% addtoblock "css" %}
  <script>
  // HACK: Force development mode for LESS, even when not on localhost
  var less = { env: 'development' };
  </script>
  {% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less">{% endaddtoblock %}
  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
  <!-- end CSS-->

  <script src="{{ STATIC_URL }}js/libs/respond.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/modernizr.custom.63515.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: [
          'Roboto:100,300,400,700,900',
          'Roboto Condensed:300,700'
        ]
      }
    });
  </script>
  {% block extrahead %}{% endblock %}
</head>

<body class="base-template {% block body_class %}{% endblock %}">
  {% cms_toolbar %}
	<header id="header">
		<div id="logo-search" class="container_12">
			<a href="/" class="logo" title="Return to Home">
				<span class="logo-text">{% block logo_text %}{% endblock %}</span>
				<img class="header-logo" src="{{ STATIC_URL }}img/balloon-logo.png" alt="{% trans "Floodlight: Tell a Story. Transform Your Community" %}" />
			</a>
			<div id="header-right">
                {% show_menu 0 0 0 0 "menu/menu_top.html" %}
				<div class="cl">&nbsp;</div>
                <form id="search" action="{% url "haystack_search" %}" method="get">
                    <input id="id_q" type="text" name="q" class="field" value="{{ query }}" placeholder="{% trans "Search" %} {{ storybase_site_name }}" />
                    <button type="submit" class="submit"></button>
					<div class="cl">&nbsp;</div>
				</form>
			</div>
			<div class="cl">&nbsp;</div>
		</div>

        <button type="button" id="menu-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>

		{% show_menu 0 0 0 0 "menu/megamenu.html" %}
		<div class="cl">&nbsp;</div>
	</header>
	<!-- end Header -->
	<div id="container">
		{% block above_content %}
		{% endblock %}
		<div id="main" role="main">
			<div class="container_12">
			{% placeholder base_content %}
			{% block base_content%}
			{% endblock %}
			</div>
		</div>
		{% block below_content %}{% endblock %}
	</div> <!--! end of #container -->

	<div class="footer">
		<div class="container_12">
			<div class="footer-right grid_3">
		            {% show_menu 0 0 0 0 "menu/menu_footer.html" %}
			</div>

			<div class="footer-left grid_6">
				<p>&copy;{% now "Y" %} {% trans "The Floodlight Project. All rights reserved." %}</p>
				<ul class="social">
                    {# TODO: Enable Facebook/RSS icons when they're ready #}
                    {% comment %}
					<li class="rss"><a href="#">rss</a></li>
                    {% endcomment %}
                    <li class="twitter"><a href="http://twitter.com/floodlightstory" title="{% trans "Twitter" %}">{% trans "Twitter" %}</a></li>
                    {% comment %}
					<li class="facebook"><a href="#">facebook</a></li>
                    {% endcomment %}
				</ul>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div><!-- #footer -->


  {% block bodyend %}{% endblock bodyend %}

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script>
  // Save the up-to-date version of jQuery to avoid conflicts with other
  // jQueries loaded by Django/Django CMS
  var jqLatest = jQuery;
  </script>

  {% addtoblock "js" %}
  <script>
    // Before loading all of our jQuery plugins, switch jQuery to our recent version
    jQuery = jqLatest;
    $ = jQuery;
  </script>
  {% endaddtoblock %}
  {% addtoblock "js" %}<script defer src="{{ STATIC_URL }}js/plugins.js"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/functions.js"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/shared.js"></script>{% endaddtoblock %}
  {% addtoblock "js" %}
  <script>
    Modernizr.load({
      test: Modernizr.input.placeholder,
      nope: '{{ STATIC_URL }}js/libs/polyfill.placeholder.js'
    });
  </script>
  {% endaddtoblock %}
  {% block extrajs %}{% endblock %}
  {% compress js %}
  <script src="{{ STATIC_URL }}js/jquery.storybasemegamenu.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.storybaseshare.js"></script>
  {% endcompress %}

  {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
  <!-- end scripts-->

  {% include "analytics.html" %}

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
