{% load cms_tags sekizai_tags menu_tags storybase_tags i18n %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block head_title %}{% page_attribute "page_title" %}{% endblock %} | {{ storybase_site_name }}</title>
  {% block extrameta %}{% endblock %}

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Favicons and touch icons -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/icon/favicon.ico" />
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL}}img/icon/apple-touch-icon-114x114-precomposed.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL}}img/icon/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL}}img/icon/apple-touch-icon-precomposed.png">  
  <!-- end Favicons and touch icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->

  <!-- custom 1000px grid based on 960 grid, http://960.gs -->
  {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css">{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css">{% endaddtoblock %}
  {% if debug %}
  {% addtoblock "css" %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/base.less">{% endaddtoblock %}
  {% else %}
  {% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compiled.css">{% endaddtoblock %}
  {% endif %}

  {% render_block "css" %}
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
       <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
  {% block extrahead %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% cms_toolbar %}
	<div id="header">
		<div class="shell">
			<a href="/" title="Return to Home">
				<span class="logo-text">{% block logo_text %}{% endblock %}</span>
				<img class="header-logo" src="{{ STATIC_URL }}img/header-logo.png" alt="{% trans "Floodlight: Tell a Story. Transform Your Community" %}" />
			</a>
			<div class="header-right">
				<ul class="top-nav">
					<li>{% language_chooser %}</li>
                    <li><a href="{% url contact %}">{% trans "Contact Us" %}</a></li>
                    <li><a href="#">{% trans "Help" %}</a></li>
					{% if user.is_authenticated %}
                    <li><a href="{% url account_summary %}">{% trans "Hi" %}, {{ user.first_name }}</a></li>
					{% else %}
					<li><a href="{% url auth_login %}">{% trans "Sign In" %}</a></li>
					{% endif %}
				</ul>
				<div class="cl">&nbsp;</div>
				<form id="search" action="" method="post">
					<input type="text" class="field" value="" />
					<input type="submit" class="submit" value="" />
					<div class="cl">&nbsp;</div>
				</form>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		{% include "megamenu.html" %}
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end Header -->
	<div id="container">
		{% block above_content %}
		{% endblock %}    
		<div id="main" role="main">
			<div class="shell">
			{% placeholder base_content %}
			{% block base_content%}
			{% endblock %}
			</div>
		</div>
		{% block below_content %}{% endblock %}
	</div> <!--! end of #container -->

	<div class="footer">
		<div class="shell">
			<div class="left">
				<p>{% trans "Copyright 2012 The Floodlight Project. All rights reserved." %}</p>
				<ul class="social">
					<li class="icon1"><a href="#">rss</a></li>
					<li class="icon2"><a href="#">twitter</a></li>
					<li class="icon3"><a href="#">facebook</a></li>
				</ul>
			</div>
			<div class="right">
				<ul>
					<li><a href="#"></a>{% trans "Home" %}</li>
					<li><a href="#">{% trans "About" %}</a></li>
					<li><a href="#">{% trans "Explore Floodlight" %}</a></li>
					<li><a href="#">{% trans "Get Involved" %}</a></li>
					<li class="middle"><a href="#">{% trans "News &amp; Updates" %}</a></li>
					<li class="last"><a href="#">{% trans "Privacy Policy" %}</a></li>
					<li class="last"><a href="#">{% trans "Licensing Information" %}</a></li>
				</ul>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div><!-- #footer -->
	

  {% block bodyend %}{% endblock bodyend %}

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script>
  // Save the up-to-date version of jQuery to avoid conflicts with other
  // jQueries loaded by Django/Django CMS
  var jqLatest = jQuery;
  </script>

  {% addtoblock "js" %}<script defer src="{{ STATIC_URL }}js/plugins.js"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/functions.js"></script>{% endaddtoblock %}
  {% if debug %}
  {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>{% endaddtoblock %}
  {% endif %}
  {% block extrajs %}{% endblock %}
  {% render_block "js" %}
  <!-- end scripts-->

  {% if ga_property_id %}
  <script>
      window._gaq = [['_setAccount','{{ ga_property_id }}'],['_trackPageview'],['_trackPageLoadTime']];
      {% if ga_domain_name %}
      window._gaq.push(['_setDomainName', '{{ ga_domain_name }}']);
      {% endif %}
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  {% endif %}

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
