{% extends "twocol.html" %}

{% load cms_tags i18n sekizai_tags menu_tags %}

{% block body_title %}{% page_attribute "page_title" %}{% endblock%}

{% block body_class %}twocol cms-twocol{% endblock %}

{% block sidebar %}
<ul class="sibling-nav">
	{% show_menu 1 100 0 1 %}
</ul>
{% endblock %}

{% block twocol-content %}
<section class="content-block">
	{% placeholder twocol-content or %}
	<h4 class="first">
		Floodlight is about two things: storytelling and positive change.<br>Our goal is to help you use the first one to achieve the second.
	</h4>
	<p>Welcome to Floodlight&mdash;a, community-powered storytelling project designed to drive social change by giving individuals and organizations the skills and tools to generate visually-compelling, data-supported stories that inspire people to act and illuminate community issues.</p>
	{% endplaceholder %}
</section>

{% block bottom-left-col %}
<div class="page-pull grid_5 alpha">
	<h4>{% placeholder page-pull-1-title or %}<a href="#">The Vision</a>{% endplaceholder %}</h4>
	{% placeholder page-pull-1 or %}
	<p><strong>We can’t change what we can’t see. But together our stories can illuminate issues that matter.</strong></p>

	<p>We believe in the inherent power, desire and creativity of people to enlighten the others in their community about the critical issues that affect us all. We also believe that thriving communities hinge on full citizen engagement.</p>

	<p>Floodlight strives to empower as many community members as possible to translate their own firsthand, on-the-ground experiences and knowledge into multi-media and data-rich stories to that can direct action to improve people’s lives.</p>
	{% endplaceholder %}
</div>
{% endblock bottom-left-col %}
{% block bottom-right-col %}
<div class="page-pull grid_5 omega">
	<h4>{% placeholder page-pull-2-title or %}<a href="#">Our Partners</a>{% endplaceholder %}</h4>
	{% placeholder page-pull-2 or %}
	<p><strong>Created By impassioned storytellers,<br> data geeks and community change agents.</strong></p>

	<p>Floodlight was created by a team of impassioned social change agents, investigative journalists, data visualization experts and technology gurus with the goal of helping community members create and share inspiring, data-driven stories. Through the use of a free, open source platform, Floodlight helps residents illuminate their own issues while contributing to a larger unfolding story about our community.</p>
	<p><a href="#">Read More</a></p>
	{% endplaceholder %}
</div>
{% endblock bottom-right-col %}

{% block bottom-single-col %}
<div class="page-pull grid_10 alpha omega">
	<h4>{% placeholder page-pull-3-title or %}<a href="#">How it Works</a>{% endplaceholder %}</h4>
	{% placeholder page-pull-3 or %}
	<p>(content forthcoming) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	{% endplaceholder %}
</div>
{% endblock %}

{% endblock twocol-content %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js" type="text/javascript"></script>
{% endblock %}
