{% extends "cms_twocol.html" %}
{% load cms_tags i18n sekizai_tags menu_tags storybase_cms_tags %}

{% block twocol-content %}
<section class="content-block">
    {% comment %}
    A description of the section. If content isn't specified, it just uses
    the Page's teaser.
    {% endcomment %}
    {% placeholder description or %}
    {% with teaser=current_page.get_title_obj.teaserextension.teaser %}
    {% if teaser %}
    <p class="description teaser">{{ teaser }}</p>
    {% endif %}
    {% endwith %}
    {% endplaceholder %}

    {% placeholder subpages or %}
    {% comment %}
    If the page has children, list them along with their teasers in two 
    columns
    {% endcomment %}
    {% if current_page.children.count %}
    <div class="page-children grid_10 alpha omega">
      {% for child_page in current_page.children.all %}
      {% if child_page.published %}
      <div class="child-page grid_5 {% cycle 'alpha' 'omega' %}">
        {% page_attribute "title" child_page as title %}
        <h3><a href="{% page_url child_page %}" title="{{ title }}">{{ title }}</a></h3>
        {% with teaser=child_page.get_title_obj.teaserextension.teaser %}
        {% if teaser %}
        <p class="teaser">{{ teaser }}</p>
        {% endif %}
        {% endwith %}
      </div> {# /.child-page #}
      {% endif %}
    {% endfor %}
    </div> {# /.page-children #}
    {% endif %}
    {% endplaceholder %}

    {% placeholder twocol-content %}
</section>
{% endblock twocol-content %}
