{% extends "twocol.html" %}

{% load cms_tags i18n sekizai_tags menu_tags %}

{% block body_title %}{% page_attribute "page_title" %}{% endblock%}

{% block body_class %}twocol cms-twocol{% endblock %}

{% block sidebar %}
{% block sidebar-menu %}
<ul class="sibling-nav">
    {% show_menu 0 100 0 1 %}
</ul>
{% endblock %}
{% placeholder "sidebar" %}
{% endblock %}

{% block twocol-content %}
<section class="content-block">
        {% placeholder description or %}
        {% page_attribute "teaser" as teaser %}
        {% if teaser %}
        <p class="teaser">{{ teaser }}</p>
        {% endif %}
        {% endplaceholder %}
	{% placeholder twocol-content or %}
	<h4 class="first">
		Floodlight is about two things: storytelling and positive change.<br>Our goal is to help you use the first one to achieve the second.
	</h4>
	<p>Welcome to Floodlight&mdash;a community-powered storytelling project designed to drive social change by giving individuals and organizations the skills and tools to generate visually-compelling, data-supported stories that inspire people to act and illuminate community issues.</p>
	{% endplaceholder %}
</section>

{% block bottom-left-col %}
<div class="page-pull grid_5 alpha">
	{% placeholder page-pull-1 %}
</div>
{% endblock bottom-left-col %}
{% block bottom-right-col %}
<div class="page-pull grid_5 omega">
	{% placeholder page-pull-2 %}
</div>
{% endblock bottom-right-col %}

{% block bottom-single-col %}
<div class="page-pull grid_10 alpha omega">
	{% placeholder page-pull-3 %}
</div>
{% endblock %}



{% endblock twocol-content %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js" type="text/javascript"></script>
{% endblock %}
