{% extends "cms_twocol.html" %}
{% comment %}
Version of the cms_twocol.html template with some extra javascript for
expanding/collapsing FAQ questions.
{% endcomment %}

{% load cms_tags i18n sekizai_tags menu_tags %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js" type="text/javascript"></script>
    <script type="text/javascript">
    (function ($) {
      $(document).ready(function() {
        $('.faq-question').addClass('icon-chevron-right');
        $('.faq-question').addClass('is-collapsed').click(
          function() {
            $(this).toggleClass('is-collapsed is-expanded').next().toggle('fast');
            $(this).toggleClass('icon-chevron-right icon-chevron-down');
            return false;
          }
        ).next().hide();
      });
    })(jQuery);
    </script>
{% endblock %}
