{% extends "base.html" %}
{% load i18n cms_tags sekizai_tags i18n story organization project storybase_featured %}

{% block extrameta %}
<meta name="author" content="The Piton Foundation">
<meta name="title" content="{{ storybase_site_name }}" />
<meta name="description" content="{{ storybase_site_description }}">

<!-- Open Graph Protocol tags -->
<meta property="og:title" content="{{ storybase_site_name }}" />
<meta property="og:url" content="{{ protocol }}://{{ domain }}/" />
<meta property="og:description" content="{{ storybase_site_description }}" />
<meta property="og:image" content="{{ storybase_site_logo }}" />
{% endblock %}

{% block above_content %}
<div id="banner">
  <div class="intro"></div>
</div>
{% endblock %}

{% block body_class %}{{ request.current_page.reverse_id }} homepage{% endblock %}

{% block logo_text %}<h1>Floodlight</h1>{% endblock %}

{% block base_content %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/select2/select2.css">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/css/tooltipster.css">{% endaddtoblock %}
<div class="content-page container_12">
  <section class="content-block homepage-header">
    <div class="grid_6 homepage-header-left">
      <h1 class="no-line">
        {% placeholder header-content or %}
          {% trans "Everyone's got a story to tell. Floodlight makes yours shine." %}
        {% endplaceholder %}
      </h1>
      <p>
        {% placeholder header-sub-content or %}
          {% trans "Floodlight is an easy tool to create, post and share stories about community issues to inspire people to act." %}
        {% endplaceholder %}
      </p>
      <p><a href="{% page_url "about" %}">{% trans "Find out more" %}&hellip;</a></p>
      <p>
        <a class="button create-your-story" href="{% url "story_builder" %}">
          <strong>{% trans "Create Your Story" %}</strong><br>
          ({% trans "requires a free Floodlight account" %})
        </a>
      </p>
      <h2 class="title">Explore Floodlight</h2>
      {% placeholder search or %}
      <form action="{% url 'haystack_search' %}" method="get">
        <input required
               name="q"
               type="text"
               placeholder="Search by keyword"
               autocomplete="off"/>
        <input type="submit" value="{% trans "Search" %}" />
      </form>
      {% endplaceholder %}
      <p>
        <b>Are you a Super Reader? Floodlight Super Readers</b> are Denver Foundation
        donors, who have the ability to boost stories through
        <a href="{% page_url 'badges' %}">assigning special badges</a> that call out great ideas, inspiring
        people, and projects that they have funded.
      </p>
      <a href="/en/accounts/login/">
        <button type="button" class="btn btn-lg sb-btn-action sb-btn-action-light shadow-2">Super Readers, Read and Share Here</button>
      </a>
    </div>
    <div class="grid_6 homepage-header-right">
      <h2>{% trans "Spotlight" %}</h2>
      <div class="flexslider featured-on-floodlight">
        {% featured_items %}
      </div>
    </div>
  </section>
  <section class="content-block last supporting-foundations">
    <h1 class="no-line">{% trans "Supporting Foundations" %}</h1>
    {% placeholder supporting-foundations or %}
    <div class="grid_3">
      <ul class="foundations">
        <li><a href="#" class="active">The Piton Foundation</a></li>
        <li><a href="#">The Denver Foundation</a></li>
        <li><a href="#">The Knight Foundation</a></li>
      </ul>
    </div>
    <div class="grid_9 flexslider">
      <ul class="slides">
        <li>
          <div class="image">
            <a href="{% page_url "partners" %}">
              <img src="{{ STATIC_URL }}img/piton-foundation-logo.jpg" alt=""/>
            </a>
          </div>
          <div class="text">
            <p>The Piton Foundation is a private, operating foundation established in 1976 by Denver oil man Sam Gary. The foundation provides opportunities for families and children in Denver to move from poverty and dependence to self-reliance. For more, visit <a href="http://piton.org">Piton.org</a>.</p>
          </div>
          <div class="cl"> </div>
        </li>
        <li>
          <div class="image">
            <a href="{% page_url "partners" %}">
              <img src="{{ STATIC_URL }}img/denver-foundation-logo.gif" alt=""/>
            </a>
          </div>
          <div class="text">
            <p>Founded in 1925, The Denver Foundation is a community foundation serving Metro Denver, with the mission of inspiring people and mobilizing resources to strengthen the community.  The Denver Foundation three primary functions: stewarding an endowment to invest in meeting current and future needs for the community; managing more than 900 charitable funds for individuals, families and businesses; and working with the community and philanthropic leaders to address the core challenges that face Metro Denver. For more, visit <a href="http://denverfoundation.org">DenverFoundation.org</a>.</p>
          </div>
          <div class="cl"> </div>
        </li>
        <li>
          <div class="image">
            <a href="{% page_url "partners" %}">
              <img src="{{ STATIC_URL }}img/knight-foundation-logo.jpg" alt=""/>
            </a>
          </div>
          <div class="text">
            <p>Knight Foundation supports transformational ideas that promote quality journalism, advance media innovation, engage communities and foster the arts. The foundation believes that democracy thrives when people and communities are informed and engaged. For more, visit <a href="http://knightfoundation.org">KnightFoundation.org</a>.</p>
          </div>
          <div class="cl"> </div>
        </li>
      </ul>
    </div>
    {% endplaceholder %}
  </section>
</div>
{% endblock base_content %}

{% block extrajs %}
  <script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js"></script>
  <script src="{{ STATIC_URL }}js/libs/select2/select2.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/tooltipster-2.1.4/js/jquery.tooltipster.min.js"></script>
  <script>
    jQuery(function($) {
      $('select').select2({allowClear: true})
        .each(function() {
          var select2 = $(this).data('select2');
          var title = $(this).attr('title');
          var tooltipOptions;
          if (title) {
            select2.container.attr('title', title);
            tooltipOptions = _.extend({
              overrideText: title,
              position: 'bottom'
            }, options);
            select2.container.tooltipster(tooltipOptions);
          }
      });
    });
  </script>
{% endblock %}
