{% extends "base.html" %}
{% load cms_tags i18n story organization project storybase_featured %}

{% block extrameta %}
<meta name="author" content="The Piton Foundation">
<meta name="title" content="{{ storybase_site_name }}" />
<meta name="description" content="{{ storybase_site_description }}">

<!-- Open Graph Protocol tags -->
<meta property="og:title" content="{{ storybase_site_name }}" />
<meta property="og:url" content="{{ protocol }}://{{ domain }}/" />
<meta property="og:description" content="{{ storybase_site_description }}" />
<meta property="og:image" content="{{ storybase_site_logo }}" />
{% endblock %}

{% block above_content %}
{% banner "random" %}
{% endblock %}

{% block body_class %}{{ request.current_page.reverse_id }} homepage{% endblock %}

{% block logo_text %}<h1>Floodlight</h1>{% endblock %}

{% block base_content %}
<div class="content-page container_12">
  <section class="content-block homepage-header">
    <div class="grid_6">
      <h1 class="no-line">
        {% placeholder header-content or %}
          {% trans "Everyone's got a story to tell. Floodlight makes yours shine." %}
        {% endplaceholder %}
      </h1>
      <p>
        {% placeholder header-sub-content or %}
          {% trans "Floodlight is an easy tool to create, post and share stories about community issues to inspire people to act." %}
        {% endplaceholder %}
      </p>
      <p><a href="{% page_url "about" %}">{% trans "Find out more" %}&hellip;</a></p>
      <p>
        <a class="button create-your-story" href="{% url story_builder %}">
          <strong>{% trans "Create Your Story" %}</strong><br>
          ({% trans "requires a free Floodlight account" %})
        </a>
      </p>
      <p>{% trans "Explore what others are posting on Floodlight" %}:</p>
      <ul class="explore-others-posts">
        <li>
          <a href="{% url explore_stories %}"><img src="{{ STATIC_URL }}img/homepage-story-image.jpg"></a>
          <h3><a href="{% url explore_stories %}">{% trans "Stories" %}</a></h3>
          <p>
            {% trans "From glimpses to in-depth explorations, see your community in a new light." %}
          </p>
        </li>
        <li>
          <a href="{% url project_list %}"><img src="{{ STATIC_URL }}img/homepage-project-image.jpg"></a>
          <h3><a href="{% url project_list %}">{% trans "Projects" %}</a></h3>
          <p>
            {% trans "A project is a collection of stories about a common theme, place, issue or event." %}
          </p>
        </li>
        <li>
          <a href="{% url organization_list %}"><img src="{{ STATIC_URL }}img/homepage-organization-image.jpg"></a>
          <h3><a href="{% url organization_list %}">{% trans "Organizations" %}</a></h3>
          <p>
            {% trans "An organization is a group of people creating stories together." %}
          </p>
        </li>
      </ul>
    </div>
    <div class="grid_6">
      <div class="flexslider featured-on-floodlight">
        {% featured_items %}
      </div>
    </div>
  </section>
  <section class="content-block latest-activity">
    <div class="grid_4">
      <h2>{% trans "Latest Stories" %}</h2>
      {% latest_stories %}
    </div>
    <div class="grid_4">
      <h2>{% trans "Latest Organizations" %}</h2>
      {% latest_organizations %}
    </div>
    <div class="grid_4">
      <h2>{% trans "Latest Projects" %}</h2>
      {% latest_projects %}
    </div>
  </section>
  <section class="content-block last supporting-foundations">
    <h1 class="no-line">{% trans "Supporting Foundations" %}</h1>
    {% placeholder supporting-foundations or %}
    <div class="grid_3">
      <ul class="foundations">
        <li><a href="#" class="active">The Piton Foundation</a></li>
        <li><a href="#">The Denver Foundation</a></li>
        <li><a href="#">The Knight Foundation</a></li>
      </ul>
    </div>
    <div class="grid_9 flexslider">
      <ul class="slides">
        <li>
          <div class="image">
            <a href="{% page_url "partners" %}">
              <img src="{{ STATIC_URL }}img/piton-foundation-logo.jpg" alt=""/>
            </a>
          </div>
          <div class="text">
            <p>The Piton Foundation is a private, operating foundation established in 1976 by Denver oil man Sam Gary. The foundation provides opportunities for families and children in Denver to move from poverty and dependence to self-reliance. For more, visit <a href="http://piton.org">Piton.org</a>.</p>
          </div>
          <div class="cl"> </div>
        </li>
        <li>
          <div class="image">
            <a href="{% page_url "partners" %}">
              <img src="{{ STATIC_URL }}img/denver-foundation-logo.gif" alt=""/>
            </a>
          </div>
          <div class="text">
            <p>Founded in 1925, The Denver Foundation is a community foundation serving Metro Denver, with the mission of inspiring people and mobilizing resources to strengthen the community.  The Denver Foundation three primary functions: stewarding an endowment to invest in meeting current and future needs for the community; managing more than 900 charitable funds for individuals, families and businesses; and working with the community and philanthropic leaders to address the core challenges that face Metro Denver. For more, visit <a href="http://denverfoundation.org">DenverFoundation.org</a>.</p>
          </div>
          <div class="cl"> </div>
        </li>
        <li>
          <div class="image">
            <a href="{% page_url "partners" %}">
              <img src="{{ STATIC_URL }}img/knight-foundation-logo.jpg" alt=""/>
            </a>
          </div>
          <div class="text">
            <p>Knight Foundation supports transformational ideas that promote quality journalism, advance media innovation, engage communities and foster the arts. The foundation believes that democracy thrives when people and communities are informed and engaged. For more, visit <a href="http://knightfoundation.org">KnightFoundation.org</a>.</p>
          </div>
          <div class="cl"> </div>
        </li>
      </ul>
    </div>
    {% endplaceholder %}
  </section>
</div>
{% endblock base_content %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js" type="text/javascript"></script>
{% endblock %}
