{% extends "base.html" %}
{% load cms_tags i18n story projects %}

{% block extrameta %}
<meta name="author" content="The Piton Foundation">
<meta name="title" content="{% trans "The Citizen Atlas" %}"/>
<meta name="description" content="{% trans "The Citizen Atlas is a powerful story-building website that enables community change makers to inspire action and advance their issues through more substantive, engaging and persuasive data-driven storytelling." %}">

<!-- Open Graph Protocol tags -->
<meta property="og:title" content="{% trans "The Citizen Atlas" %}" />
<meta property="og:description" content="{% trans "The Citizen Atlas is a powerful story-building website that enables community change makers to inspire action and advance their issues through more substantive, engaging and persuasive data-driven storytelling." %}" />
{% endblock %}

{% block above_content %}
{% placeholder banner %}
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block base_content %}

		<div class="intro">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<h2><span>{% placeholder intro-carousel-title-1 or %}{% trans "Tell your story. Transform our community." %}{% endplaceholder %}</span></h2>
						{% placeholder intro-carousel-content-1 or %}
						<p>
                        {% trans "Your story matters. Without it, nothing happens. Floodlight will help you build, tell and share  powerful stories that will make community change possible." %} <a href="{% url story_builder %}"><em>{% trans "Create your story now." %}</em></a> {% trans "Or" %}, <a href="{% url explore_stories %}"><em>{% trans "see the stories others are sharing." %}</em>
						</p>
						{% endplaceholder %}
						<div class="page-nav">
							<ul>
                                <li><a href="#" class="left-nav" rel="2">{% trans "Explore Stories" %}</a></li>
                                <li><span class="sep"></span><a href="#" class="right-nav" rel="2">{% trans "Build a Story" %}</a></li>
							</ul>
							<div class="cl"> </div>
						</div>
					</li>
					<li>
						<h2><span>{% placeholder intro-carousel-title-2 or %}{% trans "Build a breakthrough story." %}{% endplaceholder %}</span></h2>
						{% placeholder intro-carousel-content-2 or %}
						<p>
                        {% trans "Take your storytelling to the next level. Create visually compelling stories with photos, videos, data and more. Learn how to tell better stories by leveraging public data in creative ways." %} <a href="{% url story_builder %}"><em>{% trans "Create your story now." %}</em></a> {% trans "Or" %}, <a href="#">{% trans "build your storytelling skills" %}</a>
                           
						</p>
						{% endplaceholder %}
						<div class="page-nav">
							<ul>
                                <li><a href="#" class="left-nav" rel="2">{% trans "Your Story Matters" %}</a></li>
                                <li><span class="sep"></span><a href="#" class="right-nav" rel="2">{% trans "Explrore Stories" %}</a></li>
							</ul>
							<div class="cl"> </div>
						</div>
					</li>
					<li>
                    	<h2><span>{% placeholder intro-carousel-title-3 or %}{% trans "See and show your community in a new light." %}{% endplaceholder %}</span></h2>
						{% placeholder intro-carousel-content-3 or %}
						<p>
                        {% trans "Explore the stories others are sharing and discover new meaning in your neighborhood. Floodlight is where stories become movements." %} <strong><em>{% trans "Because what we can’t see, we can’t change." %}</em></strong>
						</p>
						{% endplaceholder %}
						<div class="page-nav">
							<ul>
                                <li><a href="#" class="left-nav" rel="2">{% trans "Build a Story" %}</a></li>
                                <li><span class="sep"></span><a href="#" class="right-nav" rel="2">{% trans "Your Story Matters" %}</a></li>
							</ul>
							<div class="cl"> </div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<h2><span>Featured on Floodlight</span></h2>
		<div class="flexslider-holder">
			<div class="flexslider full-width">
				{% placeholder special-content %}
			</div>
		</div>
		<div class="flexslider-holder">
			<div class="flexslider col left featured-projects">
				<h3><span>Featured Projects</span></h3>
				{% featured_projects %}
			</div>
			<div class="flexslider col right featured-stories">
				<h3><span>Featured Stories</span></h3>
				{% featured_stories %}
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<div class="bottom">
			<h2><span>Supporting Foundations</span></h2>
			{% placeholder supporting-foundations %}
		</div>

{% comment %}
<!--
  <div class="sixcol">
    {% placeholder column_one %}
  </div>
  <div class="sixcol last">
    {% placeholder column_two %}
    {#{% include "addthis_widget_small.html" %}#}
  </div>
-->
{% endcomment %} 
{% endblock %}

{% block extrajs %}
	<script src="{{ STATIC_URL }}js/libs/jquery.cycle.all.min.js"></script>
	<script src="{{ STATIC_URL }}js/libs/jquery.flexslider.js" type="text/javascript"></script>
{% endblock %}
