{% load i18n cms_tags storybase_menu %}
{% if user.is_authenticated %}
{% storybase_menu "my_account" "megamenu_account_menu.html" request.path %}
{% endif %}

<div class="megamenu shell navigation" id="navigation">
  <ul>
    <li class="nodd">
      <a class="top-nav homepage" href="/">{% trans "Home"|upper %}</a>
    </li>
    <li>
      <a class="top-nav story-builder" href="{% page_url "story-builder-landing" %}">{% trans "Build a story"|upper %}<em></em></a>
      <div class="dd twocol">
        <div class="dd-col col1">
          <h6><a href="{% page_url "story-builder-landing" %}">{% trans "Take your storytelling to the next level." %}</a></h6>
          <p>
            {% blocktrans %}
            Create an amazing story in minutes. Start by choosing a template -- like photo voice, explainer, or data story. Customize it with your text, photos, video, audio, data and more. Include a call to action to inspire your readers to get involved.
            {% endblocktrans %}
          </p>
          <p><a href="{% page_url "story-builder-landing" %}">{% trans "Learn more" %}&hellip;</a></p>
        </div>
        <div class="dd-col col2">
          <a class="create-your-story" href="{% url story_builder %}">Create Your Story</a>
        </div>
      </div>
    </li>
    <li>
      <a class="top-nav explorer" href="{% url explore_stories %}">{% trans "Explore Stories"|upper %}<em></em></a>
      <div class="dd threecol">
        <div class="dd-col col1">
                    <h6><a href="{% url explore_stories %}">{% trans "Browse Stories" %}</a></h6>
          <p>
            {% blocktrans %}
            Browse and filter Floodlight stories by topic, location, language, project and organization.
            {% endblocktrans %}
          </p>
        </div>
        <div class="dd-col col2">
                    <h6><a href="{% url organization_list %}">{% trans "Organizations" %}</a></h6>
          <p>
            {% blocktrans %}
            Organizations are groups of people creating stories together. They can be non-profits, school groups, neighborhoods, or any storytellers who share a common goal.
            {% endblocktrans %}
          </p>
          <p><a href="{% url create_organization %}">{% trans "Create an Organization" %}</a></p>
        </div>
        <div class="dd-col col3">
                    <h6><a href="{% url project_list %}">{% trans "Projects" %}</a></h6>
          <p>
            {% blocktrans %}
            Projects are collections of stories about a common theme, place, issue, event or movement. They can be open to contributions from any Floodlight user, or constrained to a group of authors.
            {% endblocktrans %}
          </p>
          <p><a href="{% url create_project %}">{% trans "Create a Project" %}</a></p>
        </div>
      </div>
    </li>
    <li>
      <a class="top-nav grow-your-skills" href="{% page_url "grow-your-skills" %}">{% trans "Grow Your Skills"|upper %}<em></em></a>
      <div class="dd fourcol">
        <div class="dd-col col1">
          <h6><a href="{% page_url "grow-your-skills" %}">{% trans "Skills" %}</a></h6>
          <ul>
            {# TODO: Wire these up once content is available #}
            <li><a href="#">{% trans "Elements of Storytelling" %}</a></li>
            <li><a href="#">{% trans "Reporting and Information Gathering" %}</a></li>
            <li><a href="#">{% trans "Photos and Images" %}</a></li>
            <li><a href="{% page_url "data-analysis-and-visualization" %}">{% trans "Data Analysis and Visualization" %}</a></li>
            <li><a href="#">{% trans "Video Storytelling" %}</a></li>
            <li><a href="#">{% trans "Audio Storytelling" %}</a></li>
            <li><a href="#">{% trans "Creative Commons" %}</a></li>
            {# currently unused: #}
            {% comment %}
            <li><a href="#">{% trans "Graphics, Drawings and Diagrams" %}</a></li>
            <li><a href="#">{% trans "Making and Using Maps" %}</a></li>
            {% endcomment %}
          </ul>
        </div>
        <div class="dd-col col2-4">
          <p class="legend">
            {% blocktrans %}
            Storytelling comes naturally to all of us. But we can always improve with practice. Here, you’ll find online tools and tutorials to help you build your skills.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </li>
    <li>
      <a class="top-nav news" href="{% page_url "news" %}">{% trans "News & Updates"|upper %}<em></em></a>
      <div class="dd fourcol">
        <div class="dd-col col1">
	  <h6><a href="{% page_url "news" %}">{% trans "News & Updates" %}</a></h6>
          <ul>
	    <li><a href="{% page_url "updates" %}">{% trans "Latest Updates" %}</a></li>
            <li><a href="{% page_url "story-raisings" %}">{% trans "Story Raisings" %}</a></li>
            <li><a href="{% page_url "workshops" %}">{% trans "Storytelling Workshops" %}</a></li>
          </ul>
        </div>
        <div class="dd-col col2-4">
          <p class="legend">
            {% blocktrans %}
            Like a good story, Floodlight is a work in progress. Here, you’ll find information about improvements we’re making to the site, storytelling events we’re holding in the community, storytelling advice, contests, and more.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </li>
    <li class="last">
      <a class="top-nav about" href="/about/">{% trans "About"|upper %}<em></em></a>
      <div class="dd fourcol">
        <div class="dd-col col1">
          <h6><a href="{% page_url "about"%}">{% trans "About" %}</a></h6>
          <ul>
            <li><a href="{% page_url "about"%}#vision">{% trans "The Vision" %}</a></li>
            <li><a href="#">{% trans "Community Values" %}</a></li>
            <li><a href="{% page_url "partners" %}">{% trans "Partners" %}</a></li>
            <li><a href="{% page_url "about" %}#how-it-works">{% trans "How it Works" %}</a></li>
          </ul>
        </div>
        <div class="dd-col col2">
          <p>
            {% blocktrans %}
            Your story matters. Without it, nothing happens. Floodlight is a <strong>tool</strong> for creating meaningful stories on the web that are visually compelling, supported by facts and encourage community action. Floodlight is also a <strong>place</strong> to share stories and uncover connections between them.
            {% endblocktrans %}
          </p>
        </div>
        <div class="dd-col col3">
          <h6>{% trans "On Floodlight, you can&hellip;" %}</h6>
          <p>
            {% blocktrans %}
            <strong>Build</strong> a breakthrough story using photos, videos, data and more.<br>
            <strong>Learn</strong> how to be a better storyteller through training and resources.<br>
            <strong>Read</strong> and contribute to the stories others are sharing.
            {% endblocktrans %}
          </p>
        </div>
        <div class="dd-col col4">
          <p>
            {% blocktrans %}
            By connecting <em>storytellers</em>, <em>story sharers</em> and <em>story readers</em>, Floodlight is a project to brighten, inform and transform community though the power of story.
            {% endblocktrans %}
          </p>
          
        </div>
      </div>
    </li>
  </ul>
</div>
