<div id="navigation">
	<ul> 
		<li class="nodd"><a class="active" href="{{ SITE_URL }}">HOME</a></li>
		<li><a href="{{ SITE_URL }}build">BUILD A STORY<em></em></a>
			<div class="dd onecol">
				<div class="dd-col col1-2">
					<h6>Take your storytelling to the next level.</h6>
					<p>
						Create an amazing story in minutes. Start by choosing a template -- like photo voice, explainer, or data story. Customize it with your text, photos, video, audio, data and more. Include a call to action to inspire your readers to get involved.
					</p>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</li>
		<li><a href="{{ SITE_URL }}explore">EXPLORE FLOODLIGHT<em></em></a>
			<div class="dd threecol">
				<div class="dd-col col1">
					<h6><a href="{{ SITE_URL }}explore">Browse Stories</a></h6>
					<p>
						Browse and filter Floodlight stories by topic, location, language, project and organization.
					</p>
				</div>
				<div class="dd-col col2">
					<h6><a href="{{ SITE_URL }}organizations">Organizations</a></h6>
					<p>
						Organizations are groups of people creating stories together. They can be non-profits, school groups, neighborhoods, or any storytellers who share a common goal.
					</p>
					<p><a href="#">Create an Organization</a></p>
				</div>
				<div class="dd-col col3">
					<h6><a href="#">Projects</a></h6>
					<p>
						Projects are collections of stories about a common theme, place, issue, event or movement. They can be open to contributions from any Floodlight user, or constrained to a group of authors.
					</p>
					<p><a href="#">Create a Project</a></p>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</li>
		<li><a href="#">GROW YOUR SKILLS<em></em></a>
			<div class="dd fourcol" style="min-height:270px;">
				<div class="dd-col col1">
					<h6><a href="#">Learn how to be a better storyteller</a></h6>
					<p>
						Storytelling comes naturally to all of us. But we can always improve with practice. Here you’ll find information about in-person trainings and online tools and tutorials to help you build your skills.
					</p>
				</div>
				<div class="dd-col col2">
					<h6><a href="#">Storytelling Workshops</a></h6>
					<ul>
						<li><a href="#">Online training materials</a></li>
						<li><a href="#">Upcoming sessions</a></li>
					</ul>
				</div>
				<div class="dd-col col3">
					<h6><a href="#">Storytelling Tips</a></h6>
					<ul>
						<li><a href="#">Elements of Storytelling</a></li>
						<li><a href="#">Reporting and Information Gathering</a></li>
						<li><a href="#">Data Analysis and Visualization</a></li>
						<li><a href="#">Making and Using Maps</a></li>
						<li><a href="#">Photos and Images</a></li>
						<li><a href="#">Video Storytelling</a></li>
						<li><a href="#">Audio Storytelling</a></li>
						<li><a href="#">Graphics, Drawings and Diagrams</a></li>
					</ul>
				</div>
				<div class="dd-col col4">
					<h6><a href="#">Resources</a></h6>
					<p>Here you’ll find answers to commonly asked questions and links to commonly used tools, like photo release forms.</p>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</li>
		<li><a href="#">ABOUT<em></em></a>
			<div class="dd fourcol">
				<div class="dd-col col1">
					<ul>
						<li><a href="#">What is Floodlight?</a></li>
						<li><a href="#">The Vision</a></li>
						<li><a href="#">Supporting Foundations and Partners</a></li>
						<li><a href="#">How it Works</a></li>
					</ul>
				</div>
				<div class="dd-col col2">
					<p>
						Your story matters. Without it, nothing happens. Floodlight is a <strong>tool</strong> for creating meaningful stories on the web that are visually compelling, supported by facts and encourage community action. Floodlight is also a <strong>place</strong> to share stories and uncover connections between them.
					</p>
				</div>
				<div class="dd-col col3">
					<h6>On Floodlight, you can&hellip;</h6>
					<p>
						<strong>Build</strong> a breakthrough story using photos, videos, data and more.<br>
						<strong>Learn</strong> how to be a better storyteller through training and resources.<br>
						<strong>Read</strong> and contribute to the stories others are sharing.
					</p>
				</div>
				<div class="dd-col col4">
					<p>
						By connecting <em>storytellers</em>, <em>story sharers</em> and <em>story readers</em>, Floodlight is a project to brighten, inform and transform community though the power of story.
					</p>
					
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</li>
		{% comment %}
		<li class="last"><a href="#">NEWS &amp; UPDATES<em></em></a>
			<div class="dd">
				<div class="dd-col col1">
					<h6><a href="#">Browse by Tags</a></h6>
				</div>
				<div class="dd-col col2">
					<h6><a href="#">Contributing Organizations</a></h6>
					<ul>
						<li><a href="#">The Piton Foundation</a></li>
						<li><a href="#">The Denver Foundation</a></li>
						<li><a href="#">Colorado Center for <br />Community Development</a></li>
					</ul>
				</div>
				<div class="dd-col col3">
					<h6><a href="#">Special Projects</a></h6>
					<ul>
						<li><a href="#">The Children’s Corridor</a></li>
						<li><a href="#">Hinkley High School</a></li>
					</ul>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</li>
		{% endcomment %}
	</ul>
</div>