{% extends "base.html" %}

{% load i18n sekizai_tags menu_tags %}

{% block above_content %}
{% show_breadcrumb "breadcrumbs.html" %}
{% endblock %}

{% block body_class %}twocol{% endblock %}

{% block base_content %}


		<div class="content-page twocol {% block content_page_class %}generic{% endblock %} container_12">
			{% block body_title_markup %}
			<h1><span>{% block body_title %}{% endblock%}</span></h1>
			{% endblock %}
			
			<section class="sidebar grid_2 alpha">
				{% block sidebar %}{% endblock %}
			</section>
			<div class="grid_10 omega">
				<section class="twocol-content">
					{% block twocol-content %}{% endblock %}
				</section>
			</div>
		</div>

{% endblock %}
