
* {
    box-sizing: border-box;
}

body {

}

.focus-text {
    font-size: 18px;
}

/* button that can be used for a call to action */
.sb-btn-action {
    background-color: #f99033;
    color: #ffffff;
}

.sb-btn-action:hover {
    color: #ffffff;
    background-color: #f99033;
}

.intro {
    background: url(/static/img/skyline.jpg) no-repeat center center;
    background-size: cover;
    height: 700px;
}

.about {
    background-color: #f3f3f3;
    border-radius: 20px;
    opacity: 0.97;
    padding: 30px;
    max-width: 500px;
    position: relative;
    left: 30px;
    top: 30px;
}

.about .sb-btn-action {
    opacity: 1.0;
    margin-left: 60%;

}

.stories-featured {
    height: 400px;
}

.title {
    text-align: center;
    font-size: 90px;
}

.spotlight {


}

.story-wrapper {
    background-color: #EAEAEA;
    padding: 30px;
    min-height: 300px;
}

.story-preview {
    padding: 15px;
    overflow: hidden;
}

.story-preview h4 {
    padding: 10px;
}

.story-preview img {
    margin-right: 40px;
    float: left;
}

.excerpt {
    margin-top: 20px;
}


.explore {
    background-color: #ffa000;
    background-image: linear-gradient(
            to right,
            #ffa000 0%, #ffa000 33%, #ff8f00 33%, #ff8f00 66%, #ff6f00 66%
        );
}

.explore .title {
    color: white;
}

.super-search {
    margin: 100px;
}

.super-search input, .super-search  button {
    height: 90px;
    font-size: 30px;
    text-align: center;

}

.super-search button {
    padding-left: 50px;
    padding-right: 50px;
}