
* {
    box-sizing: border-box;
}

body {

}

/* shadows with differing levels, the higher the level the higher the z-index should be */

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* navigation */

.logo, .nav-wrapper, nav .menu, nav .menu ul {
    display: inline
}

nav .menu ul {
    list-style: none;
}

nav .menu li {
    display: inline;
    margin: 10px;
}

nav .menu a {
    color: #ffa000;
}

nav .menu .dd {
    display: none;
}


.focus-text {
    font-size: 18px;
}

/* button that can be used for a call to action */
.sb-btn-action {
    background-color: #f99033;
    color: #ffffff;
}

.sb-btn-action:hover {
    background-color: #f99033;
    color: #ffffff;
}

.sb-btn-action-light {
    background-color: #ffffff;
    color: #f99033;

}

.sb-btn-action-light:hover {
    background-color: #ffffff;
    color: #f99033;
}

.orange-columns {
    background-color: #ffa000;
    background-image: linear-gradient(
            to right,
            #ffa000 0%, #ffa000 33%, #ff8f00 33%, #ff8f00 66%, #ff6f00 66%
        );

}

.intro {
    background: url(/static/img/skyline.jpg) no-repeat center center;
    background-position: top;
    background-size: cover;
    height: 475px;

}

.about-box {
    background-color: #f3f3f3;
    border-radius: 20px;
    opacity: 0.97;
    padding: 30px;
    max-width: 600px;
    position: relative;
    left: 30px;
    top: 30px;
}

.about-box .sb-btn-action {
    opacity: 1.0;
    width: 60%;
    height: 60px;
    margin-left: 40%;
    font-size: 30px;

}

.super-readers .focus-text {
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 40px;
    margin: 40px;
}

.super-readers .sb-btn-action {
    margin: 40px 5px;
    padding: 20px;
    font-size: 20px;

}

.spotlight.badges .excerpt {
    font-size: 20px;
}

.spotlight.badges h2 {
    margin-bottom: 20px;
}



.down-icon {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

.stories-featured {
    height: 400px;
}

.title {
    text-align: center;
    font-size: 90px;
    text-shadow: 1px 1px 1px #ccc;
}

.spotlight {
    margin-bottom: 40px;
}

.story-wrapper {
    background-color: #EAEAEA;
    padding: 30px;
    min-height: 300px;

}

.story-preview {
    padding: 15px;
    overflow: hidden;
}

.story-preview h4 {
    padding: 10px;
}

.story-preview img {
    margin-right: 40px;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.excerpt {
    margin-top: 20px;
}

.explore {
    min-height: 400px;
}

.explore .title {
    color: white;
}

.explore .col-sm-4 {
    text-align: center;
    margin-top: 30px;
}

.explore .row {
    margin-top: 34px;
}

.explore .search-select, .explore .form-control {
    width: 70%;
    background-color: #ffffff;
    height: 40px;
    border-color: transparent;
    border-radius: 5px;
}
