{% load i18n %}
{% comment %}
context:
- more_link_text, eg "View Projects" or "View Stories"
- more_link_url, a link to full listing of projects or stories
- objects, a list of dicts with keys:
    title
    author
    date
    image_html
    excerpt
    url
    more_link_text
    more_link_url
{% endcomment %}
<ul class="slides">
    {% for object in objects %}
    <li>
        <div class="image">
            {{ object.image_html|safe }}
        </div>
        <div class="text">
            <h5><a href="{{ object.url }}" title="{{ object.title }}">{{ object.title }}</a></h5>
            <p class="byline">{% if object.author %}<span class="author">{{ object.author }}</span> {% endif %}<span class="date">{{ object.date|date:"F j, Y" }}</span></p>
            <div class="excerpt">{{ object.excerpt|safe }}</div>
            {% if object.more_link_url %}<p><a class="more" href="{{ object.more_link_url }}">{{ object.more_link_text }}</a></p>{% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
