{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  <div><input type="hidden" name="next" value="{{ story.get_absolute_url }}#comments" /></div>
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% ifequal field.name "name" %}
      {# Don't show the field #}
      {% else %}{% ifequal field.name "email" %}
      {% else %}{% ifequal field.name "url" %}
      {% else %}{% ifequal field.name "title" %}
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }} {{ field }}
        </p>
        {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    {% comment %}
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
    {% endcomment %}
  </p>
</form>
