{% comment %}
Template for the "My Account" drop-down in the megamenu. Intended to be
rendered using the storybase_menu tag.
{% endcomment %}
{% load i18n %}
<li id="my-account" class="right"><a class="top-nav" href="{% url "account_stories" %}">{% trans "My Account"|upper %}<em></em></a>
<div class="dd onecol">
    <div class="dd-col col1">
        <ul>
            {% for item in menu_items %}
            <li class="{% if item.active %}selected{% endif %}"><a href="{{ item.url }}" title="{{ item.tooltip }}">{{ item.label }}</a></li>
            {% endfor %}
            <li style="margin-top:20px"><a href="{% url "auth_logout" %}">{% trans "Sign Out" %}</a></li>
        </ul>
    </div>
</div>
</li>
