{% comment %}
Top-level navigation that appears at the top of most pages.

This is designed to be included in most pages using the ``show_menu`` tag::

    {% show_menu 0 0 0 0 "menu/megamenu.html" %}

Pages/custom menu entries can be added to the megamenu by adding their page
reverse ID or custom menu item ID to the STORYBASE_MEGAMENU_ITEMS setting.

Then, add a template that inherits from "menu/megamenu_extra_base.html" named
"menu/megamenu_extra_MENU_ID.html" where ``MENU_ID`` is the CMS page reverse
ID or the custom menu item ID.
{% endcomment %}

{% load i18n cms_tags menu_tags storybase_menu storybase_cms_tags %}

<div class="megamenu container_12 navigation" id="navigation">
  <ul class="nav">
    {% for child in children|megamenuitems %}
    {% with menu_title=child.get_menu_title menu_url=child.attr.redirect_url|default:child.get_absolute_url menu_id=child.attr.reverse_id|default:child.id %}

    {% with extra_template=menu_id|megamenutemplate %}
    <li class="{% if not extra_template %}nodd{% endif %}{% if forloop.last %} last"{% else %}"{% endif %}>
    <a class="top-nav {{ menu_id }}{% if child.selected %} selected{% endif %}{%if child.ancestor %} ancestor{% endif %}" href="{{ menu_url }}">{{ menu_title|upper }}{% if extra_template %}<em></em>{% endif %}</a>
      {% if extra_template %}{% include extra_template %}{% endif %}
    </li>
    {% endwith %}
    {% endwith %}
    {% endfor %}

    {# Show the "My Account" menu for authenticated users #}
    {% if user.is_authenticated %}
    {% storybase_menu "my_account" "menu/megamenu_account.html" request.path %}
    {% else %}
    <li class="right nodd"><a class="top-nav" href="{% url "auth_login" %}">{% trans "Sign In"|upper %}</a></li>
    {% endif %}
  </ul>
</div>
