{% comment %}
Top-level navigation that appears at the top of most pages.

This is designed to be included in most pages using the ``show_menu`` tag::

    {% show_menu 0 0 0 0 "menu/megamenu.html" %}

Pages/custom menu entries can be added to the megamenu by adding their page
reverse ID or custom menu item ID to the STORYBASE_MEGAMENU_ITEMS setting.

Then, add a template that inherits from "menu/megamenu_extra_base.html" named 
"menu/megamenu_extra_MENU_ID.html" where ``MENU_ID`` is the CMS page reverse
ID or the custom menu item ID.
{% endcomment %}

{% load i18n cms_tags menu_tags storybase_menu storybase_cms_tags %}

{# Show the "My Account" menu for authenticated users #}
{% if user.is_authenticated %}
{% storybase_menu "my_account" "menu/megamenu_account.html" request.path %}
{% endif %}

<div class="megamenu container_12 navigation" id="navigation">
  <ul>
    {% for child in children|megamenuitems %}
    {% with menu_title=child.get_menu_title menu_url=child.attr.redirect_url|default:child.get_absolute_url menu_id=child.attr.reverse_id|default:child.id %}
    {% with extra_template_name="menu/megamenu_extra_"|add:menu_id|add:".html" %}
    <li {% if forloop.first %}class="nodd"{% elif forloop.last %}class="last"{% else %}{% endif %}>
    <a class="top-nav {{ menu_id }}{% if child.selected %} selected{% endif %}{%if child.ancestor %} ancestor{% endif %}" href="{{ menu_url }}">{{ menu_title|upper }}{% if menu_id != "home" %}<em></em>{% endif %}</a>
      {% if menu_id != "home" %}{% include extra_template_name %}{% endif %}
    </li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </ul>
</div>
