{% extends "menu/megamenu_extra_base.html" %}
{% load i18n %}
{% block megamenu_extra_num_cols %}threecol{% endblock %}
{% block megamenu_extra %}
<div class="dd-col col1">
  <h6><a href="{{ menu_url }}">{% trans "Take your storytelling to the next level." %}</a></h6>
  <p>
    {% blocktrans %}
    Create an amazing story in minutes. Start by choosing a template -- like photo voice, explainer, or data story. Customize it with your text, photos, video, audio, data and more. Include a call to action to inspire your readers to get involved.
    {% endblocktrans %}
  </p>
  <p><a href="{{ menu_url }}">{% trans "Learn more" %}&hellip;</a></p>
</div>
<div class="dd-col col2-3">
  <a class="create-your-story" href="{% url story_builder %}">{% trans "Create Your Story" %}</a>
</div>
{% endblock %}
