{% extends "menu/megamenu_extra_base.html" %}
{% load cms_tags i18n %}
{% block megamenu_extra_num_cols %}fourcol{% endblock %}
{% block megamenu_extra_col2 %}
<div class="dd-col col2">
  <p>
    {% blocktrans %}
    Your story matters. Without it, nothing happens. Floodlight is a <strong>tool</strong> for creating meaningful stories on the web that are visually compelling, supported by facts and encourage community action. Floodlight is also a <strong>place</strong> to share stories and uncover connections between them.
    {% endblocktrans %}
  </p>
</div>
{% endblock %}
{% block megamenu_extra_col3 %}
<div class="dd-col col3">
  <h6>{% trans "On Floodlight, you can&hellip;" %}</h6>
  <p>
    {% blocktrans %}
    <strong>Build</strong> a breakthrough story using photos, videos, data and more.<br>
    <strong>Learn</strong> how to be a better storyteller through training and resources.<br>
    <strong>Read</strong> and contribute to the stories others are sharing.
    {% endblocktrans %}
  </p>
</div>
{% endblock %}
{% block megamenu_extra_col4 %}
<div class="dd-col col4">
  <p>
    {% blocktrans %}
    By connecting <em>storytellers</em>, <em>story sharers</em> and <em>story readers</em>, Floodlight is a project to brighten, inform and transform community though the power of story.
    {% endblocktrans %}
  </p>
</div>
{% endblock %}
