{% load cms_tags thumbnail i18n sekizai_tags %}
{% with activity=instance.activity %}
<div class="activity-plugin is-collapsed">
    <div class="img-container">
        <img src="{% thumbnail activity.image 222x0 crop=smart %}" />
    </div>
    <h3 class="title">{% if activity.page %}<a href="{% page_url activity.page %}" class="">{% endif %}{{ activity.title }}{% if activity.page %}</a>{% endif %}</h3>
    <button title="{% trans "Read more" %}" href="#" class="toggle icon-plus"></button>
    <div class="activity-info">
        <div class="description">{{ activity.description }}</div>
        <dl>
            <dt>{% trans "Time" %}</dt>
            <dd>{{ activity.time }}</dd>
            <dt>{% trans "Supplies" %}</dt>
            <dd>{{ activity.supplies }}</dd>
            <dt>{% trans "People" %}</dt>
            <dd>{{ activity.num_participants }}</dd> 
            <dt>{% trans "Get activity" %}</dt>
            <dd>{{ activity.links|safe }}</dd>
        </dl>
    </div>
</div>
{% endwith %}

{% addtoblock "js" %}
<script>
;(function($) {
    Modernizr.load([
      {
          test: $.storybaseActivityGuide,
          nope: ["{{ STATIC_URL }}js/libs/jquery.masonry.min.js","{{ STATIC_URL }}js/jquery.storybase.activityguide.min.js"],
          complete: function() {
            $(document).ready(function() {
              $('.activity-plugin').storybaseActivityGuide();
            });
          }
      }
])})(jqLatest);
</script>
{% endaddtoblock %}
